<%- include ("partials/header") -%>
	<script>
		var treceLice = <%-JSON.stringify(treceLice)%>;
		var nalog = <%-JSON.stringify(nalog)%>;
		var izvestaji = <%-JSON.stringify(izvestaji)%>;
	</script>
	<div class="pageWidth">
		<div class="administracijaNalog nalog trecaLica">
			<div class="boxesWrap">
				<div class="box" style="cursor:pointer;" onclick="window.open('https://www.google.com/maps/search/?api=1&query='+nalog.adresa.replace(/,/g, '%2C').replace(/ /g, '+'),'_blank')">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/locationIcon.png"></div>
					<div class="info">
						<div class="title">Треће лице</div>
						<div class="text"><%=treceLice.naziv%></div>
						<div class="title">Адреса</div>
						<div class="text"><span id="adresa-naloga"></span></div>
						<script>
							document.getElementById("adresa-naloga").innerHTML = nalog.adresa;
						</script>
						<div class="note"></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/statusIcon.png"></div>
					<div class="info">
						<div class="title">Статус</div>
						<div class="text">
							<select id="status-naloga">
								<option value="Primljen" default="default">Примљен</option>
								<option value="Dodeljen majstoru">Додељен мајстору</option>
								<option value="Potrebna WOMA">ВОМА</option>
								<option value="Kombinovano">Комбиновано</option>
								<option value="Zagušenje">Загушење</option>
								<option value="Zamena">Замена</option>
								<option value="Crpljenje">Црпљење</option>
								<option value="Dezinfekcija">Дезинфекција</option>
								<option value="Masinsko kopanje">Машинско копање</option>
								<option value="Rucno kopanje">Ручно копање</option>
								<option value="Finalizacija">Финализација</option>
								<option value="Betonaža">Бетонажа</option>
								<option value="Asfalt">Асфалт</option>
								<option value="Bekaton">Бекатон</option>
								<option value="Preventivno čišćenje">Превентивно чишћење</option>
								<option value="Snimanje kamerom">Снимање камером</option>
								<option value="Završeno">Завршено</option>
								<option value="Fakturisan">Фактурисан</option>
								<option value="Doniran">Дониран</option>
								<option value="Storniran">Сторниран</option>
							</select>
							<script>
								document.getElementById("status-naloga").value=nalog.statusNaloga;
							</script>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/datumIcon.png"></div>
					<div class="info">
						<div class="title">Датум налога</div>
						<div class="text"><span id="datum-naloga"></span></div>
						<script>
							document.getElementById("datum-naloga").innerHTML = nalog.datum.datum;
						</script>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/datumIcon.png"></div>
					<div class="info">
						<div class="title">Датум радова</div>
						<div class="text"><input type="date" id="datum-radova"></div>
						<script>
							document.getElementById("datum-radova").value = nalog.datumRadova ? nalog.datumRadova : getDateAsStringForInputObject(new Date(Number(nalog.datum.datetime)));
						</script>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nalogIcon.png"></div>
					<div class="info">
						<div class="title">Име контакта</div>
						<div class="text"><input type="text" id="kontakt-naloga"></div>
						<script>
							document.getElementById("kontakt-naloga").value = nalog.kontaktNaloga ? nalog.kontaktNaloga : "";
						</script>
					</div>
				</div><div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nalogIcon.png"></div>
					<div class="info">
						<div class="title">Телефон</div>
						<div class="text"><input type="number" id="telefon-naloga"></div>
						<script>
							document.getElementById("telefon-naloga").value = nalog.telefonNaloga ? nalog.telefonNaloga : "";
						</script>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/majstorIcon.png"></div>
					<div class="info">
						<div class="title">Мајстор</div>
						<div class="text">
							<select id="majstor-naloga">
								<optgroup label="Мајстори" id="majstori-pg">
									<option value="Nijedan" default="default">Nijedan</option>
								</optgroup>
								<optgroup label="Финализери" id="finalizeri"></optgroup>
								<optgroup label="Воме" id="vome"></optgroup>
								<optgroup label="Podizvodjaci" id="majstori-podizvodjaci"></optgroup>
							</select>
						</div>
						<script>
							var majstori = <%-JSON.stringify(majstori)%>;
							majstori.sort((a, b) => a.ime.localeCompare(b.ime));
							for(var i=0;i<majstori.length;i++){
								if(!majstori[i].inactive){
									var option = document.createElement("OPTION");
									option.setAttribute("value",majstori[i].uniqueId);
									option.innerHTML	=	majstori[i].ime;	
									
									if(podizvodjaci.indexOf(majstori[i].uniqueId)>=0){
										document.getElementById("majstori-podizvodjaci").appendChild(option);
									}else{
										if(majstori[i].tipRada.indexOf("Finalizacija")>=0){
											document.getElementById("finalizeri").appendChild(option);
										}else if(majstori[i].tipRada.indexOf("Voma")>=0){
											document.getElementById("vome").appendChild(option);
										}else{
											document.getElementById("majstori-pg").appendChild(option);
										}
										
									}
								}
							}
							document.getElementById("majstor-naloga").value = nalog.majstor ? nalog.majstor : "Nijedan"
						</script>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/iznosIcon.png"></div>
					<div class="info">
						<div class="title">Износ налога</div>
						<div class="text"><input type="number" id="iznos-naloga"></div>
						<script>
							document.getElementById("iznos-naloga").value = nalog.ukupanIznos ? nalog.ukupanIznos : 0;
						</script>
					</div>
				</div>
				<div class="box" id="fizicko-box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/iznosIcon.png"></div>
					<div class="info">
						<div class="title">Начин плаћања</div>
						<div class="text">
							<select id="nacin-placanja">
								<option value="Keš">Keš</option>
								<option value="PNR">PNR</option>
							</select>
						</div>
						<div class="text">
							<input type="text" placeholder="PNR broj" id="PNR">
						</div>
						<script>
							document.getElementById("nacin-placanja").value = nalog.nacinPlacanja ? nalog.nacinPlacanja : "Keš";
							document.getElementById("PNR").value = nalog.PNR ? nalog.PNR : "";
						</script>
					</div>
				</div>
				<div class="box" id="pravno-box" style="display:none">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/iznosIcon.png"></div>
					<div class="info">
						<div class="title">Број уговора</div>
						<div class="text">
							<select id="broj-ugovora"></select>
						</div>
						<script>
							if(treceLice.ugovori){
								for(var i=0;i<treceLice.ugovori.length;i++){
									var option = document.createElement("OPTION");
									option.setAttribute("value",treceLice.ugovori[i].naziv);
									option.innerHTML = treceLice.ugovori[i].naziv;
									document.getElementById("broj-ugovora").appendChild(option);
								}
							}
							
							document.getElementById("broj-ugovora").value = nalog.brojUgovora ? nalog.brojUgovora : "";
						</script>
						<div class="title">Број спецификације</div>
						<div class="text">
							<input id="broj-specifikacije" type="text">
						</div>
						<div class="title">Број fakture</div>
						<div class="text">
							<input id="broj-fakture" type="text">
						</div>
						<script>
							document.getElementById("broj-specifikacije").value = nalog.brojSpecifikacije ? nalog.brojSpecifikacije : "";
							document.getElementById("broj-fakture").value = nalog.brojFakture ? nalog.brojFakture : "";
						</script>
					</div>
				</div>
				<script>
					document.getElementById("fizicko-box").style.display = "block";
					if(treceLice.tip=="pravno"){
						document.getElementById("fizicko-box").style.display = "none";
						document.getElementById("pravno-box").style.display = "block";
					}
				</script>
				
				
			</div>
			<div class="detalji">
				<div class="title">Оператива</div>
				<div class="boxesWrap">
					<div class="box">
						<div class="info">
							<div class="title">Опис налога</div>
							<div class="text"><textarea id="opis-naloga"></textarea></div>
							<script>
								document.getElementById("opis-naloga").value = nalog.opisNaloga;
							</script>
						</div>
					</div>
				</div>
			</div>
			<div class="saveNalog">
				<div class="inputWrapper">
					<div class="inputWrap">
						<div class="button" onclick="saveNalogIzmene()">САЧУВАЈ ИЗМЕНЕ НА НАЛОГУ</div>
					</div>
				</div>
				<form id="nalog-form" style="display: none;" method="POST" action="/izmenaNalogaTrecegLica">
					<input type="text" id="nalog-form-json" name="json">
				</form>
				<script>
					console.log(nalog)
					function saveNalogIzmene(){
						var json = {};
						json.uniqueId = nalog.uniqueId;
						json.statusNaloga = document.getElementById("status-naloga").value;
						json.datumRadova = document.getElementById("datum-radova").value;
						json.kontaktNaloga = document.getElementById("kontakt-naloga").value;
						json.telefonNaloga = document.getElementById("telefon-naloga").value;
						json.majstor = document.getElementById("majstor-naloga").value;
						json.ukupanIznos = document.getElementById("iznos-naloga").value;
						json.nacinPlacanja = document.getElementById("nacin-placanja").value;
						json.PNR = document.getElementById("PNR").value;
						json.brojUgovora = document.getElementById("broj-ugovora").value;
						json.brojSpecifikacije = document.getElementById("broj-specifikacije").value;
						json.brojFakture = document.getElementById("broj-fakture").value;
						json.opisNaloga = document.getElementById("opis-naloga").value;

						document.getElementById("nalog-form-json").value = JSON.stringify(json);
						loadGif();
						document.getElementById("nalog-form").submit();

					}
				</script>
			</div>
			<div class="izvestaji">
				<div class="title">Извештаји</div>
				<!--<div class="qrWrap">
					<div id="qr"></div>
					<div class="sticker"><div class="relative"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/logo.png"></div></div>
					<div class="note"><div>Скенирајте како би додали слике са вашег телефона.</div></div>
				</div>
				<script src="/js/qr.js"></script>
				<script>
					function generateQr(accessCode){
						document.getElementById("qr").innerHTML = "";
						document.getElementById("qr").title = "";
						var qrcode = new QRCode("qr", {
						    text: "https://vik2024.poslovigrada.rs/nalog/<%=nalog.broj%>/"+accessCode+"/"+encodeURIComponent(user.email),
						    width: 150,
						    height: 150,
						    colorDark : "#000000",
						    colorLight : "#ffffff",
						    correctLevel : QRCode.CorrectLevel.M
						});
					}
					generateQr("<%=phoneAccessCode%>")
					socket.on("phoneAccessCode",function(code){
						generateQr(code);
					})
				</script>-->
				<div id="komentari" style="margin-top:50px !important"></div>
				<script>
					for(var i=0;i<izvestaji.length;i++){
						var izvestajBox = document.createElement("DIV");
						if(izvestaji[i].user.email == "<%=user.email%>"){
							izvestajBox.setAttribute("class","izvestajBox izvestajUser");
						}else{
							izvestajBox.setAttribute("class","izvestajBox");
						}
							var izvestajName = document.createElement("DIV");
							izvestajName.setAttribute("class","name");
							izvestajName.innerHTML = izvestaji[i].user.name + " <span>"+datetimeToReadable(izvestaji[i].datetime)+"</span>";
							izvestajBox.appendChild(izvestajName);

							var izvestajText = document.createElement("DIV");
							izvestajText.setAttribute("class","text");
							izvestajText.innerHTML = izvestaji[i].izvestaj;
							izvestajBox.appendChild(izvestajText);

							var izvestajPhotos = document.createElement("DIV");
							izvestajPhotos.setAttribute("class","previewImages");
							for(var j=0;j<izvestaji[i].photos.length;j++){
								var izvestajPhoto = document.createElement("DIV");
								izvestajPhoto.setAttribute("class","imagePreview")
								izvestajPhoto.setAttribute("onclick","previewImage(this,\""+nalog.broj+"\")");;
									var izvestajImage = document.createElement("IMG");
									izvestajImage.setAttribute("class","image");
									izvestajImage.setAttribute("src",izvestaji[i].photos[j])
									izvestajPhoto.appendChild(izvestajImage);
								izvestajPhotos.appendChild(izvestajPhoto);
							}
							if(izvestaji[i].signature){
								var signCanvas = document.createElement("CANVAS");
								signCanvas.setAttribute("width","1000");
								signCanvas.setAttribute("height","1000");
								izvestajPhotos.appendChild(signCanvas);
								var signPad = new SignaturePad(signCanvas,{penColor: "rgb(0,0,0)"});
								signPad.fromData(izvestaji[i].signature);
								var photo = document.createElement("DIV");
								photo.setAttribute("class","imagePreview");
								photo.setAttribute("onclick","previewImage(this)");
								photo.setAttribute("style","background:none");
									var image = document.createElement("IMG");
									image.setAttribute("class","image");
									image.setAttribute("src",signPad.toDataURL());
									photo.appendChild(image);
								izvestajPhotos.appendChild(photo);
								signCanvas.remove();
							}
							izvestajBox.appendChild(izvestajPhotos);
						document.getElementById("komentari").appendChild(izvestajBox);

					}
				</script>
				<div class="inputWrapper">
					<div class="inputWrap buttonWrap izvestajInputWrap">
						<textarea id="komentar" placeholder="Текст извештаја"></textarea>
						<div class="previewImages" id="preview-images"></div>
						<div class="buttonWrap" onclick="document.getElementById('slike-input').click()">
							<div class="button">
								<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/addImageIcon.png"></div>
								<div class="label">Додај слике</div>
								<form method="POST" action="/edit-nalog-treca-lica" id="form" enctype="multipart/form-data" style="display:none;">
									<input type="text" name="json" id="json">
									<input type="file" id="slike-input" name="image"  accept="image/*" multiple>
								</form>
								<script>
									document.getElementById("slike-input").onchange = evt => {
										document.getElementById("preview-images").innerHTML = "";
										for(var i=0;i<document.getElementById("slike-input").files.length;i++){
											var imagePreview =	document.createElement("DIV");
											imagePreview.setAttribute("class","imagePreview");
											imagePreview.setAttribute("onclick","previewImage(this,"+nalog.broj+")");
												var image = document.createElement("IMG");
												image.setAttribute("class","image");
												image.setAttribute("src",URL.createObjectURL(document.getElementById("slike-input").files[i]));
												imagePreview.appendChild(image)
											document.getElementById("preview-images").appendChild(imagePreview);
										}
										if(document.getElementById("slike-input").files.length>20){
											alert("УПОЗОРЕЊЕ!! Могуће је окачити максимално 20 слика по извештају. Уколико желите да окачите више од 10 слика направите два извештаја.");
											document.getElementById("preview-images").innerHTML = "";
											document.getElementById("slike-input").value = "";
										}
									}
								</script>
							</div>
						</div>
						<div class="dropSlike" id="drop-zone" style="">Или превуци слике овде</div>
						<script>
							var dropContainer = document.getElementById("drop-zone");
							dropContainer.ondragover = dropContainer.ondragenter = function(evt) {
							  evt.preventDefault();
							};

							dropContainer.ondrop = function(evt) {
							  // pretty simple -- but not for IE :(
							  	document.getElementById("slike-input").files = evt.dataTransfer.files;
							  	document.getElementById("drop-zone").classList.remove("dropHot");
							  	document.getElementById("preview-images").innerHTML = "";
								for(var i=0;i<document.getElementById("slike-input").files.length;i++){
									var imagePreview =	document.createElement("DIV");
									imagePreview.setAttribute("class","imagePreview");
									imagePreview.setAttribute("onclick","previewImage(this)");
										var image = document.createElement("IMG");
										image.setAttribute("class","image");
										image.setAttribute("src",URL.createObjectURL(document.getElementById("slike-input").files[i]));
										imagePreview.appendChild(image)
									document.getElementById("preview-images").appendChild(imagePreview);
								}
								if(document.getElementById("slike-input").files.length>20){
									alert("УПОЗОРЕЊЕ!! Могуће је окачити максимално 20 слика по извештају. Уколико желите да окачите више од 10 слика направите два извештаја.");
									document.getElementById("preview-images").innerHTML = "";
									document.getElementById("slike-input").value = "";
								}
							  evt.preventDefault();
							};

							dropContainer.ondragover = function(evt) {
							  evt.preventDefault();
							  document.getElementById("drop-zone").classList.add("dropHot");
							};

							dropContainer.ondragleave = function(evt) {
							  evt.preventDefault();
							  document.getElementById("drop-zone").classList.remove("dropHot");
							};
						</script>
					</div>
				</div>
				<div class="saveNalog">
					<div class="inputWrapper">
						<div class="inputWrap">
							<div class="button" onclick="saveNalog()">САЧУВАЈ ИЗВЕШТАЈ</div>
						</div>
					</div>
				</div>
			</div>
			<script>

				function saveNalog(){
					var nalogJson = {};
					nalogJson.id = nalog.uniqueId;
					nalogJson.broj = nalog.broj;
					nalogJson.status = document.getElementById("status-naloga").value;
					nalogJson.izvestaj = document.getElementById("komentar").value;

					nalogJson.stariNalog = {};
					nalogJson.stariNalog.statusNaloga = nalog.statusNaloga;
					nalogJson.stariNalog.obracun = nalog.obracun;
					document.getElementById("json").value = JSON.stringify(nalogJson);
					loadGif();
					document.getElementById("form").submit();
				}

				
				
			</script>
		</div>
	</div>	
<%- include ("partials/footer") -%>