<%- include ("partials/header-nl") -%>
		<div class="blueWrap">
			<div class="pageWidth checkInPage">
				<script>
					var majstor = false;
					majstor = <%- JSON.stringify(majstor)%>;
					var majstorType = <%=majstorType%>;
					var serverToken = window.location.href.split("/")[4];
				</script>
				<div style="width:1px;height:1px;overflow:hidden">
					<input type="text" id="tag-input">
				</div>
				<script>

				document.addEventListener('keydown', (event) => {
					if (event.key.length === 1) {
						document.getElementById("tag-input").value += event.key; // Append the typed character to the input field
					}
					var keyCode = event.code || event.key;
					if (keyCode == 'Enter'){
						loadGif();
						window.location.href = "/majstorCheckIn/"+serverToken + "/"+Number(document.getElementById("tag-input").value);
					}
				})
        
				</script>
				
					

					<div class="videoWrap">
						<video poster="https://poslovigrada.rs/videos/PGHome.jpg" autoplay muted loop playsinline>
							<source src="https://poslovigrada.rs/videos/PGHome.mp4">
						</video>
					</div>

					<div class="majstorCheckIn">
						<div class="title">
							<% if(majstorType==2) {%>
								<%-majstor.name%>
							<% }else{ %>
								<%-majstor.ime%>
							<% } %>
						</div>
						<div class="vreme"><%-vreme%></div>						
						<div class="srecanRad"><%- message%></div>
					</div>
					<div class="message">Број картице: <%=kartica%></div>
					<div class="pageLogo"><img src="https://poslovigrada.rs/images/menuLogo.png"></div>
					<script>
						setTimeout(function(){document.getElementsByClassName("majstorCheckIn")[0].style.display="none";document.getElementsByClassName("message")[0].style.display="none";},30000)
					</script>	
				
			</div>
		</div>
	</div><!--page wrap-->
<%- include ("partials/footer") -%>