<%- include ("partials/header") -%>
		<script>
			var majstor = <%- JSON.stringify(majstor)%>;
			var checkIns = <%- JSON.stringify(checkIns)%>;
			var napomene = <%- JSON.stringify(opomene)%>;
		</script>
		<div class="blueWrap">
			<div class="pageWidth ucinakPage">
				<div class="ucinakStats">
					<div class="inlines">
						<div class="inline">Радних дана:</div>
						<div class="inline" id="ukupno-dana"></div>
					</div>
					<div class="inlines">
						<div class="inline">Укупно сати:</div>
						<div class="inline" id="ukupno-sati"></div>
					</div>
				</div>
				<div class="calendarTableWrap">
					<table id="calendar-table">
						<tr>
							<th>ПОН</th>
							<th>УТО</th>
							<th>СРЕ</th>
							<th>ЧЕТ</th>
							<th>ПЕТ</th>
							<th>СУБ</th>
							<th>НЕД</th>
						</tr>
						<tr></tr>
						<tr></tr>
						<tr></tr>
						<tr></tr>
						<tr></tr>
						<tr></tr>
					</table>
				</div>
				
			</div>
		</div>
		<script>
			//Initialize table with TD's
			var tableRows	=	document.getElementById("calendar-table").querySelectorAll("TR");
			for(var i=1;i<tableRows.length;i++){
				for(var j=0;j<7;j++){
					var td	=	document.createElement("TD");
						var div = document.createElement("DIV");
						div.setAttribute("class","value");
						td.appendChild(div)
					tableRows[i].appendChild(td);
				}
			}
			var month = "<%=month%>";
			var year = "<%=year%>";
			var adaptedMonth = month.length>1 ? month : "0"+month;
			var today = new Date(year+"-"+adaptedMonth+"-01");
			var year 			=	today.getFullYear();
			var month 			=	today.getMonth()+1;
			var date			=	new Date(year,month-1,1);
			var daysInMonth		=	new Date(year,month,0).getDate();
			var weekDay			=	(date.getDay()==0) ? 7:date.getDay();//Return week day as 1-7
			for(var i=1;i<=daysInMonth;i++){
				var tempDate			=	new Date(year,month-1,i);
				var calendarElement		=	document.createElement("DIV");
				calendarElement.setAttribute("class","calendarElement");
				calendarElement.setAttribute("data-datetime",tempDate.getTime());
				calendarElement.setAttribute("data-date",tempDate.getDate());

					var dateTitle		=	document.createElement("DIV");
					dateTitle.innerHTML	=	i+".";
					dateTitle.setAttribute("class","calendarDateTitle");
					calendarElement.appendChild(dateTitle);

					var calendarValue = document.createElement("DIV");
					calendarValue.setAttribute("class","calendarValue");
						var inlines = document.createElement("DIV");
						inlines.setAttribute("class","inlines");
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline");
							inline.innerHTML = "Долазак:";
							inlines.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline dolazak");
							inlines.appendChild(inline);
						calendarValue.appendChild(inlines);
						
						var inlines = document.createElement("DIV");
						inlines.setAttribute("class","inlines");
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline");
							inline.innerHTML = "Одлазак:";
							inlines.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline odlazak");
							inlines.appendChild(inline);
						calendarValue.appendChild(inlines);
						
						var inlines = document.createElement("DIV");
						inlines.setAttribute("class","inlines");
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline");
							inline.innerHTML = "Сатница:";
							inlines.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline satnica");
							inlines.appendChild(inline);
						calendarValue.appendChild(inlines);
						
						var inlines = document.createElement("DIV");
						inlines.setAttribute("class","inlines");
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline");
							inline.innerHTML = "Напомене:";
							inlines.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline napomene");
							inlines.appendChild(inline);
						calendarValue.appendChild(inlines);
						
					calendarElement.appendChild(calendarValue);
				if(i==1){
					document.getElementById("calendar-table").querySelectorAll("TR")[1].querySelectorAll("TD")[weekDay-1].getElementsByClassName("value")[0].appendChild(calendarElement);
				}else{
					var elementPlaced	=	false;
					for(var j=1;j<tableRows.length;j++){
						if(elementPlaced){
							break;
						}
						var rowTds	=	tableRows[j].querySelectorAll("TD");
						var k		=	(j==1) ? weekDay-1:0;
						for(k;k<rowTds.length;k++){
							if(!rowTds[k].querySelectorAll(".calendarElement")[0]){
								rowTds[k].getElementsByClassName("value")[0].appendChild(calendarElement);
								elementPlaced	=	true;
								break;
							}
						}
					}
				}
			}

			var sviNalozi = [];
			var brojRadnihDana = 0;
			var brojSati = 0;
			var calendarElements = document.getElementsByClassName("calendarElement");
			for(var i=0;i<calendarElements.length;i++){
				var calendarElement = calendarElements[i];
				var elem = calendarElement.getElementsByClassName("calendarValue")[0];
				var dolazak = false;
				var odlazak = false;
				for(var j=0;j<checkIns.length;j++){
					var checkIn = checkIns[j]
					if(checkIn.date==String(Number(calendarElement.dataset.date)).padStart(2,"0")){
						var checkDate = new Date(Number(checkIn.datetime));
						if(checkDate.getHours()<13){
							elem.getElementsByClassName("dolazak")[0].innerHTML = checkIn.timestamp;
							dolazak = checkDate;	
						}else{
							elem.getElementsByClassName("odlazak")[0].innerHTML = checkIn.timestamp;
							odlazak = checkDate;
						}
					}
				}
				if(dolazak && odlazak){
					var totalMiliseconds = odlazak.getTime() - dolazak.getTime();
					brojSati = brojSati + totalMiliseconds;
					var totalMinutes =  Math.floor(totalMiliseconds / 60000);
					var hours = Math.floor(totalMinutes / 60);
   					var minutes = totalMinutes % 60;
   					elem.getElementsByClassName("satnica")[0].innerHTML = String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0');
				}

				if(dolazak || odlazak){
   					brojRadnihDana++;
				}
				for(var j=0;j<napomene.length;j++){
					if(napomene[j].date==String(Number(calendarElement.dataset.date)).padStart(2,"0")){
						var napomena = document.createElement("DIV");
						napomena.setAttribute("class","napomenaElem");
							var tooltip = document.createElement("DIV");
							tooltip.setAttribute("class","tooltip");
							tooltip.innerHTML = napomene[j].opomena;
							napomena.appendChild(tooltip);
						calendarElement.getElementsByClassName("napomene")[0].appendChild(napomena)
					}
				}
			}

			document.getElementById("ukupno-dana").innerHTML = brojRadnihDana +" / "+countWorkdays(Number(year), Number(month), []);
			var totalMinutes =  Math.floor(brojSati / 60000);
			var hours = Math.floor(totalMinutes / 60);
				var minutes = totalMinutes % 60;
			document.getElementById("ukupno-sati").innerHTML = hours.toString().padStart(2,"0")+":"+minutes.toString().padStart(2,"0");

		</script>
	</div><!--page wrap-->
<%- include ("partials/footer") -%>