<%- include ("partials/header") -%>
		<div class="blueWrap">
			<div class="pageWidth">
				<script>
					var majstori = <%- JSON.stringify(majstori)%>;
					majstori.sort((a, b) => a.ime.localeCompare(b.ime));
					var pomocnici = <%- JSON.stringify(pomocnici)%>;
					pomocnici.sort((a, b) => a.ime.localeCompare(b.ime));
					var users = <%- JSON.stringify(users)%>;
					users.sort((a, b) => a.ime.localeCompare(b.ime));
				</script>
				<h2>Мајстор/Помоћник:</h2>
				<select id="majstor">
					<optgroup label="Мајстори" id="majstori"></optgroup>
					<optgroup label="Помоћници" id="pomocnici"></optgroup>
					<optgroup label="Админстрација" id="kancelarija"></optgroup>
				</select>
				<script>
					for(var i=0;i<majstori.length;i++){
						var option = document.createElement("OPTION");
						option.setAttribute("value",majstori[i].uniqueId);
						option.innerHTML = majstori[i].ime;
						document.getElementById("majstori").appendChild(option)
					}

					for(var i=0;i<pomocnici.length;i++){
						var option = document.createElement("OPTION");
						option.setAttribute("value",pomocnici[i].uniqueId);
						option.innerHTML = pomocnici[i].ime;
						document.getElementById("pomocnici").appendChild(option)
					}

					for(var i=0;i<users.length;i++){
						if(!users[i].email.startsWith("miloscane") && Number(users[i].role)>=10 && Number(users[i].role)!=30 && Number(users[i].role)!=40 && users[i].email!="stanislav.mihailovic@poslovigrada.rs" && users[i].email!="jelena.obradovic+kontrolor@poslovigrada.rs" && users[i].email!="milica.radun+kontrolor@poslovigrada.rs"){
							var option = document.createElement("OPTION");
							option.setAttribute("value",users[i].uniqueId);
							option.innerHTML = users[i].ime;
							document.getElementById("kancelarija").appendChild(option)
						}
						
					}
				</script>

				<h2>Месец:</h2>
				<select id="mesec">
					<option value="02.2025">Фебруар 2025</option>
					<option value="03.2025">Март 2025</option>
					<option value="04.2025">Април 2025</option>
					<option value="05.2025">Мај 2025</option>
					<option value="06.2025">Јун 2025</option>
					<option value="07.2025">Јул 2025</option>
					<option value="08.2025">Август 2025</option>
				</select>

				<h2>&nbsp;</h2>
				<button onclick="showMonth()">Претражи</button>
			</div>
		</div>
		<script>
			function showMonth(){
				loadGif();
				window.location.href = "/mesecnoPrisustvo/"+document.getElementById("mesec").value+"/"+document.getElementById("majstor").value;
			}
		</script>
	</div><!--page wrap-->
<%- include ("partials/footer") -%>