<%- include ("partials/header") -%>

	<script>
		var majstori = <%-JSON.stringify(majstori)%>;
		var pomocnici = <%-JSON.stringify(pomocnici)%>;
		var users = <%-JSON.stringify(users)%>;
		var datum = "<%=datum%>";
		majstori.sort((a, b) => a.ime.localeCompare(b.ime));
		pomocnici.sort((a, b) => a.ime.localeCompare(b.ime));
		users.sort((a, b) => a.ime.localeCompare(b.ime));
		var checkIns = <%-JSON.stringify(checkIns)%>;
		checkIns.sort((a, b) => Number(a.datetime) - Number(b.datetime));

		function formatTime(date) {
			return date.getHours().toString().padStart(2, "0") + ":" +
				   date.getMinutes().toString().padStart(2, "0");
		}

		function addCheckInData(list, checkIns) {
			list.forEach(user => {
				user.vremeDolaska = "/";
				user.vremeDolaskaUser = false;
				user.vremeOdlaska = "/";
				user.vremeOdlaskaUser = false;
				user.radnoVreme = "/";
				user.checkIns = checkIns.filter(checkIn => checkIn.uniqueId == user.uniqueId);

				if (user.checkIns.length > 1) {
					const prviCheckIn = user.checkIns[0];
					const zadnjiCheckIn = user.checkIns[user.checkIns.length - 1];

					const vremeDolaska = new Date(Number(prviCheckIn.datetime));
					const vremeOdlaska = new Date(Number(zadnjiCheckIn.datetime));

					const totalMiliseconds = vremeOdlaska.getTime() - vremeDolaska.getTime();

					user.vremeDolaska = formatTime(vremeDolaska);

					if (prviCheckIn.checkInUser) {
						user.vremeDolaskaUser = prviCheckIn.checkInUser;
					}

					// Ako je razlika manja od 1 sat, ne prikazuj vreme odlaska
					if (totalMiliseconds < 60 * 60 * 1000) {
						user.vremeOdlaska = "/";
						user.vremeOdlaskaUser = false;
						user.radnoVreme = "/";
						return;
					}

					user.vremeOdlaska = formatTime(vremeOdlaska);

					if (zadnjiCheckIn.checkInUser) {
						user.vremeOdlaskaUser = zadnjiCheckIn.checkInUser;
					}

					const totalMinutes = Math.floor(totalMiliseconds / 60000);
					const hours = Math.floor(totalMinutes / 60);
					const minutes = totalMinutes % 60;

					user.radnoVreme = String(hours).padStart(2, "0") + ":" + String(minutes).padStart(2, "0");

				} else if (user.checkIns.length == 1) {
					const vreme = new Date(Number(user.checkIns[0].datetime));

					if (vreme.getHours() < 14) {
						user.vremeDolaska = formatTime(vreme);
					} else {
						user.vremeOdlaska = formatTime(vreme);
					}
				}
			});
		}

		addCheckInData(majstori, checkIns);
		addCheckInData(pomocnici, checkIns);
		addCheckInData(users, checkIns);

		function getPomocnikByCard(card){
		  var pomocnik = {};
		  if(pomocnici){
		    for(var i=0;i<pomocnici.length;i++){
		      if(pomocnici[i].brojKartice.toString()==card.toString()){
		        pomocnik = pomocnici[i];
		        break;
		      }
		    }
		    if(!pomocnik.ime){
		      pomocnik.ime = "Нема";
		    }
		  }else{
		    //console.log("No array majstori defined");
		  }
		  return pomocnik
		}
	</script>
	<div class="pageWidth pregledPrisustva">
		<div class="drugiDatum">
			<span>Погледај присуство на дан:</span> <input type="date" id="date-input" oninput="dateInput()">
		</div>
		<script>
			function dateInput(){
				loadGif()
				window.location.href="/prisustvo/"+document.getElementById("date-input").value;
			}
		</script>
		<!--
			<option value="Одгушивач">Одгушивач</option>
			<option value="Вомаш">Вомаш</option>
			<option value="Багериста">Багериста</option>
			<option value="Копач">Копач</option>
			<option value="Финализер">Финализер</option>
		-->
		<table id="prisustvo-table">
			<tr>
				<td style="cursor: pointer;" onclick="printTable('zapad')">ЗАПАД</td>
				<td style="cursor: pointer;" onclick="printTable('istok')">ИСТОК</td>
			</tr>
			<tr>
				<td class="title">Mајстори</td>
				<td class="title">Mајстори</td>
			</tr>
			<tr>
				<td class="tabelica" id="majstori-zapad"></td>
				<td class="tabelica" id="majstori-istok"></td>
			</tr>
			<tr>
				<td class="title">Одгушивачи</td>
				<td class="title">Одгушивачи</td>
			</tr>
			<tr>
				<td class="tabelica" id="odgusivaci-zapad"></td>
				<td class="tabelica" id="odgusivaci-istok"></td>
			</tr>
			<tr>
				<td class="title">Вомаши</td>
				<td class="title">Вомаши</td>
			</tr>
			<tr>
				<td class="tabelica" id="vomasi-zapad"></td>
				<td class="tabelica" id="vomasi-istok"></td>
			</tr>
			<tr>
				<td class="title">Багеристи</td>
				<td class="title">Багеристи</td>
			</tr>
			<tr>
				<td class="tabelica" id="bageristi-zapad"></td>
				<td class="tabelica" id="bageristi-istok"></td>
			</tr>
			<tr>
				<td class="title">Копачи</td>
				<td class="title">Копачи</td>
			</tr>
			<tr>
				<td class="tabelica" id="kopaci-zapad"></td>
				<td class="tabelica" id="kopaci-istok"></td>
			</tr>
			<tr>
				<td class="title">Финализери</td>
				<td class="title">Финализери</td>
			</tr>
			<tr>
				<td class="tabelica" id="finalizeri-zapad"></td>
				<td class="tabelica" id="finalizeri-istok"></td>
			</tr>
			<tr>
				<td class="title">Помоћници</td>
				<td class="title">Помоћници</td>
			</tr>
			<tr>
				<td class="tabelica" id="pomocnici-zapad"></td>
				<td class="tabelica" id="pomocnici-istok"></td>
			</tr>
			<tr>
				<td class="title">Референти</td>
				<td class="title">Референти</td>
			</tr>
			<tr>
				<td class="tabelica" id="referenti-zapad"></td>
				<td class="tabelica" id="referenti-istok"></td>
			</tr>
			<tr>
				<td class="title">Шефови</td>
				<td class="title">Шефови</td>
			</tr>
			<tr>
				<td class="tabelica" id="sefovi-zapad"></td>
				<td class="tabelica" id="sefovi-istok"></td>
			</tr>
			<tr>
				<td class="title">Магационери</td>
				<td class="title">Магационери</td>
			</tr>
			<tr>
				<td class="tabelica" id="magacioneri-zapad"></td>
				<td class="tabelica" id="magacioneri-istok"></td>
			</tr>
			<tr>
				<td class="title">Хаусмајстори</td>
				<td class="title">Хаусмајстори</td>
			</tr>
			<tr>
				<td class="tabelica" id="hausmajstori-zapad"></td>
				<td class="tabelica" id="hausmajstori-istok"></td>
			</tr>
		</table>
		<script>
			for(var i=0;i<majstori.length;i++){
				var row = document.createElement("DIV");
				row.setAttribute("class","row");
					var nameElem = document.createElement("DIV");
					nameElem.setAttribute("class","name");
					nameElem.innerHTML = majstori[i].ime;
					row.appendChild(nameElem);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = majstori[i].vremeDolaska;
					if(majstori[i].vremeDolaskaUser!=false){
						vreme.style.color = "rgb(200,0,0)"
					}
					row.appendChild(vreme);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = majstori[i].vremeOdlaska;
					if(majstori[i].vremeOdlaskaUser!=false){
						vreme.style.color = "rgb(200,0,0)"
					}
					row.appendChild(vreme);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = majstori[i].radnoVreme;
					if(majstori[i].radnoVreme!="/"){
						row.classList.add("there")
					}else{
						row.classList.add("notThere")
					}
					row.appendChild(vreme);
				if(majstori[i].tipMajstora=="Мајстор"){
					if(majstori[i].region=="ISTOK"){
						document.getElementById("majstori-istok").appendChild(row);
					}else{
						document.getElementById("majstori-zapad").appendChild(row);
					}
				}else if(majstori[i].tipMajstora=="Вомаш"){
					if(majstori[i].region=="ISTOK"){
						document.getElementById("vomasi-istok").appendChild(row);
					}else{
						document.getElementById("vomasi-zapad").appendChild(row);
					}

				}else if(majstori[i].tipMajstora=="Багериста"){
					if(majstori[i].region=="ISTOK"){
						document.getElementById("bageristi-istok").appendChild(row);
					}else{
						document.getElementById("bageristi-zapad").appendChild(row);
					}
				}else if(majstori[i].tipMajstora=="Копач"){
					if(majstori[i].region=="ISTOK"){
						document.getElementById("kopaci-istok").appendChild(row);
					}else{
						document.getElementById("kopaci-zapad").appendChild(row);
					}
				}else if(majstori[i].tipMajstora=="Финализер"){
					if(majstori[i].region=="ISTOK"){
						document.getElementById("finalizeri-istok").appendChild(row);
					}else{
						document.getElementById("finalizeri-zapad").appendChild(row);
					}
				}else if(majstori[i].tipMajstora=="Хаусмајстор"){
					if(majstori[i].region=="ISTOK"){
						document.getElementById("hausmajstori-istok").appendChild(row);
					}else{
						document.getElementById("hausmajstori-zapad").appendChild(row);
					}
				}else if(majstori[i].tipMajstora=="Магационер"){
					if(majstori[i].region=="ISTOK"){
						document.getElementById("magacioneri-istok").appendChild(row);
					}else{
						document.getElementById("magacioneri-zapad").appendChild(row);
					}
				}
			}

			for(var i=0;i<pomocnici.length;i++){
				var row = document.createElement("DIV");
				row.setAttribute("class","row");
					var nameElem = document.createElement("DIV");
					nameElem.setAttribute("class","name");
					nameElem.innerHTML = pomocnici[i].ime;
					row.appendChild(nameElem);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = pomocnici[i].vremeDolaska;
					if(pomocnici[i].vremeDolaskaUser!=false){
						vreme.style.color = "rgb(200,0,0)"
					}
					row.appendChild(vreme);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = pomocnici[i].vremeOdlaska;
					if(pomocnici[i].vremeOdlaskaUser!=false){
						vreme.style.color = "rgb(200,0,0)"
					}
					row.appendChild(vreme);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = pomocnici[i].radnoVreme;
					if(pomocnici[i].radnoVreme!="/"){
						row.classList.add("there")
					}else{
						row.classList.add("notThere")
					}
					row.appendChild(vreme);
				if(pomocnici[i].region=="ISTOK"){
					document.getElementById("pomocnici-istok").appendChild(row);
				}else{
					document.getElementById("pomocnici-zapad").appendChild(row);
				}
			}

			for(var i=0;i<users.length;i++){
				var row = document.createElement("DIV");
				row.setAttribute("class","row");
					var nameElem = document.createElement("DIV");
					nameElem.setAttribute("class","name");
					nameElem.innerHTML = users[i].ime;
					row.appendChild(nameElem);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = users[i].vremeDolaska;
					if(users[i].vremeDolaskaUser!=false){
						vreme.style.color = "rgb(200,0,0)"
					}
					row.appendChild(vreme);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = users[i].vremeOdlaska;
					if(users[i].vremeOdlaskaUser!=false){
						vreme.style.color = "rgb(200,0,0)"
					}
					row.appendChild(vreme);

					var vreme = document.createElement("DIV");
					vreme.setAttribute("class","vreme");
					vreme.innerHTML = users[i].radnoVreme;
					if(users[i].radnoVreme!="/"){
						row.classList.add("there")
					}else{
						row.classList.add("notThere")
					}
					row.appendChild(vreme);
				if(users[i].role=="10" || users[i].role=="20"){
					if(users[i].region=="ISTOK" || users[i].region=="istok"){
						document.getElementById("referenti-istok").appendChild(row);
					}else{
						document.getElementById("referenti-zapad").appendChild(row);
					}
				}else if(users[i].role=="25"){
					if(users[i].region=="ISTOK" || users[i].region=="istok"){
						document.getElementById("sefovi-istok").appendChild(row);
					}else{
						document.getElementById("sefovi-zapad").appendChild(row);
					}
				}else if(users[i].role=="50"){
					if(users[i].region=="ISTOK" || users[i].region=="istok"){
						document.getElementById("magacioneri-istok").appendChild(row);
					}else{
						document.getElementById("magacioneri-zapad").appendChild(row);
					}
				}
			}
		</script>
		<%- include ("partials/printer") -%>
		<script>
			function printTable(region){
				doc = new jsPDF({
					orientation: 'p',
					unit: 'mm',
					format: 'a4',
					compress: true
					//putOnlyUsedFonts:true
				});
				pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
				pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
				var yPos = 12;
				var xPos = 12;
				//doc.getFontList("Helvetica");
				doc.addFileToVFS("PTSans.ttf", PTSans);
				doc.addFileToVFS("PTSansBold.ttf", PTSansBold);
				doc.addFont('PTSans.ttf', 'PTSans', 'normal');
				doc.addFont('PTSansBold.ttf', 'PTSans', 'bold');

				doc.setFont('PTSans'); // set font
				doc.getFontList("PTSans");
				doc.setFontSize(20)
			    doc.setFontType("bold");
			    doc.text("Prisustvo majstora "+datum, pageWidth / 2, yPos, {align: "center"});
				doc.setFontSize(10);
			    var xOffset = 10;
			    yPos=yPos + 10;
			    doc.text("Ime i prezime",xOffset,yPos);
			    xOffset = xOffset + 40;
			    doc.text("Dolazak",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Odlazak",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Satnica",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Potpis",xOffset,yPos);
			    yPos= yPos+7;
			    doc.setFontType("normal");
			    majstori.forEach(function (item,index){
			    	if(item?.region?.toLowerCase()==region || (!item.region && region=="zapad")){
			    		xOffset = 10;
					    doc.text(item.ime,xOffset,yPos);
					    xOffset = xOffset + 40;
					    doc.text(item.vremeDolaska,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(item.vremeOdlaska,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(item.radnoVreme,xOffset,yPos);
					    xOffset = xOffset + 25;
					    const lineWidth = 50;
						doc.line(xOffset, yPos, xOffset + lineWidth, yPos);
					    yPos= yPos+7;
					    if(yPos>=285){
					    	doc.addPage();
					    	doc.setFontSize(20)
						    doc.setFontType("bold");
						    yPos=12;
						    doc.text("Prisustvo majstora "+datum, pageWidth / 2, yPos, {align: "center"});
							doc.setFontSize(10);
						    var xOffset = 10;
			   				 yPos=yPos + 10;
						    doc.text("Ime i prezime",xOffset,yPos);
						    xOffset = xOffset + 40;
						    doc.text("Dolazak",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Odlazak",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Satnica",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Potpis",xOffset,yPos);
						    yPos= yPos+7;
						    doc.setFontType("normal");
					    }
			    	}
			    })

			    doc.addPage();
		    	doc.setFontSize(20)
			    doc.setFontType("bold");
			    yPos=12;
			    doc.text("Prisustvo pomoćnika "+datum, pageWidth / 2, yPos, {align: "center"});
				doc.setFontSize(10);
			    var xOffset = 10;
			    yPos = yPos + 10;
			    doc.text("Ime i prezime",xOffset,yPos);
			    xOffset = xOffset + 40;
			    doc.text("Dolazak",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Odlazak",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Satnica",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Potpis",xOffset,yPos);
			    yPos= yPos+7;
			    doc.setFontType("normal");

			    pomocnici.forEach(function (item,index){
			    	if(item?.region?.toLowerCase()==region || (!item.region && region=="zapad")){
			    		xOffset = 10;
					    doc.text(item.ime,xOffset,yPos);
					    xOffset = xOffset + 40;
					    doc.text(item.vremeDolaska,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(item.vremeOdlaska,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(item.radnoVreme,xOffset,yPos);
					    xOffset = xOffset + 25;
					    const lineWidth = 50;
						doc.line(xOffset, yPos, xOffset + lineWidth, yPos);
					    yPos= yPos+7;
					    if(yPos>=285){
					    	doc.addPage();
					    	doc.setFontSize(20)
						    doc.setFontType("bold");
						    yPos=12;
						    doc.text("Prisustvo pomoćnika "+datum, pageWidth / 2, yPos, {align: "center"});
							doc.setFontSize(10);
						    var xOffset = 10;
						    doc.text("Ime i prezime",xOffset,yPos);
						    xOffset = xOffset + 7;
						    doc.text("Dolazak",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Odlazak",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Satnica",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Potpis",xOffset,yPos);
						    yPos= yPos+7;
						    doc.setFontType("normal");
					    }
			    	}
			    })

			    doc.addPage();
		    	doc.setFontSize(20)
			    doc.setFontType("bold");
			    yPos=12;
			    doc.text("Prisustvo radnika "+datum, pageWidth / 2, yPos, {align: "center"});
				doc.setFontSize(10);
			    var xOffset = 10;
			    yPos = yPos + 10;
			    doc.text("Ime i prezime",xOffset,yPos);
			    xOffset = xOffset + 40;
			    doc.text("Dolazak",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Odlazak",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Satnica",xOffset,yPos);
			    xOffset = xOffset + 25;
			    doc.text("Potpis",xOffset,yPos);
			    yPos= yPos+7;
			    doc.setFontType("normal");

			    users.forEach(function (item,index){
			    	if(!item.fake){
			    		if(item?.region?.toLowerCase()==region || (!item.region && region=="zapad")){
				    		xOffset = 10;
						    doc.text(item.ime,xOffset,yPos);
						    xOffset = xOffset + 40;
						    doc.text(item.vremeDolaska,xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text(item.vremeOdlaska,xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text(item.radnoVreme,xOffset,yPos);
						    xOffset = xOffset + 25;
						    const lineWidth = 50;
							doc.line(xOffset, yPos, xOffset + lineWidth, yPos);
						    yPos= yPos+7;
						    if(yPos>=285){
						    	doc.addPage();
						    	doc.setFontSize(20)
							    doc.setFontType("bold");
							    yPos=12;
							    doc.text("Prisustvo radnika "+datum, pageWidth / 2, yPos, {align: "center"});
								doc.setFontSize(10);
							    var xOffset = 10;
							    doc.text("Ime i prezime",xOffset,yPos);
							    xOffset = xOffset + 7;
							    doc.text("Dolazak",xOffset,yPos);
							    xOffset = xOffset + 25;
							    doc.text("Odlazak",xOffset,yPos);
							    xOffset = xOffset + 25;
							    doc.text("Satnica",xOffset,yPos);
							    xOffset = xOffset + 25;
							    doc.text("Potpis",xOffset,yPos);
							    yPos= yPos+7;
							    doc.setFontType("normal");
						    }
				    	}
			    	}
			    	
			    })
			    

		        window.open(doc.output('bloburl'), '_blank');
			}


		</script>

		<!--<option value="Мајстор">Мајстор</option>
							<option value="Одгушивач">Одгушивач</option>
							<option value="Вомаш">Вомаш</option>
							<option value="Багериста">Багериста</option>
							<option value="Копач">Копач</option>
							<option value="Финализер">Финализер</option>-->
		<div class="items">
			<div class="title">Мајстори</div>
			<div id="majstori"></div>
			<script>
				for(var i=0;i<majstori.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item");
					item.setAttribute("data-id",majstori[i].uniqueId);
					item.innerHTML = "<div class=\"ime\">"+majstori[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";
					document.getElementById("majstori").appendChild(item);
				}
			</script>
		</div>	
		<div class="items">
			<div class="title">Помоћници</div>
			<div id="pomocnici"></div>
			<script>
				for(var i=0;i<pomocnici.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item");
					item.setAttribute("data-id",pomocnici[i].uniqueId);
					item.innerHTML = "<div class=\"ime\">"+pomocnici[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";;
					document.getElementById("pomocnici").appendChild(item);
				}
			</script>
		</div>
		<div class="items">
			<div class="title">Администрација</div>
			<div id="administracija"></div>
			<script>
				for(var i=0;i<users.length;i++){
					if(!users[i].email.startsWith("miloscane") && Number(users[i].role)>=10 && Number(users[i].role)!=30 && Number(users[i].role)!=40){
						var item = document.createElement("DIV");
						item.setAttribute("class","item");
						item.setAttribute("data-id",users[i].email);
						item.innerHTML = "<div class=\"ime\">"+users[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";
						if(!users[i].email.includes("+")){
							document.getElementById("administracija").appendChild(item);
						}
						
					}
					
				}
			</script>
		</div>
		<script>
			var majstoriElems = document.getElementById("majstori").getElementsByClassName("item");
			var pomocniciElems = document.getElementById("pomocnici").getElementsByClassName("item");
			var administracijaElems = document.getElementById("administracija").getElementsByClassName("item");
			
			function handleCheckIns(){
				for(var j=0;j<majstoriElems.length;j++){
					majstoriElems[j].classList.remove("itemActive");
				}
				for(var j=0;j<pomocniciElems.length;j++){
					pomocniciElems[j].classList.remove("itemActive");
				}
				for(var j=0;j<administracijaElems.length;j++){
					administracijaElems[j].classList.remove("itemActive");
				}

				for(var i=0;i<checkIns.length;i++){
					
					for(var j=0;j<majstoriElems.length;j++){
						if(checkIns[i].uniqueId==majstoriElems[j].dataset.id){
							if(!majstoriElems[j].classList.contains("itemActive")){
								majstoriElems[j].classList.add("itemActive");
							}
							var checkTime = new Date(checkIns[i].datetime);
							if(Number(checkTime.getHours())<13){
								majstoriElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}else{
								majstoriElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}
							/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
							var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
							majstoriElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
							//break;	
							
						}
					}
					for(var j=0;j<pomocniciElems.length;j++){
						if(checkIns[i].uniqueId==pomocniciElems[j].dataset.id){
							if(!pomocniciElems[j].classList.contains("itemActive")){
								pomocniciElems[j].classList.add("itemActive");
							}
								
							var checkTime = new Date(checkIns[i].datetime);
							if(Number(checkTime.getHours())<13){
								pomocniciElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}else{
								pomocniciElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}
							/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
							var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
							pomocniciElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
							break;	
						}
					}
					for(var j=0;j<administracijaElems.length;j++){
						if(checkIns[i].uniqueId==administracijaElems[j].dataset.id){
							if(!administracijaElems[j].classList.contains("itemActive")){
								administracijaElems[j].classList.add("itemActive");
							}
								
							var checkTime = new Date(checkIns[i].datetime);
							if(Number(checkTime.getHours())<13){
								administracijaElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}else{
								administracijaElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}
							/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
							var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
							pomocniciElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
							break;	
						}
					}
				}

				for(var i=0;i<majstoriElems.length;i++){
					if(majstoriElems[i].getElementsByClassName("arrival")[0].innerHTML!="" && majstoriElems[i].getElementsByClassName("departure")[0].innerHTML!=""){
						var checkInTime = new Date();
						checkInTime.setHours(majstoriElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[0]);
						checkInTime.setMinutes(majstoriElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[1]);
						var checkOutTime = new Date();
						checkOutTime.setHours(majstoriElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[0]);
						checkOutTime.setMinutes(majstoriElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[1]);


						var totalMiliseconds = checkOutTime.getTime() - checkInTime.getTime();
						var totalMinutes =  Math.floor(totalMiliseconds / 60000);
						var hours = Math.floor(totalMinutes / 60);
	   					var minutes = totalMinutes % 60;
	   					majstoriElems[i].getElementsByClassName("totalHours")[0].innerHTML = "Сатница: "+String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0')
					}
					
				}

				for(var i=0;i<pomocniciElems.length;i++){
					if(pomocniciElems[i].getElementsByClassName("arrival")[0].innerHTML!="" && pomocniciElems[i].getElementsByClassName("departure")[0].innerHTML!=""){
						var checkInTime = new Date();
						checkInTime.setHours(pomocniciElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[0]);
						checkInTime.setMinutes(pomocniciElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[1]);
						var checkOutTime = new Date();
						checkOutTime.setHours(pomocniciElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[0]);
						checkOutTime.setMinutes(pomocniciElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[1]);


						var totalMiliseconds = checkOutTime.getTime() - checkInTime.getTime();
						var totalMinutes =  Math.floor(totalMiliseconds / 60000);
						var hours = Math.floor(totalMinutes / 60);
	   					var minutes = totalMinutes % 60;
	   					pomocniciElems[i].getElementsByClassName("totalHours")[0].innerHTML = "Сатница: "+String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0')
					}
					
				}

				for(var i=0;i<administracijaElems.length;i++){
					if(administracijaElems[i].getElementsByClassName("arrival")[0].innerHTML!="" && administracijaElems[i].getElementsByClassName("departure")[0].innerHTML!=""){
						var checkInTime = new Date();
						checkInTime.setHours(administracijaElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[0]);
						checkInTime.setMinutes(administracijaElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[1]);
						var checkOutTime = new Date();
						checkOutTime.setHours(administracijaElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[0]);
						checkOutTime.setMinutes(administracijaElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[1]);


						var totalMiliseconds = checkOutTime.getTime() - checkInTime.getTime();
						var totalMinutes =  Math.floor(totalMiliseconds / 60000);
						var hours = Math.floor(totalMinutes / 60);
	   					var minutes = totalMinutes % 60;
	   					administracijaElems[i].getElementsByClassName("totalHours")[0].innerHTML = "Сатница: "+String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0')
					}
					
				}
			}

			handleCheckIns()

			/*socket.on("majstorCheckedIn",function(json){
				checkIns.push(json);
				handleCheckIns();
			});*/
		</script>	
	</div>
<%- include ("partials/footer") -%>