<%- include ("partials/header") -%>
	<script>
		var majstori = <%-JSON.stringify(majstori)%>;
		var pomocnici = <%-JSON.stringify(pomocnici)%>;
		var checkIns = <%-JSON.stringify(checkIns)%>;
		for(var i=0;i<checkIns.length;i++){
			console.log(checkIns[i].brojKartice)
		}
		var users = <%-JSON.stringify(users)%>;
		function getPomocnikByCard(card){
		  var pomocnik = {};
		  if(pomocnici){
		    for(var i=0;i<pomocnici.length;i++){
		      if(pomocnici[i].brojKartice.toString()==card.toString()){
		        pomocnik = pomocnici[i];
		        break;
		      }
		    }
		    if(!pomocnik.ime){
		      pomocnik.ime = "Нема";
		    }
		  }else{
		    //console.log("No array majstori defined");
		  }
		  return pomocnik
		}

		function getVoziloById(id){
		  var vozilo = {};
		  if(vozila){
		    for(var i=0;i<vozila.length;i++){
		      if(Number(vozila[i].idNavigacije)==Number(id)){
		        vozilo = vozila[i];
		        break;
		      }
		    }
		    if(!vozilo.ime){
		    }
		  }else{
		    //console.log("No array vozila defined");
		  }
		  return vozilo
		}
	</script>
	<div class="pageWidth pregledPrisustva">
		<div class="drugiDatum">
			<span>Погледај присуство на дан:</span> <input type="date" id="date-input" oninput="dateInput()">
		</div>
		<script>
			function dateInput(){
				loadGif()
				window.location.href="/prisustvo/"+document.getElementById("date-input").value;
			}
		</script>
		<div class="items">
			<div class="title">Мајстори</div>
			<div id="majstori"></div>
			<script>
				for(var i=0;i<majstori.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item");
					item.setAttribute("data-id",majstori[i].uniqueId);
					item.innerHTML = "<div class=\"ime\">"+majstori[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";
					document.getElementById("majstori").appendChild(item);
				}
			</script>
		</div>	
		<div class="items">
			<div class="title">Помоћници</div>
			<div id="pomocnici"></div>
			<script>
				for(var i=0;i<pomocnici.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item");
					item.setAttribute("data-id",pomocnici[i].uniqueId);
					item.innerHTML = "<div class=\"ime\">"+pomocnici[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";;
					document.getElementById("pomocnici").appendChild(item);
				}
			</script>
		</div>
		<div class="items">
			<div class="title">Администрација</div>
			<div id="administracija"></div>
			<script>
				for(var i=0;i<users.length;i++){
					if(!users[i].email.startsWith("miloscane") && Number(users[i].role)>=10 && Number(users[i].role)!=30 && Number(users[i].role)!=40){
						var item = document.createElement("DIV");
						item.setAttribute("class","item");
						item.setAttribute("data-id",users[i].email);
						item.innerHTML = "<div class=\"ime\">"+users[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";
						if(!users[i].email.includes("+")){
							document.getElementById("administracija").appendChild(item);
						}
						
					}
					
				}
			</script>
		</div>
		<script>
			var majstoriElems = document.getElementById("majstori").getElementsByClassName("item");
			var pomocniciElems = document.getElementById("pomocnici").getElementsByClassName("item");
			var administracijaElems = document.getElementById("administracija").getElementsByClassName("item");
			
			function handleCheckIns(){
				for(var j=0;j<majstoriElems.length;j++){
					majstoriElems[j].classList.remove("itemActive");
				}
				for(var j=0;j<pomocniciElems.length;j++){
					pomocniciElems[j].classList.remove("itemActive");
				}
				for(var j=0;j<administracijaElems.length;j++){
					administracijaElems[j].classList.remove("itemActive");
				}

				for(var i=0;i<checkIns.length;i++){
					
					for(var j=0;j<majstoriElems.length;j++){
						if(checkIns[i].uniqueId==majstoriElems[j].dataset.id){
							if(!majstoriElems[j].classList.contains("itemActive")){
								majstoriElems[j].classList.add("itemActive");
							}
							var checkTime = new Date(checkIns[i].datetime);
							if(Number(checkTime.getHours())<13){
								majstoriElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}else{
								majstoriElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}
							/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
							var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
							majstoriElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
							//break;	
							
						}
					}
					for(var j=0;j<pomocniciElems.length;j++){
						if(checkIns[i].uniqueId==pomocniciElems[j].dataset.id){
							if(!pomocniciElems[j].classList.contains("itemActive")){
								pomocniciElems[j].classList.add("itemActive");
							}
								
							var checkTime = new Date(checkIns[i].datetime);
							if(Number(checkTime.getHours())<13){
								pomocniciElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}else{
								pomocniciElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}
							/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
							var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
							pomocniciElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
							break;	
						}
					}
					for(var j=0;j<administracijaElems.length;j++){
						if(checkIns[i].uniqueId==administracijaElems[j].dataset.id){
							if(!administracijaElems[j].classList.contains("itemActive")){
								administracijaElems[j].classList.add("itemActive");
							}
								
							var checkTime = new Date(checkIns[i].datetime);
							if(Number(checkTime.getHours())<13){
								administracijaElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}else{
								administracijaElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
							}
							/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
							var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
							pomocniciElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
							break;	
						}
					}
				}

				for(var i=0;i<majstoriElems.length;i++){
					if(majstoriElems[i].getElementsByClassName("arrival")[0].innerHTML!="" && majstoriElems[i].getElementsByClassName("departure")[0].innerHTML!=""){
						var checkInTime = new Date();
						checkInTime.setHours(majstoriElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[0]);
						checkInTime.setMinutes(majstoriElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[1]);
						var checkOutTime = new Date();
						checkOutTime.setHours(majstoriElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[0]);
						checkOutTime.setMinutes(majstoriElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[1]);


						var totalMiliseconds = checkOutTime.getTime() - checkInTime.getTime();
						var totalMinutes =  Math.floor(totalMiliseconds / 60000);
						var hours = Math.floor(totalMinutes / 60);
	   					var minutes = totalMinutes % 60;
	   					majstoriElems[i].getElementsByClassName("totalHours")[0].innerHTML = "Сатница: "+String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0')
					}
					
				}

				for(var i=0;i<pomocniciElems.length;i++){
					if(pomocniciElems[i].getElementsByClassName("arrival")[0].innerHTML!="" && pomocniciElems[i].getElementsByClassName("departure")[0].innerHTML!=""){
						var checkInTime = new Date();
						checkInTime.setHours(pomocniciElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[0]);
						checkInTime.setMinutes(pomocniciElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[1]);
						var checkOutTime = new Date();
						checkOutTime.setHours(pomocniciElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[0]);
						checkOutTime.setMinutes(pomocniciElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[1]);


						var totalMiliseconds = checkOutTime.getTime() - checkInTime.getTime();
						var totalMinutes =  Math.floor(totalMiliseconds / 60000);
						var hours = Math.floor(totalMinutes / 60);
	   					var minutes = totalMinutes % 60;
	   					pomocniciElems[i].getElementsByClassName("totalHours")[0].innerHTML = "Сатница: "+String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0')
					}
					
				}

				for(var i=0;i<administracijaElems.length;i++){
					if(administracijaElems[i].getElementsByClassName("arrival")[0].innerHTML!="" && administracijaElems[i].getElementsByClassName("departure")[0].innerHTML!=""){
						var checkInTime = new Date();
						checkInTime.setHours(administracijaElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[0]);
						checkInTime.setMinutes(administracijaElems[i].getElementsByClassName("arrival")[0].innerHTML.split(":")[1]);
						var checkOutTime = new Date();
						checkOutTime.setHours(administracijaElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[0]);
						checkOutTime.setMinutes(administracijaElems[i].getElementsByClassName("departure")[0].innerHTML.split(":")[1]);


						var totalMiliseconds = checkOutTime.getTime() - checkInTime.getTime();
						var totalMinutes =  Math.floor(totalMiliseconds / 60000);
						var hours = Math.floor(totalMinutes / 60);
	   					var minutes = totalMinutes % 60;
	   					administracijaElems[i].getElementsByClassName("totalHours")[0].innerHTML = "Сатница: "+String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0')
					}
					
				}
			}

			handleCheckIns()

			/*socket.on("majstorCheckedIn",function(json){
				checkIns.push(json);
				handleCheckIns();
			});*/
		</script>	
	</div>
<%- include ("partials/footer") -%>