<%- include ("partials/header-nl") -%>
	<script src="/js/socket.js"></script>
	<script>
		var socket  = io({});
		var majstori = <%-JSON.stringify(majstori)%>;
		var pomocnici = <%-JSON.stringify(pomocnici)%>;
		var checkIns = <%-JSON.stringify(checkIns)%>;
		function getPomocnikByCard(card){
		  var pomocnik = {};
		  if(pomocnici){
		    for(var i=0;i<pomocnici.length;i++){
		      if(pomocnici[i].brojKartice.toString()==card.toString()){
		        pomocnik = pomocnici[i];
		        break;
		        //console.log("AAAAA")
		      }
		    }
		    if(!pomocnik.ime){
		      pomocnik.ime = "Нема";
		    }
		  }else{
		    //console.log("No array majstori defined");
		  }
		  return pomocnik
		}

		function getVoziloById(id){
		  var vozilo = {};
		  if(vozila){
		    for(var i=0;i<vozila.length;i++){
		      if(Number(vozila[i].idNavigacije)==Number(id)){
		        vozilo = vozila[i];
		        break;
		      }
		    }
		    if(!vozilo.ime){
		    }
		  }else{
		    //console.log("No array vozila defined");
		  }
		  return vozilo
		}
	</script>
	<div class="pageWidth pregledPrisustva">	
		<div class="items">
			<div class="title">Мајстори</div>
			<div id="majstori"></div>
			<script>
				for(var i=0;i<majstori.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item");
					item.setAttribute("data-id",majstori[i].uniqueId);
					item.innerHTML = "<div class=\"ime\">"+majstori[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";
					document.getElementById("majstori").appendChild(item);
				}
			</script>
		</div>	
		<div class="items">
			<div class="title">Помоћници</div>
			<div id="pomocnici"></div>
			<script>
				for(var i=0;i<pomocnici.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item");
					item.setAttribute("data-id",pomocnici[i].uniqueId);
					item.innerHTML = "<div class=\"ime\">"+pomocnici[i].ime+"</div><div class=\"timestamp\"><span class=\"arrival\"></span> - <span class=\"departure\"></span></div><div class=\"totalHours\"></div>";;
					document.getElementById("pomocnici").appendChild(item);
				}
			</script>
		</div>
		<script>
			var majstoriElems = document.getElementById("majstori").getElementsByClassName("item");
			var pomocniciElems = document.getElementById("pomocnici").getElementsByClassName("item");
			
			function handleCheckIns(){
				for(var j=0;j<majstoriElems.length;j++){
					majstoriElems[j].classList.remove("itemActive");
				}
				for(var j=0;j<pomocniciElems.length;j++){
					pomocniciElems[j].classList.remove("itemActive");
				}

				for(var i=0;i<checkIns.length;i++){
					for(var j=0;j<majstoriElems.length;j++){
						if(checkIns[i].uniqueId==majstoriElems[j].dataset.id){
							if(!majstoriElems[j].classList.contains("itemActive")){
								majstoriElems[j].classList.add("itemActive");
								var checkTime = new Date(checkIns[i].datetime);
								if(Number(checkTime.getHours())<13){
									majstoriElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
								}else{
									majstoriElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
								}
								/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
								var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
								majstoriElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
								break;	
							}
						}
						
					}
					for(var j=0;j<pomocniciElems.length;j++){
						if(checkIns[i].uniqueId==pomocniciElems[j].dataset.id){
							if(!pomocniciElems[j].classList.contains("itemActive")){
								pomocniciElems[j].classList.add("itemActive");
								var checkTime = new Date(checkIns[i].datetime);
								if(Number(checkTime.getHours())<13){
									pomocniciElems[j].getElementsByClassName("arrival")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
								}else{
									pomocniciElems[j].getElementsByClassName("departure")[0].innerHTML = String(checkTime.getHours()).padStart(2,"0") + ":"+	String(checkTime.getMinutes()).padStart(2,"0");
								}
								/*var hours = new Date(checkIns[i].datetime).getHours().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getHours() : new Date(checkIns[i].datetime).getHours();
								var minutes = new Date(checkIns[i].datetime).getMinutes().toString().length==1 ? "0"+new Date(checkIns[i].datetime).getMinutes() : new Date(checkIns[i].datetime).getMinutes();
								pomocniciElems[j].getElementsByClassName("timestamp")[0].innerHTML = hours+":"+minutes;*/
								break;	
							}
						}
					}
				}
			}

			handleCheckIns()

			socket.on("majstorCheckedIn",function(json){
				checkIns.push(json);
				handleCheckIns();
			});
		</script>	
	</div>
<%- include ("partials/footer") -%>