<%- include ("partials/header-nl") -%>
	<script src="/js/socket.js"></script>
	<script>
		var socket  = io({});
		var majstori = <%-JSON.stringify(majstori)%>;
		var pomocnici = <%-JSON.stringify(pomocnici)%>;
		var checkIns = <%-JSON.stringify(checkIns)%>;
		var statusi = [{naziv:"Кренуо",value:"Odlazak"},{naziv:"Стигао",value:"Dolazak"},{naziv:"Завршио",value:"Zavrseno"}];
	</script>
	<div class="pageWidth tv3">
		<div class="prisustvoWrap">
			<div class="title">Мајстори</div>
			<div class="items" id="majstori"></div>
			<script>
				for(var i=0;i<majstori.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item");
					item.setAttribute("data-brojkartice",majstori[i].brojKartice);
					item.innerHTML = "<div class=\"majstorItem\">"+majstori[i].ime+"</div><div class=\"ucinakTarget\">"+brojSaRazmacima(parseFloat(majstori[i].ocekivaniUcinak)/26)+"</div>";
					document.getElementById("majstori").appendChild(item);
				}
			</script>
		</div>	
		<div class="prisustvoWrap">
			<div class="title">Помоћници</div>
			<div class="items" id="pomocnici"></div>
			<script>
				for(var i=0;i<pomocnici.length;i++){
					var item = document.createElement("DIV");
					item.setAttribute("class","item majstorItem");
					item.setAttribute("data-brojkartice",pomocnici[i].brojKartice);
					item.innerHTML =  "<div class=\"majstorItem\">"+pomocnici[i].ime+"</div>";
					document.getElementById("pomocnici").appendChild(item);
				}
			</script>
		</div>	

		<script>
			function handleCheckIns(){
				var elems = document.getElementsByClassName("majstorItem");
				for(var i=0;i<elems.length;i++){
					for(var j=0;j<checkIns.length;j++){
						if(Number(checkIns[j].brojKartice)==Number(elems[i].parentElement.dataset.brojkartice)){
							elems[i].parentElement.classList.add("itemActive");
							break;
						}
					}
				}
			}
			handleCheckIns();

			socket.on("majstorCheckedIn",function(json){
				checkIns.push(json);
				handleCheckIns();
			});
		</script>	
	</div>
<%- include ("partials/footer") -%>