<%- include ("partials/header") -%>
	
	<script>
		var pomocnici			=	<%-JSON.stringify(pomocnici)%>;
		var prisutniPomocnici	=	<%-JSON.stringify(pomocnici)%>;
		var checkIns			=	<%-JSON.stringify(checkIns)%>;
		for(var i=0;i<prisutniPomocnici.length;i++){
			prisutniPomocnici[i].slobodan = 1;
		}
		var majstori			=	<%-JSON.stringify(majstori)%>;
		var vozila				=	<%-JSON.stringify(vozila)%>;
		for(var i=0;i<vozila.length;i++){
			vozila[i].slobodno = 1;
		}
		var ekipe				=	<%-JSON.stringify(ekipe)%>;

		var prisustvo = [];
	</script>
	<div class="pageWidth"> 
		<div class="ekipe">
			<div class="majstori">
				<div id="majstori" class="flex" data-initialized="0"></div>
				<script>
					for(var i=0;i<majstori.length;i++){
						var majstorBlok = document.createElement("DIV");
						majstorBlok.setAttribute("class","majstor flexBox");
						majstorBlok.setAttribute("data-id",majstori[i].uniqueId);
						majstorBlok.setAttribute("data-brojkartice",majstori[i].brojKartice);
							var imeMajstora = document.createElement("DIV");
							imeMajstora.setAttribute("class","ime");
							imeMajstora.innerHTML = majstori[i].ime.split(" ")[0] + "<br>" + majstori[i].ime.split(" ")[1];
							majstorBlok.appendChild(imeMajstora);

							var inlines = document.createElement("DIV");
							inlines.setAttribute("class","pomocnik");
								var inline = document.createElement("DIV");
								inline.setAttribute("class","bolded");
								inline.innerHTML = "Помоћник:";
								inlines.appendChild(inline);
								
								var inline = document.createElement("DIV");
								inline.setAttribute("class","selectWrap");
								inlines.appendChild(inline);
							majstorBlok.appendChild(inlines);

							var inlines = document.createElement("DIV");
							inlines.setAttribute("class","vozilo");
								var inline = document.createElement("DIV");
								inline.setAttribute("class","bolded");
								inline.innerHTML = "Возило:";
								inlines.appendChild(inline);
								
								var inline = document.createElement("DIV");
								inline.setAttribute("class","voziloSelectWrap");
								inlines.appendChild(inline);
							majstorBlok.appendChild(inlines);

							var inlines = document.createElement("DIV");
							inlines.setAttribute("class","trecaLica");
								var inline = document.createElement("DIV");
								inline.setAttribute("class","bolded");
								inline.innerHTML = "Трећа лица:";
								inlines.appendChild(inline);
								
								var inline = document.createElement("DIV");
								inline.setAttribute("class","trecaLicaWrap");
								inline.innerHTML = "<input type=\"checkbox\" class=\"trecaLicaBox\">"
								inlines.appendChild(inline);
							majstorBlok.appendChild(inlines);

							var inlines = document.createElement("DIV");
							inlines.setAttribute("class","dezurstvo");
								var inline = document.createElement("DIV");
								inline.setAttribute("class","bolded");
								inline.innerHTML = "Дежуран:";
								inlines.appendChild(inline);
								
								var inline = document.createElement("DIV");
								inline.setAttribute("class","dezurstvoWrap");
								inline.innerHTML = "<input type=\"checkbox\" class=\"dezurstvoBox\">"
								inlines.appendChild(inline);
							majstorBlok.appendChild(inlines);
						document.getElementById("majstori").appendChild(majstorBlok);
					}

					function generateSelect(elem){
						var select = document.createElement("SELECT");
						select.setAttribute("class","pomocnikSelect");
						select.setAttribute("oninput","pomocnikPicked(this)")
							var nijedan = document.createElement("OPTION");
							nijedan.setAttribute("value",0);
							nijedan.innerHTML = "Нема";
							select.appendChild(nijedan);
							var slobodni = document.createElement("optgroup");
							slobodni.setAttribute("label","Слободни");
							for(var i=0;i<prisutniPomocnici.length;i++){
								if(prisutniPomocnici[i].slobodan==1){
									var option = document.createElement("OPTION");
									option.setAttribute("value",prisutniPomocnici[i].brojKartice);
									option.innerHTML = prisutniPomocnici[i].ime;
									slobodni.appendChild(option);
								}
							}
							select.appendChild(slobodni); 

							var dodeljeni = document.createElement("optgroup");
							dodeljeni.setAttribute("label","Додељени");
							for(var i=0;i<prisutniPomocnici.length;i++){
								if(prisutniPomocnici[i].slobodan==0){
									var option = document.createElement("OPTION");
									option.setAttribute("value",prisutniPomocnici[i].brojKartice);
									option.innerHTML = prisutniPomocnici[i].ime;
									dodeljeni.appendChild(option);
								}
							}
							select.appendChild(dodeljeni);
						elem.appendChild(select);
					}

					function generateVozilaSelect(elem){
						var select = document.createElement("SELECT");
						select.setAttribute("class","voziloSelect");
						select.setAttribute("oninput","voziloPicked(this)")
							var nijedan = document.createElement("OPTION");
							nijedan.setAttribute("value",0);
							nijedan.innerHTML = "Ниједно";
							select.appendChild(nijedan);
							var slobodni = document.createElement("optgroup");
							slobodni.setAttribute("label","Слободна");
							for(var i=0;i<vozila.length;i++){
								if(vozila[i].slobodno==1){
									var option = document.createElement("OPTION");
									option.setAttribute("value",vozila[i].idNavigacije);
									option.innerHTML = vozila[i].brojTablice;
									slobodni.appendChild(option);
								}
							}
							select.appendChild(slobodni); 

							var dodeljeni = document.createElement("optgroup");
							dodeljeni.setAttribute("label","Додељена");
							for(var i=0;i<vozila.length;i++){
								if(vozila[i].slobodno==0){
									var option = document.createElement("OPTION");
									option.setAttribute("value",vozila[i].idNavigacije);
									option.innerHTML = vozila[i].brojTablice;
									dodeljeni.appendChild(option);
								}
							}
							select.appendChild(dodeljeni);
						elem.appendChild(select);
					}

					function pomocnikPicked(elem){
						var pomocniciSelects = document.getElementsByClassName("selectWrap");
						for(var i=0;i<pomocniciSelects.length;i++){
							if(elem.parentElement!=pomocniciSelects[i]){
								if(Number(pomocniciSelects[i].getElementsByTagName("SELECT")[0].value)==Number(elem.value)){
									pomocniciSelects[i].getElementsByTagName("SELECT")[0].value = 0;
									pomocniciSelects[i].dataset.pomocnik = 0;
								}
							}
							
						}
						elem.parentElement.setAttribute("data-pomocnik",elem.value);
						//OVDE PROVERI DAL JE NEGDE VEC DODELJEN ILI NE PA osnovu toga prebaci u slobodan ako nije, ovo ispod trenutno nema smisla
						/*for(var i=0;i<prisutniPomocnici.length;i++){
							prisutniPomocnici[i].slobodan = 1;
						}*/
						
						for(var i=0;i<prisutniPomocnici.length;i++){
							if(Number(prisutniPomocnici[i].brojKartice)==Number(elem.value)){
								prisutniPomocnici[i].slobodan = 0;
							}
						}

						var selectedPomocnici = [];
						for(var i=0;i<pomocniciSelects.length;i++){
							if(pomocniciSelects[i].dataset.pomocnik){
								if(Number(pomocniciSelects[i].dataset.pomocnik)!=0){
									selectedPomocnici.push(Number(pomocniciSelects[i].dataset.pomocnik));
								}
							}
						}
						for(var i=0;i<prisutniPomocnici.length;i++){
							if(selectedPomocnici.indexOf(Number(prisutniPomocnici[i].brojKartice))<0){
								prisutniPomocnici[i].slobodan = 1;
							}
						}

						var majstoriElems = document.getElementsByClassName("majstor");
						for(var i=0;i<majstoriElems.length;i++){
							majstoriElems[i].getElementsByClassName("selectWrap")[0].innerHTML = "";
							generateSelect(majstoriElems[i].getElementsByClassName("selectWrap")[0]);
						}

						
						for(var i=0;i<pomocniciSelects.length;i++){
							if(pomocniciSelects[i].dataset.pomocnik){
								pomocniciSelects[i].getElementsByTagName("SELECT")[0].value = pomocniciSelects[i].dataset.pomocnik;
							}
						}

						for(var i=0;i<pomocniciSelects.length;i++){
							if(pomocniciSelects[i].getElementsByTagName("SELECT")[0].value==0){
								pomocniciSelects[i].getElementsByTagName("SELECT")[0].style.color = "rgb(150,0,0)";
							}else{
								pomocniciSelects[i].getElementsByTagName("SELECT")[0].style.color = "rgb(0,150,0)";
							}
						}

					}

					function voziloPicked(elem){
						var vozilaSelects = document.getElementsByClassName("voziloSelectWrap");
						for(var i=0;i<vozilaSelects.length;i++){
							if(elem.parentElement!=vozilaSelects[i]){
								if(Number(vozilaSelects[i].getElementsByTagName("SELECT")[0].value)==Number(elem.value)){
									vozilaSelects[i].getElementsByTagName("SELECT")[0].value = 0;
									vozilaSelects[i].dataset.vozilo = 0;
								}
							}
							
						}
						elem.parentElement.setAttribute("data-vozilo",elem.value);
						//OVDE PROVERI DAL JE NEGDE VEC DODELJEN ILI NE PA osnovu toga prebaci u slobodan ako nije, ovo ispod trenutno nema smisla
						/*for(var i=0;i<prisutniPomocnici.length;i++){
							prisutniPomocnici[i].slobodan = 1;
						}*/
						
						for(var i=0;i<vozila.length;i++){
							if(Number(vozila[i].idNavigacije)==Number(elem.value)){
								vozila[i].slobodno = 0;
							}
						}

						var selectedVozila = [];
						for(var i=0;i<vozilaSelects.length;i++){
							if(vozilaSelects[i].dataset.vozilo){
								if(Number(vozilaSelects[i].dataset.vozilo)!=0){
									selectedVozila.push(Number(vozilaSelects[i].dataset.vozilo));
								}
							}
						}

						for(var i=0;i<vozila.length;i++){
							if(selectedVozila.indexOf(Number(vozila[i].idNavigacije))<0){
								vozila[i].slobodno = 1;
							}
						}


						var majstoriElems = document.getElementsByClassName("majstor");
						for(var i=0;i<majstoriElems.length;i++){
							majstoriElems[i].getElementsByClassName("voziloSelectWrap")[0].innerHTML = "";
							generateVozilaSelect(majstoriElems[i].getElementsByClassName("voziloSelectWrap")[0]);
						}

						
						for(var i=0;i<vozilaSelects.length;i++){
							if(vozilaSelects[i].dataset.vozilo){
								vozilaSelects[i].getElementsByTagName("SELECT")[0].value = vozilaSelects[i].dataset.vozilo;
							}
						}

					}
				</script>
			</div>
			<div class="buttonWrap">
				<div class="button" onclick="saveForm()">САЧУВАЈ</div>
			</div>
			<div class="pomocnici">
				<div id="pomocnici" class="flex"></div>
				<script>
					for(var i=0;i<pomocnici.length;i++){
						var pomocnikBlok = document.createElement("DIV");
						pomocnikBlok.setAttribute("class","pomocnikWrap flexBox");
						pomocnikBlok.setAttribute("data-id",pomocnici[i].uniqueId);
						pomocnikBlok.setAttribute("data-brojkartice",pomocnici[i].brojKartice);
							var imePomocnika = document.createElement("DIV");
							imePomocnika.setAttribute("class","ime");
							imePomocnika.innerHTML = pomocnici[i].ime.split(" ")[0] + "<br>"+pomocnici[i].ime.split(" ")[1];
							pomocnikBlok.appendChild(imePomocnika);

							var inlines = document.createElement("DIV");
							inlines.setAttribute("class","inlines");
								var inline = document.createElement("DIV");
								inline.setAttribute("class","inline");
								inline.innerHTML = "";
								inlines.appendChild(inline);
								
								var inline = document.createElement("DIV");
								inline.setAttribute("class","inline");
								inline.innerHTML = "";
								inlines.appendChild(inline);
							pomocnikBlok.appendChild(inlines);
						document.getElementById("pomocnici").appendChild(pomocnikBlok);
					}
				</script>
			</div>
		</div>

		<script>
			var majstoriElems = document.getElementsByClassName("majstor");
			var pomocniciElems = document.getElementsByClassName("pomocnikWrap");
			for(var i=0;i<majstoriElems.length;i++){
				generateSelect(majstoriElems[i].getElementsByClassName("selectWrap")[0]);
				generateVozilaSelect(majstoriElems[i].getElementsByClassName("voziloSelectWrap")[0]);
			}

			if(ekipe.datum){
				for(var i=0;i<majstoriElems.length;i++){
					for(var j=0;j<ekipe.prisustvo.ekipe.length;j++){
						if(majstoriElems[i].dataset.id==ekipe.prisustvo.ekipe[j].idMajstora){
							if(Number(ekipe.prisustvo.ekipe[j].pomocnik)!=0){
								majstoriElems[i].getElementsByClassName("pomocnikSelect")[0].value = ekipe.prisustvo.ekipe[j].pomocnik;
								majstoriElems[i].getElementsByClassName("pomocnikSelect")[0].dispatchEvent(new Event('input'));
							}
							majstoriElems[i].getElementsByClassName("trecaLicaBox")[0].checked = ekipe.prisustvo.ekipe[j].trecaLica;
							if(Number(ekipe.prisustvo.ekipe[j].vozilo)!=0){
								majstoriElems[i].getElementsByClassName("voziloSelect")[0].value = ekipe.prisustvo.ekipe[j].vozilo;
								majstoriElems[i].getElementsByClassName("voziloSelect")[0].dispatchEvent(new Event('input'));
							}
							break;
						}
						
					}
				}	
			}
			

			function saveForm(){
				//if(Number(document.getElementById("majstori").dataset.initialized) == 1){
					var jsonObject = {};
					jsonObject.ekipe = [];
					jsonObject.pomocnici = prisutniPomocnici;
					var majstoriElems = document.getElementsByClassName("majstor");
					for(var i=0;i<majstoriElems.length;i++){
						var json = {};
						json.idMajstora = majstoriElems[i].dataset.id;
						json.prisutan = majstoriElems[i].dataset.prisutan;
						json.pomocnik = majstoriElems[i].getElementsByClassName("pomocnikSelect")[0].value;
						json.trecaLica = majstoriElems[i].getElementsByClassName("trecaLicaBox")[0].checked;
						json.dezurstvo = majstoriElems[i].getElementsByClassName("dezurstvoBox")[0].checked;
						json.vozilo = majstoriElems[i].getElementsByClassName("voziloSelect")[0].value;
						jsonObject.ekipe.push(json);
					}
					document.getElementById("json").value = JSON.stringify(jsonObject);
					//console.log(jsonObject)
					document.getElementById("form").submit();
					loadGif();	
				//}else{
					//alert("Погрешан документ.")
				//}
				
			}

			function handleCheckIns(){
				for(var i=0;i<majstoriElems.length;i++){
					for(var j=0;j<checkIns.length;j++){
						if(Number(checkIns[j].brojKartice)==Number(majstoriElems[i].dataset.brojkartice)){
							majstoriElems[i].getElementsByClassName("ime")[0].style.color="rgb(0,200,0)";
							break;
						}
					}
				}

				for(var i=0;i<pomocniciElems.length;i++){
					for(var j=0;j<checkIns.length;j++){
						if(Number(checkIns[j].brojKartice)==Number(pomocniciElems[i].dataset.brojkartice)){
							pomocniciElems[i].getElementsByClassName("ime")[0].style.color="rgb(0,200,0)";
							break;
						}
					}
				}
			}
			handleCheckIns();

			socket.on("majstorCheckedIn",function(json){
				checkIns.push(json);
				handleCheckIns();
			});
		</script>
		<form method="POST" action="/ekipe" id="form" style="display:none">
			<input type="text" name="json" id="json">
		</form>
	</div>
<%- include ("partials/footer") -%>