<%- include ("partials/header") -%>
	<script>
		var proizvodi	=	<%-JSON.stringify(proizvodi)%>;
		var revers		=	<%-JSON.stringify(revers)%>;
		console.log(revers)
		var nalog	=	<%-JSON.stringify(nalog)%>;
		proizvodi = proizvodi.sort((a, b) => {
			if (a.code < b.code) {
				return -1;
			}
		});
	</script>
	<div class="magacinStanje magacinRevers">
		<div class="pageWidth">
			<div class="lightBlueBox">
				<div class="inlines">
					<div class="proizvodiWrap">
						<div class="buttons" id="kategorije"></div>
						<script>
							for(var i=0;i<definicijeProizvoda.length;i++){
								var mainButton = document.createElement("DIV");
								mainButton.setAttribute("class","productButton");
								mainButton.setAttribute("onclick","categoryPick(this)");
								mainButton.setAttribute("data-code",definicijeProizvoda[i].startCode);
								mainButton.innerHTML = "<div class=\"value\">"+definicijeProizvoda[i].name+"<br><span class='code'>"+definicijeProizvoda[i].startCode+"</span></div>"
								document.getElementById("kategorije").appendChild(mainButton);
							}

							function categoryPick(elem){
								document.getElementById("kategorije").style.display="none";
								document.getElementById("proizvodi-lista").innerHTML = "";
								var code = elem.dataset.code;
								for(var i=0;i<proizvodi.length;i++){
									if(proizvodi[i].code.startsWith(code)){
										var mainButton = document.createElement("DIV");
										mainButton.setAttribute("class","productButton");
										mainButton.setAttribute("onclick","productPick(this)");
										mainButton.setAttribute("data-uniqueid",proizvodi[i].uniqueId);
										mainButton.innerHTML = "<div class=\"value\">"+proizvodi[i].name+"<br><span class='code'>"+proizvodi[i].code+"</span></div>"
										document.getElementById("proizvodi-lista").appendChild(mainButton);
									}
								}
								document.getElementById("proizvodi").style.display="block";
							}

							function goBackToCategories(){
								document.getElementById("kategorije").style.display="flex";
								document.getElementById("proizvodi").style.display = "none";
							}

							function productPick(elem){
								var productId = elem.dataset.uniqueid;
								var productJson = {};
								for(var i=0;i<proizvodi.length;i++){
									if(proizvodi[i].uniqueId==productId){
										productJson = JSON.parse(JSON.stringify(proizvodi[i]));
										break;
									}
								}
								if(productJson.uniqueId){
									var postojeceStavke = document.getElementById("revers-stavke").getElementsByClassName("uniqueId");
									var stavkaNaListi = -1;
									for(var i=0;i<postojeceStavke.length;i++){
										if(postojeceStavke[i].value == productJson.uniqueId){
											stavkaNaListi = i;
											break;
										}
									}
									if(stavkaNaListi>=0){
										postojeceStavke[stavkaNaListi].parentElement.getElementsByClassName("quantityInput")[0].value = parseFloat(postojeceStavke[i].parentElement.getElementsByClassName("quantityInput")[0].value) + 1; 
									}else{
										var stavkaWrap = document.createElement("DIV");
										stavkaWrap.setAttribute("class","stavkaWrap");
											var idElem = document.createElement("INPUT");
											idElem.setAttribute("class","uniqueId");
											idElem.setAttribute("style","display:none");
											idElem.setAttribute("type","text")
											idElem.setAttribute("value",productJson.uniqueId)
											stavkaWrap.appendChild(idElem);

											var div = document.createElement("DIV");
												var rBr = document.createElement("DIV");
												rBr.setAttribute("class","number");
												rBr.innerHTML = postojeceStavke.length+1+".";
												div.appendChild(rBr);

												var itemName = document.createElement("DIV");
												itemName.setAttribute("class","name");
												itemName.innerHTML = productJson.name;
												div.appendChild(itemName);
											stavkaWrap.appendChild(div);
											

											var div = document.createElement("DIV");
												var quantity = document.createElement("DIV");
												quantity.setAttribute("class","quantity");
												quantity.innerHTML = "<input type=\"number\" class=\"quantityInput\" min=\"0\" value=\"1\"><div class=\"unit\">"+productJson.unit+"</div>";
												stavkaWrap.appendChild(quantity);

												var quantity2 = document.createElement("DIV");
												quantity2.setAttribute("class","quantity2");
												quantity2.innerHTML = "<input type=\"number\" class=\"quantity2Input\" min=\"0\" value=\"0\"><div class=\"unit\">"+productJson.unit+"</div>";
												stavkaWrap.appendChild(quantity2);

												var deleteElem = document.createElement("DIV");
												deleteElem.setAttribute("class","delete");
												deleteElem.setAttribute("onclick","deleteStavkaRow(this)");
												deleteElem.innerHTML = "<img src=\"https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/deleteRow.png\">";
												stavkaWrap.appendChild(deleteElem);
											stavkaWrap.appendChild(div);
											

										document.getElementById("revers-stavke").appendChild(stavkaWrap);
									}
								}else{
									console.log("Nisam mogao da nadjem prozivod")
								}
							}

							function deleteStavkaRow(elem){
								elem.parentElement.remove();
								var postojeceStavke = document.getElementById("revers-stavke").getElementsByClassName("stavkaWrap");
								for(var i=0;i<postojeceStavke.length;i++){
									postojeceStavke[i].getElementsByClassName("number")[0].innerHTML = eval(i+1)+"."
								}
							}

							function getProductById(uniqueId){
								var product = {};
								for(var i=0;i<proizvodi.length;i++){
									if(proizvodi[i].uniqueId==uniqueId){
										product = proizvodi[i];
									}
								}
								return product;
							}

							function dodajStavku(json){
								var postojeceStavke = document.getElementById("revers-stavke").getElementsByClassName("stavkaWrap");
								var stavkaWrap = document.createElement("DIV");
								stavkaWrap.setAttribute("class","stavkaWrap");
									var idElem = document.createElement("INPUT");
									idElem.setAttribute("class","uniqueId");
									idElem.setAttribute("style","display:none");
									idElem.setAttribute("type","text")
									idElem.setAttribute("value",json.uniqueId)
									stavkaWrap.appendChild(idElem);

									var div = document.createElement("DIV");
										var rBr = document.createElement("DIV");
										rBr.setAttribute("class","number");
										rBr.innerHTML = postojeceStavke.length+1+".";
										div.appendChild(rBr);

										var itemName = document.createElement("DIV");
										itemName.setAttribute("class","name");
										itemName.innerHTML = getProductById(json.uniqueId).name;
										div.appendChild(itemName);
									stavkaWrap.appendChild(div);
									

									var div = document.createElement("DIV");
										var quantity = document.createElement("DIV");
										quantity.setAttribute("class","quantity");
										quantity.innerHTML = "<input type=\"number\" class=\"quantityInput\" min=\"0\" value=\""+json.quantity+"\"><div class=\"unit\">"+getProductById(json.uniqueId).unit+"</div>";
										stavkaWrap.appendChild(quantity);

										var quantity2 = document.createElement("DIV");
										quantity2.setAttribute("class","quantity2");
										quantity2.innerHTML = "<input type=\"number\" class=\"quantity2Input\" min=\"0\" value=\""+json.quantity2+"\"><div class=\"unit\">"+getProductById(json.uniqueId).unit+"</div>";
										stavkaWrap.appendChild(quantity2);

										var deleteElem = document.createElement("DIV");
										deleteElem.setAttribute("class","delete");
										deleteElem.setAttribute("onclick","deleteStavkaRow(this)");
										deleteElem.innerHTML = "<img src=\"\https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/deleteRow.png\">";
										stavkaWrap.appendChild(deleteElem);
									stavkaWrap.appendChild(div);
									

								document.getElementById("revers-stavke").appendChild(stavkaWrap);
							}
						</script>
						<div id="proizvodi">
							<div class="inputWrap">
								<div class="button" onclick="goBackToCategories()">
									<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/backIcon.png"></div>
									<div class="label">Назад</div>
								</div>
							</div>
							<div class="buttons" id="proizvodi-lista"></div>
						</div>
					</div>
					<div class="proizvodForm">
						<div id="form">
							<div class="title">Реверс</div>
							<div id="form-content">
								<div class="inputWrap">
									<div class="inputTitle" id="date"></div>
									<script>
										var datumReversa = new Date(Number(revers.datetime));
										var datum = revers.datum ? revers.datum : reshuffleDate(revers.date);
										document.getElementById("date").innerHTML = datum + " "+ datumReversa.getHours()+":"+datumReversa.getMinutes();
									</script>
								</div>
								<div class="inputWrap">
									<div class="inputTitle">Мајстор:</div>
									<div class="inputWrapper">
										<select id="majstor-reversa"></select>
										<script>
											var majstori	=	<%-JSON.stringify(majstori)%>;
											var option = document.createElement("OPTION");
											option.setAttribute("value","fantom");
											option.innerHTML	=	"Фантомски мајстор";
											document.getElementById("majstor-reversa").appendChild(option);
											for(var i=0;i<majstori.length;i++){
												if(!majstori[i].inactive){
													var option = document.createElement("OPTION");
													option.setAttribute("value",majstori[i].uniqueId);
													option.innerHTML	=	majstori[i].ime;
													if(podizvodjaci.indexOf(majstori[i].uniqueId)<0){
														document.getElementById("majstor-reversa").appendChild(option);
													}
													
												}
											}

											document.getElementById("majstor-reversa").value = revers.majstor;

										</script>
									</div>
								</div>
								<div class="inputWrap">
									<div class="inputTitle">Број налога:</div>
									<input type="number" id="broj-naloga" oninput="brojNaloga()">
									<script>

										document.getElementById("broj-naloga").value = nalog.broj ? nalog.broj : revers.nalog;
										function brojNaloga(){
											var brojNaloga = document.getElementById("broj-naloga").value.toString();
											if(brojNaloga.length==7){
												socket.emit("adresaPoBroju",brojNaloga)
											}else{
												document.getElementById("adresa-naloga").value = "";
											}
										}

										socket.on("adresaPoBrojuOdgovor",function(adresa){
											var brojNaloga = document.getElementById("broj-naloga").value.toString();
											if(brojNaloga.length==7){
												document.getElementById("adresa-naloga").value = adresa;
											}
										});
									</script>
								</div>
								<div class="inputWrap">
									<div class="inputTitle">Адреса:</div>
									<input type="text" id="adresa-naloga">
									<script>
										document.getElementById("adresa-naloga").value = nalog.adresa ? nalog.adresa : revers.adresa ? revers.adresa : " ";
									</script>
								</div>
								<div class="inputWrap">
									<div class="inputTitle">Ставке:</div>
									<div id="revers-stavke"></div>
									<script>
										for(var i=0;i<revers.zaduzenje.length;i++){
											dodajStavku(revers.zaduzenje[i])
										}
									</script>
								</div>
								<div class="inputWrap reversButtons">
									<div class="button" onclick="saveRevers()">Сачувај измене</div>
									<div class="button deleteButton" onclick="loadGif();document.getElementById('obrisi-revers-form').submit()">Обриши реверс</div>
									<!--<div class="button" onclick="printZaduzenje()">
										<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/printIcon.png"></div>
										<div class="label">Штампај задужење</div>
									</div>
									<div class="button" onclick="printRazduzenje()">
										<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/printIcon.png"></div>
										<div class="label">Штампај раздужење</div>
									</div>-->
									<div class="button" onclick="printRevers()">
										<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/printIcon.png"></div>
										<div class="label">Штампај реверс</div>
									</div>
									<form method="POST" action="/izmeni-revers" style="display:none" id="izmeni-revers-form">
										<input type="text" name="json" id="izmeni-revers-json">
									</form>
									<form method="POST" action="/obrisi-revers" style="display:none" id="obrisi-revers-form">
										<input type="text" name="id" value="<%=revers.uniqueId%>">
									</form>
									<%- include ("partials/printer") -%>
									<div style="overflow:hidden;height:1px;width:1px;">
										<canvas id="logo-canvas" height="306" width="300"></canvas>
										<script>
											var logoCanvas = document.getElementById('logo-canvas');
											var logoCanvasContext = logoCanvas.getContext('2d');
											var logoLogoBlob;
											function make_base3(){
											  base_image3 = new Image();
											  base_image3.crossOrigin="anonymous"
											  //base_image3.src = 'https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/fakturaLogo.png';
											  base_image3.src = '/images/fakturaLogo.png';
											  base_image3.onload = function(){
											    logoCanvasContext.drawImage(base_image3, 0, 0);
											    logoLogoBlob 	=	logoCanvas.toDataURL("image/png", 1.0);

											  }
											}
											make_base3();
										</script>
									</div>
									<div style="overflow:hidden;width:1px;height:1px">
										<canvas id="logo-stambeno-canvas" height="87" width="238"></canvas>
										<script>
											var logoStambenoCanvas = document.getElementById('logo-stambeno-canvas');
											var logoStambenoCanvasContext = logoStambenoCanvas.getContext('2d');
											var logoStambenoLogoBlob;
											function make_base4(){
											  base_image4 = new Image();
											  base_image4.crossOrigin="anonymous"
											  base_image4.src = 'https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/logo_stambeno.png';
											  base_image4.onload = function(){
											    logoStambenoCanvasContext.drawImage(base_image4, 0, 0);
											    logoStambenoLogoBlob 	=	logoStambenoCanvas.toDataURL("image/png", 1.0);

											  }
											}
											make_base4();
										</script>
									</div>
									<script>
										function saveRevers(){
											var zaduzenjeElems = document.getElementById("revers-stavke").getElementsByClassName("stavkaWrap");
											if(zaduzenjeElems.length>0){
												if(document.getElementById("broj-naloga").value){
													var json = {};
													json.uniqueId = revers.uniqueId;
													json.majstor = document.getElementById("majstor-reversa").value;
													json.nalog = document.getElementById("broj-naloga").value;
													json.adresa = document.getElementById("adresa-naloga").value;
													json.zaduzenje = [];
													for(var i=0;i<zaduzenjeElems.length;i++){
														var zaduzenjeJson = {};
														zaduzenjeJson.uniqueId = zaduzenjeElems[i].getElementsByClassName("uniqueId")[0].value;
														zaduzenjeJson.quantity = zaduzenjeElems[i].getElementsByClassName("quantityInput")[0].value;
														zaduzenjeJson.quantity2 = zaduzenjeElems[i].getElementsByClassName("quantity2Input")[0].value;
														json.zaduzenje.push(zaduzenjeJson)
													}
													document.getElementById("izmeni-revers-json").value = JSON.stringify(json);
													loadGif();
													document.getElementById("izmeni-revers-form").submit();
												}else{
													alert("Нисте унели број налога")
												}
											}else{
												alert("Нисте унели ниједну ставку");
											}
										}

										function printZaduzenje(){
											doc = new jsPDF({
												orientation: 'p',
												unit: 'mm',
												format: 'a4',
												compress: true
												//putOnlyUsedFonts:true
											});
											pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
											pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
											var yPos = 12;
											var xPos = 12;
											//doc.getFontList("Helvetica");
											doc.addFileToVFS("PTSans.ttf", PTSans);
											doc.addFileToVFS("PTSansBold.ttf", PTSansBold);
											doc.addFont('PTSans.ttf', 'PTSans', 'normal');
											doc.addFont('PTSansBold.ttf', 'PTSans', 'bold');

											doc.setFont('PTSans'); // set font
											doc.getFontList("PTSans");
										    doc.addImage(logoLogoBlob, 'PNG', 5, 5, 150/mm, 153/mm,'','FAST');
									        doc.setFontType("bold");
											doc.setFontSize(16);
									        doc.text("Послови Града доо",205,yPos,'right');
									        doc.setFontType("normal");
											doc.setFontSize(11);
											yPos = yPos + 5;
									        doc.text("Мије Ковачевића 9, 11000 Палилула",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("011/334-2325",205,yPos,'right');
									        yPos = yPos + 5;
									        doc.text("063/209-777",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("ПИБ: 114108334",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("МБ: 21972215",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("office@poslovigrada.rs",205,yPos,'right');
									        yPos = yPos + 10;
									        doc.setFontType("bold");
											doc.setFontSize(20);
									        doc.text("Требовање по налогу број "+revers.nalog,pageWidth/2,yPos,'center');
									        doc.setFontType("normal");
											doc.setFontSize(16);
											yPos = yPos + 10;
											var adresa = nalog.adresa ? nalog.adresa : " ";
											doc.text(adresa,pageWidth/2,yPos,'center');
											yPos = yPos + 10;
									        doc.text(vremePrijema(revers.datetime),pageWidth/2,yPos,'center');
											yPos = yPos + 10;
									        doc.setFontType("bold");
											doc.text("Требован материјал:",5,yPos);
											doc.setFontType("normal");
											doc.setFontSize(14);
											yPos = yPos + 7;
											for(var i=0;i<revers.zaduzenje.length;i++){
									        	doc.setFontType("bold");
												doc.text(eval(i+1).toString()+".",5,yPos);
												doc.setFontType("normal");
												doc.text(getProductById(revers.zaduzenje[i].uniqueId).name,15,yPos);
												doc.text(revers.zaduzenje[i].quantity+" kom.",120,yPos);
												yPos = yPos + 7;
												if(yPos>285){
													doc.addPage()
													yPos = 5;
												}
											}
											yPos = yPos + 10;
											doc.setFontType("bold");
											doc.text(getMajstorByCode(revers.majstor).ime,5,yPos);
											yPos = yPos + 10;
											doc.setDrawColor(0);
									        doc.setFillColor(0,0,0);
											doc.rect(5, yPos, 50, 0.4, 'F');


									        window.open(doc.output('bloburl'), '_blank');
										}

										function printRazduzenje(){
											doc = new jsPDF({
												orientation: 'p',
												unit: 'mm',
												format: 'a4',
												compress: true
												//putOnlyUsedFonts:true
											});
											pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
											pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
											var yPos = 12;
											var xPos = 12;
											//doc.getFontList("Helvetica");
											doc.addFileToVFS("PTSans.ttf", PTSans);
											doc.addFileToVFS("PTSansBold.ttf", PTSansBold);
											doc.addFont('PTSans.ttf', 'PTSans', 'normal');
											doc.addFont('PTSansBold.ttf', 'PTSans', 'bold');

											doc.setFont('PTSans'); // set font
											doc.getFontList("PTSans");
										    doc.addImage(logoLogoBlob, 'PNG', 5, 5, 150/mm, 153/mm,'','FAST');
									        doc.setFontType("bold");
											doc.setFontSize(16);
									        doc.text("Послови Града доо.",205,yPos,'right');
									        doc.setFontType("normal");
											doc.setFontSize(11);
											yPos = yPos + 5;
									        doc.text("Мије Ковачевића 9, 11000 Палилула",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("011/334-2325",205,yPos,'right');
									        yPos = yPos + 5;
									        doc.text("063/209-777",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("ПИБ: 114108334",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("МБ: 21972215",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("office@poslovigrada.rs",205,yPos,'right');
									        yPos = yPos + 10;
									        doc.setFontType("bold");
											doc.setFontSize(20);
									        doc.text("Реверс по налогу број "+revers.nalog,pageWidth/2,yPos,'center');
									        doc.setFontType("normal");
											doc.setFontSize(16);
											yPos = yPos + 10;
											var adresa = nalog.adresa ? nalog.adresa : revers.adresa ? revers.adresa : " ";
											doc.text(adresa,pageWidth/2,yPos,'center');
											yPos = yPos + 10;
									        doc.text(vremePrijema(revers.datetime),pageWidth/2,yPos,'center');
											yPos = yPos + 10;
									        doc.setFontType("bold");
											doc.text("Требован материјал:",5,yPos);
											doc.text("Враћен материјал:",150,yPos);
											doc.setFontType("normal");
											doc.setFontSize(14);
											yPos = yPos + 7;
											for(var i=0;i<revers.zaduzenje.length;i++){
									        	doc.setFontType("bold");
												doc.text(eval(i+1).toString()+".",5,yPos);
												doc.setFontType("normal");
												doc.text(getProductById(revers.zaduzenje[i].uniqueId).name,15,yPos);
												doc.text(revers.zaduzenje[i].quantity+" kom.",120,yPos);
												doc.text(revers.zaduzenje[i].quantity2+" kom.",150,yPos);
												yPos = yPos + 7;
												if(yPos>285){
													doc.addPage()
													yPos = 5;
												}
											}
											/*yPos = yPos + 10;
											if(yPos>285){
												doc.addPage()
												yPos = 5;
											}
											doc.setFontType("bold");
											doc.text("Враћен материјал:",5,yPos);
											doc.setFontType("normal");
											doc.setFontSize(14);
											yPos = yPos + 7;
											if(yPos>285){
												doc.addPage()
												yPos = 5;
											}
											for(var i=0;i<revers.zaduzenje.length;i++){
									        	doc.setFontType("bold");
												doc.text(eval(i+1).toString()+".",5,yPos);
												doc.setFontType("normal");
												var razduzeno = revers.zaduzenje[i].quantity2 ? revers.zaduzenje[i].quantity2 : "0";
												doc.text(getProductById(revers.zaduzenje[i].uniqueId).name,10,yPos);
												doc.text(razduzeno+" kom.",120,yPos);
												yPos = yPos + 7;
												if(yPos>285){
													doc.addPage()
													yPos = 5;
												}
											}*/

											doc.setFontType("bold");
											doc.text(getMajstorByCode(revers.majstor).ime,5,yPos);
											yPos = yPos + 10;
											doc.setDrawColor(0);
									        doc.setFillColor(0,0,0);
											doc.rect(5, yPos, 50, 0.4, 'F');


									        window.open(doc.output('bloburl'), '_blank');
										}


										function printRevers(){
											doc = new jsPDF({
												orientation: 'p',
												unit: 'mm',
												format: 'a4',
												compress: true
												//putOnlyUsedFonts:true
											});
											pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
											pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
											var yPos = 40;
											var xPos = 12;
											//doc.getFontList("Helvetica");
											doc.addFileToVFS("PTSans.ttf", PTSans);
											doc.addFileToVFS("PTSansBold.ttf", PTSansBold);
											doc.addFont('PTSans.ttf', 'PTSans', 'normal');
											doc.addFont('PTSansBold.ttf', 'PTSans', 'bold');

											doc.setFont('PTSans'); // set font
											doc.getFontList("PTSans");
											/*if(logoLogoBlob){
												doc.addImage(logoLogoBlob, 'PNG', 5, 5, 150/mm, 153/mm,'','FAST');
											}*/
											if(logoStambenoLogoBlob){
												doc.addImage(logoStambenoLogoBlob, 'PNG', 5, 5, 238/mm, 87/mm,'','FAST');
											}
									        /*doc.setFontType("bold");
											doc.setFontSize(16);
									        doc.text("Послови Града доо.",205,yPos,'right');
									        doc.setFontType("normal");
											doc.setFontSize(11);
											yPos = yPos + 5;
									        doc.text("Мије Ковачевића 9, 11000 Палилула",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("011/334-2325",205,yPos,'right');
									        yPos = yPos + 5;
									        doc.text("063/209-777",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("ПИБ: 114108334",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("МБ: 21972215",205,yPos,'right');
											yPos = yPos + 5;
									        doc.text("office@poslovigrada.rs",205,yPos,'right');
									        yPos = yPos + 10;*/
									        doc.setFontType("bold");
											doc.setFontSize(20);
									        doc.text("Реверс по налогу број "+revers.nalog,pageWidth/2,yPos,'center');
									        doc.setFontType("normal");
											doc.setFontSize(16);
											yPos = yPos + 10;
											var adresa = nalog.adresa ? nalog.adresa : revers.adresa ? revers.adresa : " ";
											doc.text(adresa,pageWidth/2,yPos,'center');
											yPos = yPos + 10;
									        doc.text(vremePrijema(revers.datetime),pageWidth/2,yPos,'center');
											yPos = yPos + 10;
									        doc.setFontType("bold");
											doc.text("Требован материјал:",5,yPos);
											doc.text("Уграђен материјал:",150,yPos);
											doc.setFontType("normal");
											doc.setFontSize(14);
											yPos = yPos + 7;
											for(var i=0;i<revers.zaduzenje.length;i++){
									        	doc.setFontType("bold");
												doc.text(eval(i+1).toString()+".",5,yPos);
												doc.setFontType("normal");
												doc.text(getProductById(revers.zaduzenje[i].uniqueId).name,15,yPos);
												doc.text(revers.zaduzenje[i].quantity+" kom.",120,yPos);
												//doc.text(revers.zaduzenje[i].quantity2+" kom.",150,yPos);
												doc.text("_____ kom.",150,yPos);
												yPos = yPos + 7;
												if(yPos>285){
													doc.addPage()
													yPos = 5;
												}
											}
											yPos = yPos + 7;
											if(yPos>285){
												doc.addPage()
												yPos = 5;
											}
											doc.setFontType("bold");
											doc.text(getMajstorByCode(revers.majstor).ime,5,yPos);
											yPos = yPos + 15;
											if(yPos>285){
												doc.addPage()
												yPos = 5;
											}
											doc.setDrawColor(0);
									        doc.setFillColor(0,0,0);
											doc.rect(5, yPos, 50, 0.4, 'F');

											doc.addPage();
											if(logoStambenoLogoBlob){
												doc.addImage(logoStambenoLogoBlob, 'PNG', 5, 5, 238/mm, 87/mm,'','FAST');
											}
											yPos = 30;
											yPos = yPos + 10;
											doc.setFontSize(22);
											doc.text("ИНТЕРНИ РАДНИ НАЛОГ",pageWidth/2,yPos,'center');
											doc.setLineWidth(0.5);
											doc.rect(60, 30, 90, 15);
											
											yPos = yPos + 10;
											doc.setFontSize(14);
											doc.text("Датум:",15,yPos,'left');
											doc.text("Број налога:",195,yPos,'right');
											yPos = yPos +7;
											doc.setFontType("normal");
											doc.text(getDateAsStringForInputObject(new Date()),15,yPos,'left');
											doc.text(revers.nalog,195,yPos,'right');
											yPos = yPos +7;
											doc.setFontType("bold");
											doc.text("Време доласка:",15,yPos,'left');
											doc.text("Адреса:",195,yPos,'right');
											yPos = yPos +7;
											doc.setFontType("normal");
											doc.text("____________________________",15,yPos,'left');
											doc.text(adresa,195,yPos,'right');
											yPos = yPos +7;
											doc.setFontType("bold");
											doc.text("Време завршетка радова:",15,yPos,'left');
											doc.text("Радна јединица:",195,yPos,'right');
											yPos = yPos +7;
											doc.setFontType("normal");
											doc.text("____________________________",15,yPos,'left');
											var radnaJedinica = nalog ? nalog.radnaJedinica : " ";
											if(!radnaJedinica){
												radnaJedinica = " ";
											}
											doc.text(radnaJedinica,195,yPos,'right');
											yPos = yPos + 7;
											doc.setFontType("bold");
											doc.text("Опис квара:",15,yPos,'left');
											doc.text("Захтевалац радова:",195,yPos,'right');
											yPos = yPos + 7;
											doc.setFontType("normal");
											var opis = nalog ? nalog.opis : " ";
											if(!opis){
												opis = " ";
											}
											doc.text(stringArray(opis,40),15,yPos,'left');
											var zahtevalac = nalog ? nalog.zahtevalac : " ";
											if(!zahtevalac){
												zahtevalac = " ";
											}
											doc.text(zahtevalac,195,yPos,'right');
											yPos = yPos + 7*stringArray(opis,40).length;
											doc.setFontType("bold");
											doc.text("Опис радова:",15,yPos,'left');
											yPos = yPos + 7;
											doc.setLineWidth(0.2);
											doc.rect(15, yPos, 180, 270-yPos);

											yPos = yPos + 5;
											doc.setFontSize(12);
											doc.setFontType("bold");
											doc.text("Пуњење и пражњење мреже: ",17,yPos,'left');
											doc.setFontType("normal");
											doc.text("________________________ комада вертикала, ______________ спратова",73,yPos,'left');
											yPos = yPos + 10;
											doc.setFontType("bold");
											doc.text("Штемање: ",17,yPos,'left');
											doc.setFontType("normal");
											doc.text("димензије _____________________",37,yPos,'left');
											doc.text("_____________________",58,yPos+7,'left');

											doc.setLineWidth(0.5);
											var xPos = 100;
											doc.rect(xPos, yPos-4, 5, 5);
											xPos = xPos + 6;
											doc.text("Опека",xPos,yPos,'left');
											xPos = xPos + 15;
											doc.rect(xPos, yPos-4, 5, 5);
											xPos = xPos + 6;
											doc.text("Бетон",xPos,yPos,'left');
											xPos = xPos + 15;
											doc.rect(xPos, yPos-4, 5, 5);
											xPos = xPos + 6;
											doc.text("Арм. Бетон",xPos,yPos,'left');
											xPos = xPos + 23;
											doc.rect(xPos, yPos-4, 5, 5);
											xPos = xPos + 6;
											doc.text("Гипс",xPos,yPos,'left');

											yPos = yPos + 15;
											doc.setFontType("bold");
											doc.text("Демонтиран материјал: ",17,yPos,'left');
											yPos = yPos + 20;
											doc.text("Уграђен материјал: ",17,yPos,'left');
											yPos = yPos + 80;
											doc.text("Потребна финализација: ",17,yPos,'left');
											doc.setFontType("normal");
											doc.text("ДА / НЕ ",65,yPos,'left');
											doc.setFontType("bold");
											doc.text("Шут изнесен: ",85,yPos,'left');
											doc.setFontType("normal");
											doc.text("ДА / НЕ ",111,yPos,'left');
											doc.setFontType("bold");
											doc.text("Одгушење сајлом: ",130,yPos,'left');
											doc.setFontType("normal");
											doc.text("ДА / НЕ ",163,yPos,'left');


											yPos = 280;
											doc.setFontType("bold");
											doc.text("Потпис мајстора:",15,yPos,'left');
											doc.text("Потпис станара:",195,yPos,'right');
											yPos = yPos +7;
											doc.setFontType("normal");
											doc.text("____________________________",15,yPos,'left');
											doc.text("____________________________",195,yPos,'right');

									        window.open(doc.output('bloburl'), '_blank');
										}
									</script>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>		
		</div>
	</div>
<%- include ("partials/footer") -%>
