<%- include ("partials/header") -%>
	<script>
		var radnik = <%-JSON.stringify(radnik)%>;
		var opomene = <%-JSON.stringify(opomene)%>;
		var checkIns = <%-JSON.stringify(checkIns)%>;

		socket.on("majstorCheckedIn",function(json){
			if(radnik.uniqueId==json.uniqueId || radnik.email==json.uniqueId){
				if(new Date(Number(json.datetime)).getHours()<13){
					document.getElementById("dolazak").innerHTML= getTimestamp(new Date(Number(json.datetime)))
				}

				if(new Date(Number(json.datetime)).getHours()>13){
					document.getElementById("odlazak").innerHTML= getTimestamp(new Date(Number(json.datetime)))
				}

			} 
		});
	</script>
	<div class="pageWidth">
		<div class="radnik">
			<div class="subTitle" id="ime"></div>
			<script>
				if(radnik.ime){
					document.getElementById("ime").innerHTML = radnik.ime;
				}else{
					document.getElementById("ime").innerHTML = radnik.name;
				}
			</script>
			<div class="cekiranje">
				<div class="inline">
					<div class="note">Време доласка:</div>
					<div id="dolazak"></div>
					<script>
						if(checkIns.length>0){
							if(new Date(Number(checkIns[0].datetime)).getHours()<13){
								document.getElementById("dolazak").innerHTML= getTimestamp(new Date(Number(checkIns[0].datetime)))
							}
						}
						
					</script>
				</div>
				<div class="inline">
					<div class="note">Време одласка:</div>
					<div id="odlazak"></div>
					<script>
						if(checkIns.length>0){
							if(new Date(Number(checkIns[checkIns.length-1].datetime)).getHours()>13){
								document.getElementById("odlazak").innerHTML= getTimestamp(new Date(Number(checkIns[checkIns.length-1].datetime)))
							}
						}
						
					</script>
				</div>
			</div>
			<div class="quickButtons">
				<div class="button" onclick="quickButton('slobodan')">Слободан дан</div>
				<div class="button" onclick="quickButton('neopravdan')">Неоправдано одсуство</div><!--2 dnevnice-->
				<div class="button" onclick="quickButton('opravdan')">Оправдано одсуство</div><!--1 dnevnica-->
				<div class="button" onclick="quickButton('bolovanje')">Боловање</div><!--35% skidas dnevnica-->
				<div class="button" onclick="quickButton('nebolovanje')">Неоправдано боловање</div><!--20 bodova-->
				<div class="button" onclick="quickButton('slava')">Слава</div>
				<div class="button" onclick="quickButton('smrtnislucaj')">Смртни случај</div>
				<div class="button" onclick="quickButton('neuredan')">Неуредан</div>
				<div class="button" onclick="quickButton('necekiranje')">Није се чекирао</div><!--2 boda-->
				<div class="button" onclick="quickButton('steta')">Штета фирми</div>
				<div class="button" onclick="quickButton('stimulacija')">Стимулација</div>
			</div>
			<%if(opomene.length>0){%>
				<div class="opomeneWrap">
					<div class="title">Данашње напомене:</div>
					<div class="danasnjeOpomene" id="opomene"></div>
					<script>
						for(var i=0;i<opomene.length;i++){
							var opomena = document.createElement("DIV");
							opomena.setAttribute("class","opomena");
								var timestamp = document.createElement("DIV");
								timestamp.setAttribute("class","timestamp");
								timestamp.innerHTML = new Date(Number(opomene[i].datetime)).getHours().toString().padStart(2,"0")+":"+new Date(Number(opomene[i].datetime)).getMinutes().toString().padStart(2,"0");
								opomena.appendChild(timestamp);

								var tesktOpomene = document.createElement("DIV");
								tesktOpomene.setAttribute("class","tekstOpomene");
								tesktOpomene.innerHTML = opomene[i].opomena;
								opomena.appendChild(tesktOpomene);

								var deleteButton = document.createElement("DIV");
								deleteButton.setAttribute("class","delete");
								deleteButton.setAttribute("onclick","obrisiOpomenu(\""+opomene[i].uniqueId+"\")");
								deleteButton.innerHTML = "<img src=\"https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/deleteRow.png\">";
								opomena.appendChild(deleteButton);
							document.getElementById("opomene").appendChild(opomena);
							
						}
						
					</script>
				</div>
			<%}%>
			<script>
				function obrisiOpomenu(uniqueId){
					document.getElementById("brisanje-id").value = uniqueId;
					loadGif();
					document.getElementById("brisanje-form").submit();
				}

				function quickButton(type){
					if(type=="slobodan"){
						document.getElementById("tekst-opomene").value = "Слободан дан";
						document.getElementById("type").value = "10";
					}else if(type=="neopravdan"){
						document.getElementById("tekst-opomene").value = "Неоправдано одсуство";
						document.getElementById("type").value = "20";
					}else if(type=="opravdan"){
						document.getElementById("tekst-opomene").value = "Оправдано одсуство";
						document.getElementById("type").value = "30";
					}else if(type=="bolovanje"){
						document.getElementById("tekst-opomene").value = "Боловање";
						document.getElementById("type").value = "40";
					}else if(type=="neuredan"){
						document.getElementById("tekst-opomene").value = "Неуредан";
						document.getElementById("type").value = "50";
					}else if(type=="necekiranje"){
						document.getElementById("tekst-opomene").value = "Нечекирање";
						document.getElementById("type").value = "60";
					}else if(type=="steta"){
						var iznos = prompt("Колики је новчани износ штете?");
						document.getElementById("tekst-opomene").value = "Износ штете: "+iznos+" бода";
						document.getElementById("type").value = "70";
					}else if(type=="nebolovanje"){
						document.getElementById("tekst-opomene").value = "Неоправдано боловање";
						document.getElementById("type").value = "45";
					}else if(type=="slava"){
						document.getElementById("tekst-opomene").value = "Слава";
						document.getElementById("type").value = "80";
					}else if(type=="smrtnislucaj"){
						document.getElementById("tekst-opomene").value = "Смртни случај";
						document.getElementById("type").value = "90";
					}else if(type=="stimulacija"){
						var iznos = prompt("Колики је новчани износ стимулације?");
						document.getElementById("tekst-opomene").value = "Износ стимулације: "+iznos+" бода";
						document.getElementById("type").value = "100";
					}
					loadGif();
					document.getElementById("opomena-form").submit();
				}
			</script>
			<form method="POST" action="/obrisiOpomenu" id="brisanje-form" style="display: none;">
				<input type="text" id="brisanje-id" name="id">
			</form>
			<form method="POST" action="/opomenaRadnika" id="opomena-form">
				<input type="text" name="id" id="id" style="display:none">
				<input type="text" name="type" id="type" value="0" style="display:none">
				<script>
					if(radnik.uniqueId){
						document.getElementById("id").value = radnik.uniqueId;
					}else{
						document.getElementById("id").value = radnik.email;
					}
				</script>
				<div class="textareaWrap">
					<textarea name="opomena" id="tekst-opomene"></textarea>
				</div>
				<div class="submitWrap">
					<input type="submit" value="Сачувај">
				</div>
			</form>
			
		</div>
	</div>
<%- include ("partials/footer") -%>
