<%- include ("partials/header") -%>
<script>
	var specifikacija = <%-JSON.stringify(specifikacija)%>;
	console.log(specifikacija);
</script>
	<div class="pageWidth podizvodjac podizvodjacSpecifikacija">
		<div class="lightBlueBox">
			<div class="inputWrap printButton">
				<div class="button" onclick="printSpecifikacija()" style="display:inline-block;vertical-align: top;">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/printIcon.png"></div>
					<div class="label">Штампај спецификацију</div>
				</div>
			</div>
			<div class="boxesWrap">
				<div class="box">
					<div class="icon"><img style="width:80%" src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nalogIcon.png"></div>
					<div class="info">
						<div class="title">Број спецификације</div>
						<div class="text"><%=specifikacija.brojSpecifikacije%></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/fakturisanoIcon.png"></div>
					<div class="info">
						<div class="title">Број фактуре</div>
						<div class="text"><%=specifikacija.brojFakture%></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/datumIcon.png"></div>
					<div class="info">
						<div class="title">Датум спецификације</div>
						<div class="text"><%=specifikacija.datum.datum%></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/iznosIcon.png"></div>
					<div class="info">
						<div class="title">Износ</div>
						<div class="text"><span id="iznos-specifikacije"></span></div>
						<script>
							document.getElementById("iznos-specifikacije").innerHTML = brojSaRazmacima(specifikacija.ukupanIznos)+" дин.";
						</script>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img style="width:50%" src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/pdvIcon.png"></div>
					<div class="info">
						<div class="title">ПДВ</div>
						<div class="text"><span id="pdv"></span></div>
						<script>
							document.getElementById("pdv").innerHTML = brojSaRazmacima(parseFloat(specifikacija.ukupanIznos)*0.2)+" дин.";
						</script>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img style="width:80%" id="status-icon" src=""></div>
					<div class="info">
						<div class="title">Статус</div>
						<div class="text"><span id="status"></span></div>
						<script>
							if(Number(specifikacija.odobrena)==1){
								document.getElementById("status-icon").src = "https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/validiranIcon.png";
								document.getElementById("status").innerHTML = "Одобрена";
							}else{
								document.getElementById("status-icon").src = "https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nevalidiranIcon.png";
								document.getElementById("status").innerHTML = "Чека одобрење";
							}
						</script>
					</div>
				</div>
			</div>
			<div class="specifikacija">
				<div class="rows" id="rows"></div>
			</div>
			<script>
				for(var i=0;i<specifikacija.nalozi.length;i++){
					var row = document.createElement("DIV");
					row.setAttribute("class","row");
						var item = document.createElement("DIV");
						item.setAttribute("class","inline rBr");
						item.innerHTML = eval(i+1)+".";
						row.appendChild(item);

						var item = document.createElement("DIV");
						item.setAttribute("class","inline brojNaloga");
						item.innerHTML = specifikacija.nalozi[i].broj;
						row.appendChild(item);

						var item = document.createElement("DIV");
						item.setAttribute("class","inline radnaJedinica");
						item.innerHTML = specifikacija.nalozi[i].radnaJedinica;
						row.appendChild(item);

						var item = document.createElement("DIV");
						item.setAttribute("class","inline adresa");
						item.innerHTML = specifikacija.nalozi[i].adresa;
						row.appendChild(item);

						var item = document.createElement("DIV");
						item.setAttribute("class","inline iznos");
						item.innerHTML = brojSaRazmacima(specifikacija.nalozi[i].ukupanIznos);
						row.appendChild(item);


					document.getElementById("rows").appendChild(row);
				}
			</script>
			<% if(Number(specifikacija.odobrena)==0 ){%>
				<div class="inputWrap printButton" style="margin-top:50px">
					<div class="button deleteButton" onclick="loadGif();document.getElementById('form').submit()" style="display:inline-block;vertical-align: top;">
						<div class="label">Обриши спецификацију</div>
					</div>
					<form method="POST" action="/podizvodjac/obrisi-specifikaciju" style="display:none" id="form">
						<input type="text" name="specifikacija" value="<%=specifikacija.uniqueId%>">
					</form>
				</div>
			<%}%>
		</div>
		<%- include ("partials/printer") -%>
		<div style="overflow:hidden;height:1px;width:1px;">
			<canvas id="logo-canvas" height="306" width="300"></canvas>
			<script>
				var logoCanvas = document.getElementById('logo-canvas');
				var logoCanvasContext = logoCanvas.getContext('2d');
				logoCanvasContext.globalAlpha = 0.05;
				var logoLogoBlob;
				function make_base3(){
				  base_image3 = new Image();
				  base_image3.crossOrigin="anonymous"
				  base_image3.src = 'https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/fakturaLogo.png';
				  base_image3.onload = function(){
				    logoCanvasContext.drawImage(base_image3, 0, 0);
				    logoLogoBlob 	=	logoCanvas.toDataURL("image/png", 1.0);

				  }
				}
				make_base3();
			</script>
		</div>
		<script>
			function printSpecifikacija(){
				doc = new jsPDF({
					orientation: 'p',
					unit: 'mm',
					format: 'a4',
					compress: true
					//putOnlyUsedFonts:true
				});
				pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
				pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
				var yPos = 12;
				var xPos = 12;
				//doc.getFontList("Helvetica");
				doc.addFileToVFS("PTSans.ttf", PTSans);
				doc.addFileToVFS("PTSansBold.ttf", PTSansBold);
				doc.addFont('PTSans.ttf', 'PTSans', 'normal');
				doc.addFont('PTSansBold.ttf', 'PTSans', 'bold');
				doc.setFont('PTSans'); // set font
				doc.getFontList("PTSans");

				doc.addImage(logoLogoBlob, 'PNG', 28, 5, 150, 153,'','FAST');
		        doc.setFontType("bold");
				doc.setFontSize(16);
		        doc.text("Подизвођач: "+specifikacija.user.name,205,yPos,'right');
		        doc.setFontType("normal");
				doc.setFontSize(11);
				yPos = yPos + 5;
		        doc.text("Спецификација број: " + specifikacija.brojSpecifikacije , 205 , yPos , 'right');
				yPos = yPos + 5;
		        doc.text("Фактура број: " + specifikacija.brojFakture , 205 , yPos , 'right');
		        yPos = yPos + 10;
				doc.setFontType("bold");
				doc.setFontSize(20);
		        doc.text("Спецификација урађених налога",pageWidth/2,yPos,'center');
			    var xOffset = 10;
			    doc.setFontSize(10);
			    yPos= yPos+10;
			    doc.setFontType("normal");
			    for(var i=0;i<specifikacija.nalozi.length;i++){
			    	xOffset = 10;
				    doc.text(eval(i+1).toString()+".",xOffset,yPos);
				    xOffset = xOffset + 7;
				    doc.text(specifikacija.nalozi[i].broj,xOffset,yPos);
				    xOffset = xOffset + 25;
				    doc.text(specifikacija.nalozi[i].radnaJedinica,xOffset,yPos);
				    xOffset = xOffset + 30;
				    doc.text(specifikacija.nalozi[i].adresa,xOffset,yPos);
				    xOffset = xOffset + 70;
				    doc.text(brojSaRazmacima(specifikacija.nalozi[i].ukupanIznos),xOffset,yPos);
				    yPos = yPos + 7;
				    if(yPos>=285){
				    	doc.addPage();
				    	doc.addImage(logoLogoBlob, 'PNG', 28, 5, 150, 153,'','FAST');
				    	yPos = 12;
				    	xOffset = 10;
					    yPos = yPos + 7;
				    }
			    }

			    doc.setFontSize(14);
			    doc.setFontType("bold");
			    var xOffset = 10;
			    doc.text("Укупно: "+brojSaRazmacima(specifikacija.ukupanIznos),xOffset,yPos);



		        window.open(doc.output('bloburl'), '_blank');
			}
		</script>
	</div>
<%- include ("partials/footer") -%>
