<%- include ("partials/header") -%>
	<script>
		var nalozi = <%-JSON.stringify(nalozi)%>;
	</script>
	<div class="pageWidth">
		<div class="otvoreniNalozi">
			<div class="boxesWrap">
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/sumIcon.png"></div>
					<div class="info">
						<div class="title">Укупно налога</div>
						<div class="text"><%=nalozi.length%></div>
						<div class="note">За бољи учинак овај број треба да буде што мањи.</div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nalogIcon.png"></div>
					<div class="info">
						<div class="title">Приказани налози</div>
						<div class="text"><span id="ukupno-prikazanih-naloga"></span></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/datumIcon.png"></div>
					<div class="info">
						<div class="title">Zakazani nalozi</div>
						<div class="text"><span id="zakazani-nalozi"></span></div>
						<div class="note"></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/finalizacijaIcon.png"></div>
					<div class="info">
						<div class="title">За финализацију</div>
						<div class="text"><span id="nalozi-za-finalizaciju"></span></div>
						<div class="note"></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/vomaIcon.png"></div>
					<div class="info">
						<div class="title">Потребна вома</div>
						<div class="text"><span id="nalozi-za-vomu"></span></div>
						<div class="note"></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/whiteAlertIcon.png"></div>
					<div class="info">
						<div class="title">Неизвршени налози</div>
						<div class="text"><span id="neizvrseni-nalozi"></span></div>
						<div class="note"></div>
					</div>
				</div>
			</div>
			<div class="lightBlueBox">
				<div class="filters">
					<div class="filter">
						<div class="label">Приказане радне јединице:</div>
						<div class="checkboxes" id="filter-opstine-checkboxes"></div>
						<script>
							for(var i=0;i<user.opstine.length;i++){
								var checkboxWrapper = document.createElement("DIV");
								checkboxWrapper.setAttribute("class","checkboxWrapper");
									var checkboxWrap = document.createElement("DIV");
									checkboxWrap.setAttribute("class","checkboxWrap");
										var input = document.createElement("INPUT");
										input.setAttribute("type","checkbox");
										input.setAttribute("class","radnaJedinicaCheckbox");
										input.setAttribute("value",user.opstine[i]);
										input.setAttribute("oninput","generateTable()");
										input.setAttribute("oncontextmenu","event.preventDefault();rightClickCheckbox(this)");
										input.checked = true;
										checkboxWrap.appendChild(input);
									checkboxWrapper.appendChild(checkboxWrap);

									var label = document.createElement("DIV");
									label.setAttribute("class","label");
									label.setAttribute("onclick","checkboxLabelClick(this)")
									label.innerHTML	=	user.opstine[i];
									label.setAttribute("oncontextmenu","event.preventDefault();rightClickCheckbox(this)");
									checkboxWrapper.appendChild(label);
								document.getElementById("filter-opstine-checkboxes").appendChild(checkboxWrapper);
							}

							function checkboxLabelClick(elem){
								if(elem.parentElement.getElementsByTagName("INPUT")[0].checked){
									elem.parentElement.getElementsByTagName("INPUT")[0].checked = false;
								}else{
									elem.parentElement.getElementsByTagName("INPUT")[0].checked = true;
								}
								generateTable();
							}

							function rightClickCheckbox(elem){
								var checkboxElems = elem.parentElement.parentElement.getElementsByTagName("INPUT");
								for(var i=0;i<checkboxElems.length;i++){
									checkboxElems[i].checked = false;
								}
								elem.parentElement.getElementsByTagName("INPUT")[0].checked = true;
								generateTable();
							}
						</script>
					</div>
					<div class="filter">
						<div class="label">Приказани статуси:</div>
						<div class="checkboxes">
							<select id="status-naloga" oninput="generateTable()">
								<option value="Svi" default="default">СВИ</option>
								<option value="Primljen">Примљен</option>
								<option value="Dodeljen majstoru">Додељен мајстору</option>
								<option value="Zakazan">Заказан</option>
								<option value="Radovi u toku">Радови у току</option>
								<option value="Potrebna WOMA">Потребна ВОМА</option>
								<option value="Zamena">Замена</option>
								<option value="Kopanje">Копање</option>
								<option value="Finalizacija">Финализација</option>
								<option value="Betonaža">Бетонажа</option>
							</select>
						</div>
					</div>
					<div class="filter">
						<div class="label">Филтер Адресе:</div>
						<div class="checkboxes">
							<input type="text" id="adresa-filter" oninput="adresaFilter(this)">
						</div>
					</div>
					<div class="filter">
						<div class="label">Филтер по броју налога:</div>
						<div class="checkboxes">
							<input type="text" id="broj-filter" oninput="brojFilter(this)">
						</div>
					</div>
				</div>
				<div class="tableWrap">
					<div class="tableHeader">
						<table>
							<tr>
								<td><div class="value redniBroj">Редни број</div></td>
								<td><div class="value brojNaloga">Број налога</div></td>
								<td><div class="value ikonica"></div></td>
								<td><div class="value datumNaloga">Датум налога</div></td>
								<td><div class="value radnaJedinica">Радна јединица</div></td>
								<td><div class="value adresa">Адреса</div></td>
								<td><div class="value status">Статус</div></td>
							</tr>
						</table>
					</div>
					<div class="table" id="table"></div>
				</div>
				<div class="inputWrap printButton">
					<div class="button" onclick="printTable()">
						<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/printIcon.png"></div>
						<div class="label">Штампај табелу</div>
					</div>
					<div class="button" style="margin-top:20px" onclick="printCSV()">
						<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/excelIcon.png"></div>
						<div class="label">Скини excel</div>
					</div>
				</div>
			</div>
			<%- include ("partials/printer") -%>
			<script>
				var naloziToShow = [];
				function generateTable(){
					naloziToShow = [];
					var opstineToShow = [];
					var opstineFilter = document.getElementsByClassName("radnaJedinicaCheckbox");
					for(var i=0;i<opstineFilter.length;i++){
						if(opstineFilter[i].checked){
							opstineToShow.push(opstineFilter[i].value);
						}
					}

					var statusToShow = document.getElementById("status-naloga").value;

					for(var i=0;i<nalozi.length;i++){
						//isfiltriraj ovde
						if(opstineToShow.indexOf(nalozi[i].radnaJedinica)>=0){
							var nalogToPush = {};
							nalogToPush.broj = nalozi[i].broj;
							nalogToPush.datum = nalozi[i].datum.datum;
							nalogToPush.radnaJedinica = nalozi[i].radnaJedinica;
							nalogToPush.adresa = nalozi[i].adresa;
							nalogToPush.statusNaloga = nalozi[i].statusNaloga;
							nalogToPush.majstor = nalozi[i].majstor;
							
							if(statusToShow=="Svi"){
								naloziToShow.push(nalogToPush);
							}else{
								if(nalozi[i].statusNaloga==statusToShow){
									naloziToShow.push(nalogToPush);
								}
							}
							
							
						}
						
					}

					var zakazani		=	0;
					var finalizacija	=	0;
					var voma			=	0;
					var neizvrseni		=	0;
					document.getElementById("table").innerHTML = "";
					var table = document.createElement("TABLE");
					for(var i=0;i<naloziToShow.length;i++){
						if(naloziToShow[i].statusNaloga == "Zakazan"){
							zakazani++;
						}

						if(naloziToShow[i].statusNaloga == "Finalizacija"){
							finalizacija++;
						}

						if(naloziToShow[i].statusNaloga == "Potrebna WOMA"){
							voma++;
						}

						if(naloziToShow[i].statusNaloga == "Primljen"){
							neizvrseni++;
						}
						var tr = document.createElement("TR");
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value redniBroj");
								div.innerHTML = eval(i+1)+".";
								td.appendChild(div);
							tr.appendChild(td);

							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojNaloga");
									var a = document.createElement("A");
									a.setAttribute("href","/nalog/"+naloziToShow[i].broj);
									a.setAttribute("target","_blank");
									a.setAttribute("onclick","this.parentElement.parentElement.parentElement.style='font-weight:500;background-color:rgb(180,180,180)';");
									a.innerHTML = naloziToShow[i].broj;
									div.appendChild(a);
								td.appendChild(div);
							tr.appendChild(td);
							
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value ikonica");
								if(naloziToShow[i].statusNaloga=="Primljen" && podizvodjaci.indexOf(naloziToShow[i].majstor)<0){
									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/warningIcon.webp'>";	
								}else if(podizvodjaci.indexOf(naloziToShow[i].majstor)<0){
									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/logo.png'>"
								}
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value datumNaloga");
								div.innerHTML = naloziToShow[i].datum;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value radnaJedinica");
								div.innerHTML = naloziToShow[i].radnaJedinica;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value adresa");
								div.innerHTML = naloziToShow[i].adresa;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value status");
								div.innerHTML = naloziToShow[i].statusNaloga;
								td.appendChild(div);
							tr.appendChild(td);
							
							

						table.appendChild(tr);
					}
					document.getElementById("table").appendChild(table);
					document.getElementById("ukupno-prikazanih-naloga").innerHTML	=	naloziToShow.length;
					document.getElementById("zakazani-nalozi").innerHTML			=	zakazani;
					document.getElementById("nalozi-za-finalizaciju").innerHTML		=	finalizacija;
					document.getElementById("nalozi-za-vomu").innerHTML				=	voma;
					document.getElementById("neizvrseni-nalozi").innerHTML			=	neizvrseni;
				}

				generateTable();

				function adresaFilter(elem){
					var filterValue = elem.value.toLowerCase();
					var naloziToShowAdresa = [];
					for(var i=0;i<nalozi.length;i++){
						if(nalozi[i].adresa.toLowerCase().includes(filterValue)){
							naloziToShowAdresa.push(nalozi[i])
						}
					}
					document.getElementById("table").innerHTML="";
					var table = document.createElement("TABLE");
					for(var i=0;i<naloziToShowAdresa.length;i++){
						var tr = document.createElement("TR");
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value redniBroj");
								div.innerHTML = eval(i+1)+".";
								td.appendChild(div);
							tr.appendChild(td);

							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojNaloga");
									var a = document.createElement("A");
									a.setAttribute("href","/nalog/"+naloziToShowAdresa[i].broj);
									a.setAttribute("target","_blank");
									a.setAttribute("onclick","this.parentElement.parentElement.parentElement.style='font-weight:500;background-color:rgb(180,180,180)';");
									a.innerHTML = naloziToShowAdresa[i].broj;
									div.appendChild(a);
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value ikonica");
								if(naloziToShowAdresa[i].statusNaloga=="Primljen" && podizvodjaci.indexOf(naloziToShowAdresa[i].majstor)<0){
									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/warningIcon.webp'>";	
								}else if(podizvodjaci.indexOf(naloziToShowAdresa[i].majstor)<0){
									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/logo.png'>"
								}
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value datumNaloga");
								div.innerHTML = naloziToShowAdresa[i].datum.datum;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value radnaJedinica");
								div.innerHTML = naloziToShowAdresa[i].radnaJedinica;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value adresa");
								div.innerHTML = naloziToShowAdresa[i].adresa;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value status");
								div.innerHTML = naloziToShowAdresa[i].statusNaloga;
								td.appendChild(div);
							tr.appendChild(td);
							
							

						table.appendChild(tr);	
					}
					document.getElementById("table").appendChild(table)
					
					
				}

				function brojFilter(elem){
					var filterValue = elem.value.toLowerCase();
					var naloziToShowBroj = [];
					for(var i=0;i<nalozi.length;i++){
						if(nalozi[i].broj.includes(filterValue)){
							naloziToShowBroj.push(nalozi[i])
						}
					}
					document.getElementById("table").innerHTML="";
					var table = document.createElement("TABLE");
					for(var i=0;i<naloziToShowBroj.length;i++){
						var tr = document.createElement("TR");
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value redniBroj");
								div.innerHTML = eval(i+1)+".";
								td.appendChild(div);
							tr.appendChild(td);

							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojNaloga");
									var a = document.createElement("A");
									a.setAttribute("href","/nalog/"+naloziToShowBroj[i].broj);
									a.setAttribute("target","_blank");
									a.setAttribute("onclick","this.parentElement.parentElement.parentElement.style='font-weight:500;background-color:rgb(180,180,180)';");
									a.innerHTML = naloziToShowBroj[i].broj;
									div.appendChild(a);
								td.appendChild(div);
							tr.appendChild(td);
							
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value ikonica");
								if(naloziToShowBroj[i].statusNaloga=="Primljen" && podizvodjaci.indexOf(naloziToShowBroj[i].majstor)<0){
									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/warningIcon.webp'>";	
								}else if(podizvodjaci.indexOf(naloziToShowBroj[i].majstor)<0){
									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/logo.png'>"
								}
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value datumNaloga");
								div.innerHTML = naloziToShowBroj[i].datum.datum;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value radnaJedinica");
								div.innerHTML = naloziToShowBroj[i].radnaJedinica;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value adresa");
								div.innerHTML = naloziToShowBroj[i].adresa;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value status");
								div.innerHTML = naloziToShowBroj[i].statusNaloga;
								td.appendChild(div);
							tr.appendChild(td);
							
							

						table.appendChild(tr);	
					}
					document.getElementById("table").appendChild(table)
					
					
				}

				function printTable(){
					doc.setFontSize(10);
				    doc.setFontType("bold");
				    var xOffset = 10;
				    doc.text("Br.",xOffset,yPos);
				    xOffset = xOffset + 7;
				    doc.text("Broj Naloga",xOffset,yPos);
				    xOffset = xOffset + 25;
				    doc.text("Datum Naloga",xOffset,yPos);
				    xOffset = xOffset + 25;
				    doc.text("Opstina",xOffset,yPos);
				    xOffset = xOffset + 25;
				    doc.text("Adresa",xOffset,yPos);
				    xOffset = xOffset + 50;
				    doc.text("Status",xOffset,yPos);
				    yPos= yPos+7;
				    doc.setFontType("normal");
				    for(var i=0;i<naloziToShow.length;i++){
				    	xOffset = 10;
					    doc.text(eval(i+1).toString()+".",xOffset,yPos);
					    xOffset = xOffset + 7;
					    doc.text(naloziToShow[i].broj,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(naloziToShow[i].datum,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(naloziToShow[i].radnaJedinica,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(naloziToShow[i].adresa,xOffset,yPos);
					    xOffset = xOffset + 50;
					    doc.text(naloziToShow[i].statusNaloga,xOffset,yPos);
					    yPos= yPos+7;
					    if(yPos>=285){
					    	doc.addPage();
					    	yPos = 12;
					    	xOffset = 10;

				    		doc.setFontType("bold");
						    doc.text("Br.",xOffset,yPos);
						    xOffset = xOffset + 7;
						    doc.text("Broj Naloga",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Datum Naloga",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Opstina",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Adresa",xOffset,yPos);
						    xOffset = xOffset + 50;
						    doc.text("Status",xOffset,yPos);
						    yPos = yPos + 7;
				    		doc.setFontType("normal");
					    }
				    }

			        window.open(doc.output('bloburl'), '_blank');
				}

				function printCSV(){
					var csvString = "Br.,Broj naloga,Datum naloga,Opstina,Adresa,Status+\r\n";
					for(var i=0;i<naloziToShow.length;i++){
						csvString += eval(i+1).toString() + "," + naloziToShow[i].broj + "," + naloziToShow[i].datum + "," + naloziToShow[i].radnaJedinica + "," + naloziToShow[i].adresa + "," +naloziToShow[i].statusNaloga + "\r\n"
					}
					const blob = new Blob([csvString], { type: "text/csv" });
					const url = URL.createObjectURL(blob);

					// Create a temporary link element
					const a = document.createElement("a");
					a.href = url;
					a.download = "Nalozi";

					// Append link to the body and trigger the download
					document.body.appendChild(a);
					a.click();

					// Clean up by removing the link element and releasing the blob URL
					document.body.removeChild(a);
					URL.revokeObjectURL(url);
				}

			</script>
		</div>
	</div>
<%- include ("partials/footer") -%>
