<%- include ("partials/header") -%>
<script>
	var majstor = <%-JSON.stringify(majstor)%>;
	var nadzori = <%-JSON.stringify(nadzori)%>;
	function checkboxPicked(elem){
		if(elem.checked){
			elem.parentElement.parentElement.classList.add("checkboxActive")
		}else{
			elem.parentElement.parentElement.classList.remove("checkboxActive")
		}
	}
</script>
<div class="administracijaMajstoraEdit">
	<div class="pageWidth">
		<div class="blueWrap">
			<div class="infoWrap">
				<div class="ime">
					<%=majstor.ime%>	
				</div>
				<div class="glavniTip"><%=type%></div>
				<div class="mainBorder"></div>
				<div class="inputWrap">
					<div class="checkboxWrap">
						<div class="checkboxWrapper">
							<input value="Odgusenje" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
						</div>
						<div class="checkboxName">Одгушење</div>
					</div>
					<div class="checkboxWrap">
						<div class="checkboxWrapper">
							<input value="Zamena" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
						</div>
						<div class="checkboxName">Замена</div>
					</div>
					<div class="checkboxWrap">
						<div class="checkboxWrapper">
							<input value="Crpljenje" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
						</div>
						<div class="checkboxName">Црпљење</div>
					</div>
					<div class="checkboxWrap">
						<div class="checkboxWrapper">
							<input value="Kopanje" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
						</div>
						<div class="checkboxName">Копање</div>
					</div>
					<div class="checkboxWrap">
						<div class="checkboxWrapper">
							<input value="Finalizacija" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
						</div>
						<div class="checkboxName">Финализација</div>
					</div>
					<div class="checkboxWrap">
						<div class="checkboxWrapper">
							<input value="Bager" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
						</div>
						<div class="checkboxName">Багер</div>
					</div>
					<div class="checkboxWrap">
						<div class="checkboxWrapper">
							<input value="Voma" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
						</div>
						<div class="checkboxName">Вома</div>
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Име мајстора</div>
					<div class="inputWrapper">
						<input type="text" id="ime-majstora">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Број картице</div>
					<div class="inputWrapper">
						<input type="number" id="broj-kartice">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Очекивани месечни учинак</div>
					<div class="inputWrapper">
						<input type="number" id="ocekivani-ucinak">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Месечна плата</div>
					<div class="inputWrapper">
						<input type="number" id="mesecna-plata">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Службени телефон</div>
					<div class="inputWrapper">
						<input type="text" id="sluzbeni-broj">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Приватни телефон</div>
					<div class="inputWrapper">
						<input type="text" id="privatni-broj">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">ЈМБГ</div>
					<div class="inputWrapper">
						<input type="text" id="jmbg">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Број личне карте</div>
					<div class="inputWrapper">
						<input type="text" id="broj-licne-karte">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Адреса становања</div>
					<div class="inputWrapper">
						<input type="text" id="adresa-stanovanja">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Одговорно лице</div>
					<div class="inputWrapper">
						<select id="odgovorno-lice"></select>
						<script>
							for(var i=0;i<nadzori.length;i++){
								var option = document.createElement("OPTION");
								option.setAttribute("value",nadzori[i].email);
								option.innerHTML = nadzori[i].name;
								document.getElementById("odgovorno-lice").appendChild(option)
							}
						</script>
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">РЕГИОН</div>
					<div class="inputWrapper">
						<select id="region">
							<option value="NIJEDAN">НИЈЕДАН</option>
							<option value="SEVER">СЕВЕР</option>
							<option value="ISTOK">ИСТОК</option>
							<option value="JUG">ЈУГ</option>
							<option value="ZAPAD">ЗАПАД</option>
						</select>
					</div>
				</div>
				<div class="textareaInput">
					<div class="name">Белешке (вештине, напомене и слично)</div>
					<div class="textareaWrapper">
						<textarea id="beleske"></textarea>
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Активан</div>
					<div class="inputWrapper" style="text-align:left">
						<input type="checkbox" id="aktivan" style="width:20px;height:20px">
					</div>
				</div>
				<div style="border-bottom:2px solid rgb(32,51,100);margin:10px auto"></div>
				<div style="font-weight:600;color:rgb(32,51,100);text-align: center;">ПРИСТУП ПОРТАЛУ</div>

				<div class="singleLineInput">
					<div class="name">Електронска пошта</div>
					<div class="inputWrapper">
						<input type="text" id="username">
					</div>
				</div>
				<div class="singleLineInput">
					<div class="name">Лозинка</div>
					<div class="inputWrapper">
						<input type="text" id="password">
					</div>
				</div>
				<div class="inputWrap" style="margin-top:15px;width:300px">
					<div class="button" onclick="saveIzmene()">Сачувај измене</div>
				</div>
				</div>
				<div class="inputWrap" style="margin-top:15px;width:300px">
					<div class="button" style="background-color:rgb(200,0,0)" onclick="deleteMajstor()">БРИСАЊЕ МАЈСТОРА</div>
				</div>

				<!--<div class="beleskaWrap">
					<div class="title">Белешка за датум <span><input type="date" id="datum-beleske"></span></div>
					<div class="inputWrap">
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Nekasnjenje" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Није каснио</div>
						</div>
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Kasnjenje" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Каснио</div>
						</div>
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Bolovanje" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Боловање</div>
						</div>
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Neopravdano" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Неоправдано</div>
						</div>
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Necekiranje" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Није се чекирао</div>
						</div>
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Slava" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Слава</div>
						</div>
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Smrt" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Смртни случај</div>
						</div>
						<div class="checkboxWrap">
							<div class="checkboxWrapper">
								<input value="Kazna" type="checkbox" class="tipRadnika" onclick="checkboxPicked(this)">
							</div>
							<div class="checkboxName">Саобраћајна казна</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
		<form method="post" style="display:none" id="form" action="/izmenaMajstora">
			<input type="text" name="json" id="json">
		</form>
		<form method="post" style="display:none" id="delete-form" action="/brisanjeMajstora">
			<input type="text" name="json" id="delete-json">
		</form>
		<script>
			if(majstor.ime){
				document.getElementById("ime-majstora").value = majstor.ime;
			}

			if(majstor.brojKartice){
				document.getElementById("broj-kartice").value = majstor.brojKartice;
			}

			if(majstor.ocekivaniUcinak){
				document.getElementById("ocekivani-ucinak").value = majstor.ocekivaniUcinak;
			}

			if(majstor.mesecnaPlata){
				document.getElementById("mesecna-plata").value = majstor.mesecnaPlata;
			}

			if(majstor.region){
				document.getElementById("region").value = majstor.region;
			}

			if(majstor.sluzbeniBroj){
				document.getElementById("sluzbeni-broj").value = majstor.sluzbeniBroj;
			}

			if(majstor.privatniBroj){
				document.getElementById("privatni-broj").value = majstor.privatniBroj;
			}

			if(majstor.jmbg){
				document.getElementById("jmbg").value = majstor.jmbg;
			}

			if(majstor.brojLicneKarte){
				document.getElementById("broj-licne-karte").value = majstor.brojLicneKarte;
			}

			if(majstor.adresaStanovanja){
				document.getElementById("adresa-stanovanja").value = majstor.adresaStanovanja;
			}

			if(majstor.odgovornoLice){
				document.getElementById("odgovorno-lice").value = majstor.odgovornoLice;
			}

			if(majstor.beleske){
				document.getElementById("beleske").value = majstor.beleske;
			}

			if(majstor.aktivan){
				document.getElementById("aktivan").checked = true;
			}

			if(majstor.tipRada){
				var tipovi = document.getElementsByClassName("tipRadnika");
				for(var i=0;i<tipovi.length;i++){
					if(majstor.tipRada.indexOf(tipovi[i].value)>=0){
						tipovi[i].checked = true;
					}
				}
			}

			if(majstor.username){
				document.getElementById("username").value = majstor.username;
			}

			if(majstor.password){
				document.getElementById("password").value = majstor.actualPassword;
			}
			
			function saveIzmene(){
				var izmenaJson = {};
				izmenaJson.uniqueId = majstor.uniqueId;
				izmenaJson.tip = "<%=type%>";
				izmenaJson.brojKartice = Number(document.getElementById("broj-kartice").value);
				izmenaJson.ime = document.getElementById("ime-majstora").value;
				izmenaJson.sluzbeniBroj = document.getElementById("sluzbeni-broj").value;
				izmenaJson.privatniBroj = document.getElementById("privatni-broj").value;
				izmenaJson.jmbg = document.getElementById("jmbg").value;
				izmenaJson.brojLicneKarte = document.getElementById("broj-licne-karte").value;
				izmenaJson.adresaStanovanja = document.getElementById("adresa-stanovanja").value;
				izmenaJson.odgovornoLice = document.getElementById("odgovorno-lice").value;
				izmenaJson.region = document.getElementById("region").value;
				izmenaJson.beleske = document.getElementById("beleske").value;
				izmenaJson.aktivan = document.getElementById("aktivan").checked;
				izmenaJson.ocekivaniUcinak = document.getElementById("ocekivani-ucinak").value;
				izmenaJson.mesecnaPlata = document.getElementById("mesecna-plata").value;
				izmenaJson.tipRada = [];
				var tipovi = document.getElementsByClassName("tipRadnika");
				for(var i=0;i<tipovi.length;i++){
					if(tipovi[i].checked){
						izmenaJson.tipRada.push(tipovi[i].value)
					}
				}
				izmenaJson.username = document.getElementById("username").value;
				izmenaJson.actualPassword = document.getElementById("password").value;

				document.getElementById("json").value = JSON.stringify(izmenaJson);
				loadGif();
				document.getElementById("form").submit();
			}
			
			function deleteMajstor(){
				var deleteJson = {};
				deleteJson.uniqueId = majstor.uniqueId;
				deleteJson.tip = "<%=type%>";
				document.getElementById("delete-json").value = JSON.stringify(deleteJson);
				loadGif();
				document.getElementById("delete-form").submit();
			}
		</script>
	</div>
</div>
<%- include ("partials/footer") -%>