<%- include ("partials/header") -%>
<script>
	var majstori = <%-JSON.stringify(majstori)%>;
	majstori.sort((a, b) => a.ime.localeCompare(b.ime));
	var pomocnici = <%-JSON.stringify(pomocnici)%>;
	var users = <%-JSON.stringify(users)%>;
	users.sort((a, b) => Number(a.role) - Number(b.role));
	console.log(users)
</script>
<div class="administracijaMajstora">
	<div class="pageWidth">
		<div class="majstori">
			<div class="title">Мајстори</div>
			<div id="lista-majstora" class="majstorList"></div>
			<script>
				for(var i=0;i<majstori.length;i++){
					var majstorBlok = document.createElement("DIV");
					majstorBlok.setAttribute("class","majstorBlok");
					if(!majstori[i].aktivan){majstorBlok.classList.add("majstorBlokInactive")}
						var imeMajstora = document.createElement("DIV");
						imeMajstora.setAttribute("class","ime");
						imeMajstora.setAttribute("onclick","window.location.href='/administracijaMajstora/"+majstori[i].uniqueId+"'");
						imeMajstora.innerHTML = majstori[i].ime;
						majstorBlok.appendChild(imeMajstora);
					document.getElementById("lista-majstora").appendChild(majstorBlok);
				}

				var majstorBlok = document.createElement("DIV");
				majstorBlok.setAttribute("class","majstorBlok");
				majstorBlok.setAttribute("style","background-color:rgb(20,255,20)")
					var imeMajstora = document.createElement("DIV");
					imeMajstora.setAttribute("class","ime");
					imeMajstora.setAttribute("onclick","window.location.href='/dodajMajstora'");
					imeMajstora.innerHTML = "ДОДАЈ НОВОГ";
					majstorBlok.appendChild(imeMajstora);
				document.getElementById("lista-majstora").appendChild(majstorBlok);
			</script>
		</div>
		<div class="pomocnici">
			<div class="title">Помоћници</div>
			<div id="lista-pomocnika" class="majstorList"></div>
			<script>
				for(var i=0;i<pomocnici.length;i++){
					var majstorBlok = document.createElement("DIV");
					majstorBlok.setAttribute("class","majstorBlok");
					if(!pomocnici[i].aktivan){majstorBlok.classList.add("majstorBlokInactive")}
						var imeMajstora = document.createElement("DIV");
						imeMajstora.setAttribute("class","ime");
						imeMajstora.setAttribute("onclick","window.location.href='/administracijaMajstora/"+pomocnici[i].uniqueId+"'");
						imeMajstora.innerHTML = pomocnici[i].ime;
						majstorBlok.appendChild(imeMajstora);
					document.getElementById("lista-pomocnika").appendChild(majstorBlok);
				}

				var majstorBlok = document.createElement("DIV");
				majstorBlok.setAttribute("class","majstorBlok");
				majstorBlok.setAttribute("style","background-color:rgb(20,255,20)")
					var imeMajstora = document.createElement("DIV");
					imeMajstora.setAttribute("class","ime");
					imeMajstora.setAttribute("onclick","window.location.href='/dodajPomocnika'");
					imeMajstora.innerHTML = "ДОДАЈ НОВОГ";
					majstorBlok.appendChild(imeMajstora);
				document.getElementById("lista-pomocnika").appendChild(majstorBlok);
			</script>
		</div>
		<div class="administracija">
			<div class="title">Администрација</div>
			<div id="lista-administracije" class="majstorList"></div>
			<script>
				for(var i=0;i<users.length;i++){
					if(!users[i].email.startsWith("miloscane") && Number(users[i].role)>=10 && Number(users[i].role)!=30 && Number(users[i].role)!=40 && users[i].email!="stanislav.mihailovic@poslovigrada.rs" && users[i].email!="jelena.obradovic+kontrolor@poslovigrada.rs" && users[i].email!="milica.radun+kontrolor@poslovigrada.rs"){
						var majstorBlok = document.createElement("DIV");
						majstorBlok.setAttribute("class","majstorBlok");
							var imeMajstora = document.createElement("DIV");
							imeMajstora.setAttribute("class","ime");
							imeMajstora.setAttribute("onclick","window.location.href='/administracijaAdministracije/"+encodeURIComponent(users[i].email)+"'");
							imeMajstora.innerHTML = users[i].name;
							majstorBlok.appendChild(imeMajstora);
						if(!users[i].email.includes("+")){
							document.getElementById("lista-administracije").appendChild(majstorBlok);
						}
						
					}	
				}
			</script>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>