<%- include ("partials/header") -%>
	<!-- Include html2canvas from CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

	<script>
		var majstor = <%-JSON.stringify(majstor)%>;
		var vozila = <%-JSON.stringify(vozila)%>;
		var izvestaj = <%-JSON.stringify(izvestaj)%>;
		var reversi = <%-JSON.stringify(reversi)%>;
		var date = "<%=date%>";
		var radovi = ["Замена","Одгушење","Констатација","Попис","Црпљење","Дезинфекција","Штемање","Шелна","ВиК Исправне","Локални квар","Потребма вома","Нема приступа","Одбијају сарадњу","Неспремно"];
	</script>
	<div class="pageWidth jucerasnjiUcinak">

	</div>
	<script>
		

		var wrap = document.createElement("DIV");
		wrap.setAttribute("class","wrap");
			var h1 = document.createElement("H1");
			h1.innerHTML = majstor.ime + " " + reshuffleDate(date);
			wrap.appendChild(h1);

			var checkBoxValues = ["Присутан","Слободан дан","Неоправдано одсуство","Оправдано одсуство","Боловање","Неоправдано боловање","Слава","Смртни случај","Празник","Годишњи одмор"];

			var checkboxes = document.createElement("DIV");
			checkboxes.setAttribute("class","prisustvoCheckboxes");
			checkboxes.setAttribute("id","prisustvo-checkboxes");
				for(var i=0;i<checkBoxValues.length;i++){
					var checkboxWrap = document.createElement("DIV");
					checkboxWrap.setAttribute("class","checkboxWrap");
					checkboxWrap.setAttribute("onclick","prisustvoCheckboxClick(this)");
						var checkbox = document.createElement("INPUT");
						checkbox.setAttribute("class","checkbox");
						checkbox.setAttribute("type","checkbox");
						checkbox.setAttribute("value",checkBoxValues[i]);
						checkboxWrap.appendChild(checkbox);

						var checkboxLabel = document.createElement("DIV");
						checkboxLabel.setAttribute("class","label");
						checkboxLabel.innerHTML = checkBoxValues[i];
						checkboxWrap.appendChild(checkboxLabel); 
						if(checkBoxValues[i]==izvestaj.odsustvo){
							checkbox.checked = true;
							checkboxWrap.classList.add("checkboxWrapActive")
						}
					checkboxes.appendChild(checkboxWrap);
				}
			wrap.appendChild(checkboxes);

			var table = document.createElement("TABLE");
			table.setAttribute("class","stimulacijaTable");
				var tr = document.createElement("TR");
					var th = document.createElement("TH");
					th.innerHTML = "Награда";
					tr.appendChild(th);
					
					var th = document.createElement("TH");
					th.innerHTML = "Казна";
					tr.appendChild(th);
				table.appendChild(tr);

				var tr = document.createElement("TR");
					var td = document.createElement("TD");
					var nagrada = izvestaj.nagrada ? izvestaj.nagrada: "";
					td.innerHTML = "<input type=\"number\" placeholder=\"0 РСД\" class=\"nagrada\" value=\""+nagrada+"\">";	
					tr.appendChild(td);

					var td = document.createElement("TD");
					var kazna = izvestaj.kazna ? izvestaj.kazna : "";
					td.innerHTML = "<input type=\"number\" placeholder=\"0 РСД\" class=\"kazna\" value=\""+kazna+"\">";	
					tr.appendChild(td);
				table.appendChild(tr);

				var tr = document.createElement("TR");
					var td = document.createElement("TD");
					var nagradaRazlog = izvestaj.nagradaRazlog ? izvestaj.nagradaRazlog : "";
					td.innerHTML = "<textarea placeholder=\"Разлог награђивања\" class=\"nagradaRazlog\">"+nagradaRazlog+"</textarea>";	
					tr.appendChild(td);

					var td = document.createElement("TD");
					var kaznaRazlog = izvestaj.kaznaRazlog ? izvestaj.kaznaRazlog : "";
					td.innerHTML = "<textarea placeholder=\"Разлог кажњавања\" class=\"kaznaRazlog\">"+kaznaRazlog+"</textarea>";	
					tr.appendChild(td);
				table.appendChild(tr);
			wrap.appendChild(table);

			var table = document.createElement("TABLE");
			table.setAttribute("class","radnoVreme");
				var tr = document.createElement("TR");
					var th = document.createElement("TH");
					th.innerHTML = "Време доласка на посао";
					tr.appendChild(th);

					var th = document.createElement("TH");
					th.innerHTML = "Време изласка из магацина";
					tr.appendChild(th);

					var th = document.createElement("TH");
					th.innerHTML = "Време доласка на први налог";
					tr.appendChild(th);
					
					var th = document.createElement("TH");
					th.innerHTML = "Време одласка са посла";
					tr.appendChild(th);
				table.appendChild(tr);

				var tr = document.createElement("TR");
					var td = document.createElement("TD");
					var dolazak = majstor.vremeDolaska=="Није се чекирао" ? "": majstor.vremeDolaska;
					if(izvestaj.vremeDolaska){
						dolazak = izvestaj.vremeDolaska;
					}
					td.innerHTML = "<input type=\"text\" placeholder=\"HH:MM\" class=\"vremeDolaska\" value=\""+dolazak+"\">";	
					tr.appendChild(td);
					
					var td = document.createElement("TD");
					var izlazak = izvestaj.izlazak ? izvestaj.izlazak: "";
					td.innerHTML = "<input type=\"text\" placeholder=\"HH:MM\" class=\"izlazak\" value=\""+izlazak+"\">";
					tr.appendChild(td);
					
					var td = document.createElement("TD");
					var prviNalog = izvestaj.prviNalog ? izvestaj.prviNalog: "";
					td.innerHTML = "<input type=\"text\" placeholder=\"HH:MM\" class=\"prviNalog\" value=\""+prviNalog+"\">";
					tr.appendChild(td);


					var td = document.createElement("TD");
					var odlazak = majstor.vremeOdlaska=="Није се чекирао" ? "": majstor.vremeOdlaska;
					if(izvestaj.vremeOdlaska){
						odlazak = izvestaj.vremeOdlaska;
					}
					td.innerHTML = "<input type=\"text\" placeholder=\"HH:MM\" class=\"vremeOdlaska\" value=\""+odlazak+"\">";	
					tr.appendChild(td);
				table.appendChild(tr);
			wrap.appendChild(table);

			var title = document.createElement("DIV");
			title.setAttribute("style","font-size:20px;font-weight:600;margin-top:5px;")
			title.innerHTML = "Коментар контроле:";
			wrap.appendChild(title);
			var textAreaWrap = document.createElement("DIV");
			textAreaWrap.setAttribute("style","margin-bottom:10px;");
			textAreaWrap.setAttribute("class","komentarVremena");
				var textarea = document.createElement("TEXTAREA");
				textarea.setAttribute("id","komentar-vremena");
				textarea.setAttribute("placeholder","Дал се чекирао? Зашто је каснио? Зашто је дуго долазио на налог?");
				if(izvestaj.komentarVremena){
					textarea.value = izvestaj.komentarVremena;
				}
				textAreaWrap.appendChild(textarea);
			wrap.appendChild(textAreaWrap);


			

			var table = document.createElement("TABLE");
			table.setAttribute("class","naloziTable");
			var colGroup = document.createElement("COLGROUP");
			colGroup.innerHTML = "<col style=\"width: 30px\">   <!-- redniBroj --> " +
  "<col style=\"width: 100px\">   <!-- brojNaloga --> " +
  "<col style=\"width: 150px\">   <!-- radnaJedinica --> " +
  "<col style=\"width: 220px\">  <!-- adresa --> " 
  "<col> " +
			table.appendChild(colGroup);
			var tr = document.createElement("TR");
				var th = document.createElement("TH");
				th.setAttribute("colspan","5");
				th.innerHTML = "<div class=\"value\" style=\"text-align:center;font-size:20px;padding:10px\">РАДНИ НАЛОЗИ</div>";
				tr.appendChild(th);
			table.appendChild(tr);

			var tr = document.createElement("TR");
				var th = document.createElement("TH");
				th.setAttribute("class","redniBroj");
				th.innerHTML = "<div class=\"value\">R.Br.</div>";
				tr.appendChild(th);

				var th = document.createElement("TH");
				th.setAttribute("class","brojNaloga");
				th.innerHTML = "<div class=\"value\">Br. naloga</div>";
				tr.appendChild(th);

				var th = document.createElement("TH");
				th.setAttribute("class","radnaJedinica");
				th.innerHTML = "<div class=\"value\">Radna jedinica</div>";
				tr.appendChild(th);

				var th = document.createElement("TH");
				th.setAttribute("class","adresa");
				th.innerHTML = "<div class=\"value\">Adresa</div>";
				tr.appendChild(th);

				var th = document.createElement("TH");
				th.setAttribute("class","tip");
				th.innerHTML = "<div class=\"value\">Vrsta rada</div>";
				tr.appendChild(th);
			table.appendChild(tr);
			var startIndex = 1;
			if(izvestaj.nalozi){
				for(var i=0;i<izvestaj.nalozi.length;i++){
					
					var tr = document.createElement("TR");
					tr.setAttribute("class","nalog");
						var th = document.createElement("TD");
						th.setAttribute("class","redniBroj");
						th.innerHTML = "<div class=\"value\">"+startIndex+".</div>";
						tr.appendChild(th);

						var th = document.createElement("TD");
						th.setAttribute("class","brojNaloga");
						th.innerHTML = "<div class=\"value\"><input value=\""+izvestaj.nalozi[i].broj+"\" type=\"number\" id=\""+generateId(30)+"\"oninput=\"getNalogData(this)\" style=\"width:100%\"></div>";
						tr.appendChild(th);

						var th = document.createElement("TD");
						th.setAttribute("class","radnaJedinica");
						th.innerHTML = "<div class=\"value\"><input type=\"text\" value=\""+izvestaj.nalozi[i].radnaJedinica+"\" class=\"radnaJedinicaInput\"></div>";
						tr.appendChild(th);

						var th = document.createElement("TD");
						th.setAttribute("class","adresa");
						th.innerHTML = "<div class=\"value\"><input type=\"text\" value=\""+izvestaj.nalozi[i].adresa+"\" class=\"adresaInput\"></div>";
						tr.appendChild(th);

						var th = document.createElement("TD");
						th.setAttribute("class","tip");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							radovi.forEach(function(r, index) {
							    var label = document.createElement("label");
							    label.style.display = "inline-block";
							    label.style.marginRight = "30px"; // Add space here
							    label.style.cursor = "pointer";

							    var checkbox = document.createElement("input");
							    checkbox.type = "checkbox";
							    checkbox.name = "radovi[]";
							    checkbox.classList.add("checkbox")
							    checkbox.value = r;
							    if(izvestaj.nalozi[i].tipoviRada.indexOf(r)>=0){
							    	checkbox.checked = true;
							    }
							    checkbox.id = startIndex+"radovi_" + index;

							    label.htmlFor = checkbox.id;
							    label.appendChild(checkbox);
							    label.append(" " + r);

							    value.appendChild(label);
							});
							th.appendChild(value)
						tr.appendChild(th);
					table.appendChild(tr);
					var tr = document.createElement("TR");
						var td = document.createElement("TD");
						td.setAttribute("colspan","4");
						td.setAttribute("class","opis")
						td.innerHTML = "<div class=\"value\" style=\"padding:10px 20px;text-align:center;\"><div class=\"title\">Опис налога:</div><div class=\"opisText\">"+izvestaj.nalozi[i].opis+"</div></div>"
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("colspan","1");
						td.setAttribute("class","komentar");
						var komentar = izvestaj.nalozi[i].komentarKontrole ? izvestaj.nalozi[i].komentarKontrole : "Нема коментара све одрађено како треба."
						td.innerHTML = "<div class=\"value\" style=\"padding:10px 20px;text-align:center;\"><div class=\"title\">Коментар контроле:</div><div class=\"opisText\"><textarea class=\"komentarKontrole\">"+komentar+"</textarea></div></div>"
						tr.appendChild(td);

					table.appendChild(tr);
					wrap.appendChild(table);	
					startIndex++;
				}
				if(izvestaj.nalozi.length>0){
					//startIndex++;	
				}
				

			}
			wrap.appendChild(table);


			var button = document.createElement("BUTTON");
			button.setAttribute("onclick","dodajRed()");
			button.style.width="100%";
			button.style.marginBottom="30px";
			button.innerHTML = "DODAJ RED";
			wrap.appendChild(button)



			



			var tipoviReversa = [
				{name:"Стандардни",value:"Standardni",kolicina:0},
				{name:"Замена",value:"Zamena",kolicina:0},
				{name:"Промена ТЕ",value:"PromenaTE",kolicina:0},
				{name:"Достава",value:"Dostava",kolicina:0},
				{name:"Допуна",value:"Dopuna",kolicina:0},
				{name:"Рекламација",value:"Reklamacija",kolicina:0},
				{name:"Погрешан попис",value:"PogresanPopis",kolicina:0}
			];
			var table = document.createElement("TABLE");
			table.setAttribute("class","ukupnoReversi");
				var ukupnaVrednost = 0;
				for(var i=0;i<reversi.length;i++){
					for(var j=0;j<reversi[i].zaduzenje.length;j++){
						ukupnaVrednost += (parseFloat(reversi[i].zaduzenje[j].quantity) - parseFloat(reversi[i].zaduzenje[j].quantity2))*parseFloat(reversi[i].zaduzenje[j].price)
					}
					
				}
				var tr = document.createElement("TR");
					var th = document.createElement("TH")
					th.setAttribute("colspan",tipoviReversa.length);
					th.setAttribute("style","width:100%;font-size:20px;padding:10px;text-align:center")
					th.innerHTML = "Укупна вредност узете робе из магацина <span id=\"ukupno-magacin\">"+brojSaRazmacima(ukupnaVrednost)+" РСД</span>";
					tr.appendChild(th);
				table.appendChild(tr);
				

				var tr = document.createElement("TR");
				for(var i=0;i<tipoviReversa.length;i++){
					var th = document.createElement("TH")
					th.innerHTML = tipoviReversa[i].name;
					tr.appendChild(th);
					for(var j=0;j<reversi.length;j++){
						if(reversi[j].tip==tipoviReversa[i].value){
							tipoviReversa[i].kolicina++; 
						}
					}
				}
				table.appendChild(tr);	
				var tr = document.createElement("TR");
				for(var i=0;i<tipoviReversa.length;i++){
					var th = document.createElement("TD")
					th.setAttribute("class",tipoviReversa[i].name);
					th.innerHTML = tipoviReversa[i].kolicina;
					tr.appendChild(th);
				}
				table.appendChild(tr);	
				
			wrap.appendChild(table);
		document.getElementsByClassName("jucerasnjiUcinak")[0].appendChild(wrap);

		var title = document.createElement("DIV");
			title.setAttribute("style","font-size:20px;font-weight:600;margin-top:15px;")
			title.innerHTML = "Вожено возило:";
			wrap.appendChild(title)
			var vehicleSelect = document.createElement("DIV");
			vehicleSelect.setAttribute("class","vehicleSelect");
			
				var select = document.createElement("SELECT");
				select.setAttribute("id","vozilo");
					for(var j = 0;j<vozila.vozila.Data.length;j++){
						var option = document.createElement("OPTION");
						option.setAttribute("value",vozila.vozila.Data[j].DeviceName);
						option.innerHTML = vozila.vozila.Data[j].DeviceName;
						select.appendChild(option);
					}
				select.setAttribute("oninput","voziloPick(this)");
				vehicleSelect.appendChild(select);
			wrap.appendChild(vehicleSelect);

		var dailySummary = document.createElement("DIV");
		dailySummary.setAttribute("class","dailySummary");
		wrap.appendChild(dailySummary);

		var button = document.createElement("BUTTON");
		button.setAttribute("onclick","sacuvajIzvestaj()")
		button.innerHTML = "SACUVAJ IZVESTAJ";
		wrap.appendChild(button);
		
		var br = document.createElement("BR");
		wrap.appendChild(br)

		var button = document.createElement("BUTTON");
		button.setAttribute("onclick","exportElementAsImage()")
		button.innerHTML = "Stampaj";
		wrap.appendChild(button)
	


		if(izvestaj.vozilo){
			select.value = izvestaj.vozilo;
			select.dispatchEvent(new Event('input', { bubbles: true }));
		}

		function getNalogData(elem){
			if(elem.value.toString().length==7){
				socket.emit("nalogPoBroju",elem.value,elem.id);
				
			}
			
		}

		socket.on("nalogPoBrojuOdgovor",function(data,elemid){
			var parent = document.getElementById(elemid).parentElement.parentElement.parentElement;
			if(data=="Greska"){
				parent.getElementsByClassName("radnaJedinica")[0].getElementsByClassName("radnaJedinicaInput")[0].value = "/";
				parent.getElementsByClassName("adresa")[0].getElementsByClassName("adresaInput")[0].value = "/";
				parent.nextElementSibling.getElementsByClassName("opis")[0].getElementsByClassName("opisText")[0].innerHTML = "/";
			}else{
				parent.getElementsByClassName("radnaJedinica")[0].getElementsByClassName("radnaJedinicaInput")[0].value = data.radnaJedinica;
				parent.getElementsByClassName("adresa")[0].getElementsByClassName("adresaInput")[0].value = data.adresa;
				parent.nextElementSibling.getElementsByClassName("opis")[0].getElementsByClassName("opisText")[0].innerHTML = data.opis;
			}
			
		})

		function dodajRed(){
			var tr = document.createElement("TR");
			tr.setAttribute("class","nalog")
				var th = document.createElement("TD");
				th.setAttribute("class","redniBroj");
				th.innerHTML = "<div class=\"value\">"+startIndex+".</div>";
				tr.appendChild(th);

				var th = document.createElement("TD");
				th.setAttribute("class","brojNaloga");
				th.innerHTML = "<div class=\"value\"><input type=\"number\" id=\""+generateId(30)+"\"oninput=\"getNalogData(this)\" style=\"width:100%\"></div>";
				tr.appendChild(th);

				var th = document.createElement("TD");
				th.setAttribute("class","radnaJedinica");
				th.innerHTML = "<div class=\"value\"><input type=\"text\" class=\"radnaJedinicaInput\"></div>";
				tr.appendChild(th);

				var th = document.createElement("TD");
				th.setAttribute("class","adresa");
				th.innerHTML = "<div class=\"value\"><input type=\"text\" class=\"adresaInput\"></div>";
				tr.appendChild(th);


				var th = document.createElement("TD");
				th.setAttribute("class","tip");
					var value = document.createElement("DIV");
					value.setAttribute("class","value");
					radovi.forEach(function(r, index) {
					    var label = document.createElement("label");
					    label.style.display = "inline-block";
					    label.style.marginRight = "30px"; // Add space here
					    label.style.cursor = "pointer";

					    var checkbox = document.createElement("input");
					    checkbox.type = "checkbox";
					    checkbox.name = "radovi[]";
					    checkbox.classList.add("checkbox")
					    checkbox.value = r;
					    checkbox.id = startIndex+"radovi_" + index;

					    label.htmlFor = checkbox.id;
					    label.appendChild(checkbox);
					    label.append(" " + r);

					    value.appendChild(label);
					});
					th.appendChild(value)
				tr.appendChild(th);
			document.getElementsByClassName("naloziTable")[0].appendChild(tr);
			var tr = document.createElement("TR");
				var td = document.createElement("TD");
				td.setAttribute("colspan","4");
				td.setAttribute("class","opis")
				td.innerHTML = "<div class=\"value\" style=\"padding:10px 20px;text-align:center;\"><div class=\"title\">Опис налога:</div><div class=\"opisText\"></div></div>"
				tr.appendChild(td);

				var td = document.createElement("TD");
				td.setAttribute("colspan","1");
				td.setAttribute("class","komentar")
				td.innerHTML = "<div class=\"value\" style=\"padding:10px 20px;text-align:center;\"><div class=\"title\">Коментар контроле:</div><div class=\"opisText\"><textarea class=\"komentarKontrole\" placeholder=\"Opis radova, vreme provedeno nalogu, problemi oko naloga\"></textarea></div></div>"
				tr.appendChild(td);
			document.getElementsByClassName("naloziTable")[0].appendChild(tr);
			startIndex = startIndex+1;
		}

		function sacuvajIzvestaj(){
			var json = {};
			json.uniqueId = izvestaj.uniqueId ? izvestaj.uniqueId : "new";
			json.majstor = majstor.uniqueId;
			json.date = date;
			json.vozilo = document.getElementById("vozilo").value;
			json.nalozi = [];
			var rowElems = document.getElementsByClassName("naloziTable")[0].getElementsByClassName("nalog");
			for(var i=0;i<rowElems.length;i++){
				var json2 = {};
				json2.broj = rowElems[i].getElementsByClassName("brojNaloga")[0].getElementsByTagName("INPUT")[0].value;
				json2.radnaJedinica = rowElems[i].getElementsByClassName("radnaJedinica")[0].getElementsByClassName("radnaJedinicaInput")[0].value;
				json2.adresa = rowElems[i].getElementsByClassName("adresa")[0].getElementsByClassName("adresaInput")[0].value;
				json2.opis = rowElems[i].nextElementSibling.getElementsByClassName("opis")[0].getElementsByClassName("opisText")[0].innerHTML;
				json2.komentarKontrole = rowElems[i].nextElementSibling.getElementsByClassName("komentar")[0].getElementsByClassName("komentarKontrole")[0].value;
				json2.tipoviRada = [];
				var checkboxes = rowElems[i].getElementsByClassName("checkbox");
				for(var j=0;j<checkboxes.length;j++){
					if(checkboxes[j].checked){
						json2.tipoviRada.push(checkboxes[j].value)
					}
				}
				json.nalozi.push(json2);
			}
			json.vremeDolaska = document.getElementsByClassName("vremeDolaska")[0].value;
			json.vremeOdlaska = document.getElementsByClassName("vremeOdlaska")[0].value;
			json.izlazak = document.getElementsByClassName("izlazak")[0].value;
			json.prviNalog = document.getElementsByClassName("prviNalog")[0].value;
			json.odsustvo = "";
			json.komentarVremena = document.getElementById("komentar-vremena").value;
			json.nagrada = document.getElementsByClassName("nagrada")[0].value;
			json.nagradaRazlog = document.getElementsByClassName("nagradaRazlog")[0].value;
			json.kazna = document.getElementsByClassName("kazna")[0].value;
			json.kaznaRazlog = document.getElementsByClassName("kaznaRazlog")[0].value;
			var checkboxes = document.getElementById("prisustvo-checkboxes").getElementsByClassName("checkbox");
			for(var i=0;i<checkboxes.length;i++){
				if(checkboxes[i].checked){
					json.odsustvo = checkboxes[i].value;
				}
			}
			//console.log(json)
			document.getElementById("json").value = JSON.stringify(json)
			loadGif();
			document.getElementById("form").submit();
		}

		function exportElementAsImage() {
		    const element = document.getElementsByClassName("jucerasnjiUcinak")[0];
		    if (!element) return;

		    // Hide all buttons
		    const buttons = element.querySelectorAll("button");
		    buttons.forEach(btn => btn.style.display = "none");

		    // Replace all input elements (except ones with class 'checkbox') with divs
		    const inputs = element.querySelectorAll("input");
		    const inputReplacements = [];
		    inputs.forEach(input => {
		        if (input.classList.contains("checkbox")) return; // Ignore inputs with class 'checkbox'

		        const div = document.createElement("div");

		        if (input.classList.contains("iznosInput")) {
		            div.style.cssText = getComputedStyle(input).cssText;
		            div.textContent = brojSaRazmacima(parseFloat(input.value)*0.675);
		        } else {
		            div.style.cssText = getComputedStyle(input).cssText;
		            div.textContent = input.value;
		        }

		        div.className = input.className;
		        div.style.whiteSpace = "pre-wrap";

		        inputReplacements.push({ original: input, replacement: div });
		        input.replaceWith(div);
		    });

		    // Replace all textarea elements with divs
		    const textareas = element.querySelectorAll("textarea");
		    textareas.forEach(textarea => {
		        const div = document.createElement("div");
		        div.style.cssText = getComputedStyle(textarea).cssText;
		        div.textContent = textarea.value;
		        div.className = textarea.className;
		        div.style.whiteSpace = "pre-wrap";

		        inputReplacements.push({ original: textarea, replacement: div });
		        textarea.replaceWith(div);
		    });

		    html2canvas(element, {
		        scale: 1,
		        useCORS: true
		    }).then(canvas => {
		        // Restore original buttons
		        buttons.forEach(btn => btn.style.display = "");

		        // Restore original inputs and textareas
		        inputReplacements.forEach(({ original, replacement }) => {
		            replacement.replaceWith(original);
		        });


		        // Trigger download
		        const link = document.createElement("a");
		        link.download = document.getElementsByClassName("jucerasnjiUcinak")[0].getElementsByTagName("H1")[0].innerHTML.replace(/\./g, '-');
		        link.href = canvas.toDataURL();
		        link.click();
		    });
		}

		function voziloPick(elem){
			elem.parentElement.parentElement.getElementsByClassName("dailySummary")[0].innerHTML = "";
			var voziloName = elem.value;
			var voziloData;
			for(var i=0;i<vozila.vozila.Data.length;i++){
				if(voziloName == vozila.vozila.Data[i].DeviceName){
					voziloData = vozila.vozila.Data[i]
				}
			}

			if(voziloData){
				var summaryTable = document.createElement("TABLE");
				summaryTable.setAttribute("class","dailySummaryTable");
					var tr = document.createElement("TR");
						var th = document.createElement("TH");
						th.innerHTML = "Пређена километража";
						tr.appendChild(th)

						var th = document.createElement("TH");
						th.innerHTML = "Време вожње";
						tr.appendChild(th);

						var th = document.createElement("TH");
						th.innerHTML = "Максимална брзина";
						tr.appendChild(th);

						var th = document.createElement("TH");
						th.innerHTML = "Број наглих кочења";
						tr.appendChild(th);

						var th = document.createElement("TH");
						th.innerHTML = "Број наглих убрзања";
						tr.appendChild(th);
					summaryTable.appendChild(tr);

					var tr = document.createElement("TR");
						var th = document.createElement("TD");
						th.innerHTML = voziloData.dailySummary.DailyDistance.toFixed(2) +" km";
						tr.appendChild(th)

						var th = document.createElement("TD");
						th.innerHTML = sToHHMM(voziloData.dailySummary.DrivingTime);
						tr.appendChild(th);

						var th = document.createElement("TD");
						th.innerHTML = voziloData.dailySummary.MaxSpeed + " km/h";
						tr.appendChild(th);

						var th = document.createElement("TD");
						th.innerHTML = voziloData.dailySummary.NoOfHarshBraking;
						tr.appendChild(th);

						var th = document.createElement("TD");
						th.innerHTML = voziloData.dailySummary.NoOfHarshAccel;
						tr.appendChild(th);
					summaryTable.appendChild(tr);

					
				elem.parentElement.parentElement.getElementsByClassName("dailySummary")[0].appendChild(summaryTable);

				//handle milleage

				voziloData.mileageSummary.reverse();

				for(var i=0;i<voziloData.mileageSummary.length;i++){
					if(voziloData.mileageSummary[i].Distance==0){
						voziloData.mileageSummary.splice(i,1);
						i--;
					}
				}

				var stops = [];
				for(var j=0;j<voziloData.mileageSummary.length;j++){
					var stopStart = voziloData.mileageSummary[j].EndDate;
					var stopEnd = "";
					var stopDuration = 0;
					var stopDurationMS = 0;
					var lokacijaStopa = voziloData.mileageSummary[j].LocationEnd;
					var lokacijaStartaStopa = voziloData.mileageSummary[j].LocationStart;
					var kilometriIzmedjuStopa = 0;
					var voznja = 0;
					if(voziloData.mileageSummary[j+1]){
						stopEnd = voziloData.mileageSummary[j+1].StartDate;
						stopDuration = getTimeDifference(new Date(voziloData.mileageSummary[j+1].StartDate),new Date(voziloData.mileageSummary[j].EndDate))
						stopDurationMS = new Date(voziloData.mileageSummary[j+1].StartDate).getTime() - new Date(voziloData.mileageSummary[j].EndDate).getTime();
						kilometriIzmedjuStopa = voziloData.mileageSummary[j].Distance;
						voznja = getTimeDifference(new Date(voziloData.mileageSummary[j].EndDate),new Date(voziloData.mileageSummary[j].StartDate));
					}else{
						//console.log(clientJson.assets[i].deviceInfo.mileageSummary[j])
						kilometriIzmedjuStopa = voziloData.mileageSummary[j].Distance;
						stopDuration = "U TOKU";
						voznja = voziloData.mileageSummary[j].Duration;
					}
					
					var stopJson = {};
					stopJson.start = stopStart;
					stopJson.end = stopEnd;
					stopJson.trajanje = stopDuration;
					stopJson.lokacija = lokacijaStopa;
					stopJson.kilometraza = kilometriIzmedjuStopa;
					stopJson.voznja = voznja;
					stopJson.trajanjeMS = stopDurationMS;
					stopJson.endOdometar = voziloData.mileageSummary[j].EndOdometer;
					stops.push(stopJson)
				}

				if(voziloData.mileageSummary){
					if(voziloData.mileageSummary.length>0){
						var stopJson = {};
						stopJson.start = " ";
						stopJson.end = voziloData.mileageSummary[0].StartDate;
						stopJson.trajanje = " ";
						stopJson.lokacija = voziloData.mileageSummary[0].LocationStart;
						stopJson.kilometraza = 0;
						stopJson.voznja = 0;
						stopJson.trajanjeMS = 0;
						stops.unshift(stopJson);
					}
				}
				

				var table = document.createElement("TABLE")
				table.setAttribute("class","milleageTable");
					var tr = document.createElement("TR");
						var th = document.createElement("TH");
						th.setAttribute("colspan","6");
						th.innerHTML = "<div class=\"value\" style=\"text-align:center;font-size:20px;padding:10px\">СТОПОВИ (НАВИГАЦИЈА)</div>";
						tr.appendChild(th);
					table.appendChild(tr)
					var tr = document.createElement("TR");
						var th = document.createElement("TH");
						th.setAttribute("class","lokacija")
						th.innerHTML = "Локација стопа";
						tr.appendChild(th);
						
						var th = document.createElement("TH");
						th.setAttribute("class","vreme")
						th.innerHTML = "Почетак стопа";
						tr.appendChild(th);
						
						var th = document.createElement("TH");
						th.setAttribute("class","vreme")
						th.innerHTML = "Крај стопа";
						tr.appendChild(th);
						
						var th = document.createElement("TH");
						th.setAttribute("class","vreme")
						th.innerHTML = "Трајање стопа";
						tr.appendChild(th);
						
						var th = document.createElement("TH");
						th.setAttribute("class","vreme")
						th.innerHTML = "Пређена километража од претходног стопа";
						tr.appendChild(th);
						
						var th = document.createElement("TH");
						th.setAttribute("class","vreme")
						th.innerHTML = "Време вожње од претходног стопа";
						tr.appendChild(th);
					table.appendChild(tr);

					for(var i=0;i<stops.length;i++){
						var tr = document.createElement("TR");
							var th = document.createElement("TD");
							th.setAttribute("class","lokacija")
							if(stops[i].lokacija.split(",")[0] && stops[i].lokacija.split(",")[1] &&  stops[i].lokacija.split(",")[2] && stops[i].lokacija.split(",")[3]){
								th.innerHTML = stops[i].lokacija.split(",")[0] + stops[i].lokacija.split(",")[1]+  stops[i].lokacija.split(",")[2] + stops[i].lokacija.split(",")[3];
							}else{
								th.innerHTML = stops[i].lokacija;
								if(stops[i].lokacija=="Baza - Poslovi grada"){
									th.style.fontWeight = "bold"
								}
							}
							
							tr.appendChild(th);
							
							var th = document.createElement("TD");
							th.setAttribute("class","vreme")
							th.innerHTML = stops[i].start.split("T")[1] ? stops[i].start.split("T")[1] : " ";
							tr.appendChild(th);
							
							var th = document.createElement("TD");
							th.setAttribute("class","vreme")
							th.innerHTML = stops[i].end.split("T")[1] ? stops[i].end.split("T")[1] : " ";
							tr.appendChild(th);
							
							var th = document.createElement("TD");
							th.setAttribute("class","vreme")
							th.innerHTML = stops[i].trajanje;
							tr.appendChild(th);
							
							var th = document.createElement("TD");
							th.setAttribute("class","kilometri")
							th.innerHTML = stops[i].kilometraza.toFixed(2) + " km";
							tr.appendChild(th);
							
							var th = document.createElement("TD");
							th.setAttribute("class","vreme")
							th.innerHTML = stops[i].voznja;
							tr.appendChild(th);

						table.appendChild(tr);
					}
				elem.parentElement.parentElement.getElementsByClassName("dailySummary")[0].appendChild(table);

			}
			
		}

		function prisustvoCheckboxClick(elem){
			var checkboxes = document.getElementById("prisustvo-checkboxes").getElementsByClassName("checkboxWrap");
			for(var i=0;i<checkboxes.length;i++){
				checkboxes[i].classList.remove("checkboxWrapActive");
				checkboxes[i].getElementsByTagName("INPUT")[0].checked = false;
			}
			elem.classList.add("checkboxWrapActive");
			elem.getElementsByTagName("INPUT")[0].checked = true;

		}
	</script>
	<form method="POST" action="/dnevniIzvestaj" style="display:none" id="form">
		<input type="text" name="json" id="json">
	</form>
<%- include ("partials/footer") -%>