<%- include ("partials/header") -%>
<style>
	.pageWidth{
		width:100% !important;
		max-width:none !important;
	}
</style>
	<!-- Include html2canvas from CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

	<script>

		var majstori = <%-JSON.stringify(majstori)%>;
		var izvestaji = <%-JSON.stringify(izvestaji)%>;
		for(var i=0;i<majstori.length;i++){
			majstori[i].izvestaji = [];
			for(var j=0;j<izvestaji.length;j++){
				if(izvestaji[j].majstor==majstori[i].uniqueId){
					majstori[i].izvestaji.push(izvestaji[j]);
				}
			}
		}
		var podelaOpstina = <%-JSON.stringify(podelaOpstina)%>;
		var radovi = ["Замена","Попис","Одгушење","Констатација","Црпљење"];
		majstori.sort((a, b) => a.ime.localeCompare(b.ime));
	</script>
	<div class="pageWidth grupniIzvestaj">
		<div id="nalozi-popover" class="nalozi-popover" style="display:none"></div>
		<div class="overviewForm">
			<div class="naloziWrap">
				<div id="nalozi"></div>
			</div>
			<div class="buttonWrap"><button onclick="exportElementAsImage(document.getElementById('regioni'))">Stampaj</button></div>
			<div id="regioni" class="regioni">
				<div class="absoluteLogo"><img src="/favicon.png"></div>
			</div>
		</div>
		<script>
			var bodPlate = 500;
			var bodNaloga = 2000;
			for(var i=0;i<podelaOpstina.length;i++){
				var wrap = document.createElement("DIV");
				wrap.setAttribute("class","wrapper");
					var title = document.createElement("DIV");
					title.setAttribute("class","title");
					title.innerHTML = "PG "+podelaOpstina[i].naziv +" - Октобар";
					wrap.appendChild(title);
				
					var tableWrap = document.createElement("DIV");
					tableWrap.setAttribute("class","tableWrap");
						var table = document.createElement("TABLE");
							var tr = document.createElement("TR");
								var td = document.createElement("TD");
								td.innerHTML = "Мајстор";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = "Радни дани";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = "Учинак";
								tr.appendChild(td);

								var td = document.createElement("TD");
								td.innerHTML = "Плата";
								tr.appendChild(td);

								var td = document.createElement("TD");
								td.innerHTML = "Казне";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = "Награде";
								tr.appendChild(td)

								for(var j=0;j<radovi.length;j++){
									var td = document.createElement("TD");
									td.innerHTML = radovi[j].charAt(0);
									tr.appendChild(td)
								}

								var td = document.createElement("TD");
								td.innerHTML = "У";
								tr.appendChild(td)

							table.appendChild(tr);

							var ukupnoPoTipu = [];
							var totalesNovca = 0;
							var totalesKazni = 0;
							var totalesNagrada = 0
							for(var j=0;j<radovi.length;j++){
								var json = {};
								json.naziv = radovi[j];
								json.nalozi = 0;
								json.novac = 0;
								ukupnoPoTipu.push(json);
							}
							var ukupnoKazni = 0;
							var ukupnoNagrada = 0;

							for(var j=0;j<majstori.length;j++){
								var kazna = 0;
								var nagrada = 0;
								var kazne = 0;
								var nagrade = 0;
								if(majstori[j].izvestaji.length>0){
									kazna = !isNaN(parseFloat(majstori[j].izvestaji[0].kazna.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[0].kazna.replace(/,/g, ".")) : 0	
									
									nagrada = !isNaN(parseFloat(majstori[j].izvestaji[0].nagrada.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[0].nagrada.replace(/,/g, ".")) : 0	
								}
								
								kazne = kazna;
								ukupnoKazni = ukupnoKazni + kazna;
								nagrade = nagrada
								ukupnoNagrada = ukupnoNagrada + nagrada;
										
								var radniDani = 0;
								for(var l=0;l<majstori[j].izvestaji.length;l++){
									if(majstori[j].izvestaji[l].odsustvo=="Присутан"){
										radniDani++;
									}
									var kazna = !isNaN(parseFloat(majstori[j].izvestaji[l].kazna.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[l].kazna.replace(/,/g, ".")) : 0
									var nagrada = !isNaN(parseFloat(majstori[j].izvestaji[l].nagrada.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[l].nagrada.replace(/,/g, ".")) : 0;
									kazne = kazne + kazna;
									ukupnoKazni = ukupnoKazni + kazna;
									nagrade = nagrade + nagrada
									ukupnoNagrada = ukupnoNagrada + nagrada;
								}


								if(majstori[j].region==podelaOpstina[i].naziv){
									var ukupnoNaloga = 0;
									var novcaniUcinak = 0;
									for(var k=0;k<radovi.length;k++){
										var nalozi = 0;
										for(var l=0;l<majstori[j].izvestaji.length;l++){
											for(var q = 0;q<majstori[j].izvestaji[l].nalozi.length;q++){
												if(majstori[j].izvestaji[l].nalozi[q].tipoviRada.indexOf(radovi[k])>=0){
													nalozi++;
													ukupnoNaloga++;
													var ucinakNaloga = isNaN(parseFloat(majstori[j].izvestaji[l].nalozi[q].ucinak.replace(/,/g, "."))) ?  0 : parseFloat(majstori[j].izvestaji[l].nalozi[q].ucinak.replace(/,/g, "."))
													novcaniUcinak = novcaniUcinak + ucinakNaloga;
													for(var w=0;w<ukupnoPoTipu.length;w++){
														if(ukupnoPoTipu[w].naziv==radovi[k]){
															ukupnoPoTipu[w].nalozi++;
															ukupnoPoTipu[w].novac = ukupnoPoTipu[w].novac+ucinakNaloga;
														}
													}
												}
											}
										}
									}

									var tr = document.createElement("TR");

										var td = document.createElement("TD");
										td.innerHTML = majstori[j].ime;
										tr.appendChild(td);

										var td = document.createElement("TD");
										td.innerHTML = radniDani;
										tr.appendChild(td)

										var td = document.createElement("TD");
										//td.innerHTML = eval(0.4*novcaniUcinak/bodNaloga).toFixed(1);
										td.innerHTML = brojSaRazmacima(novcaniUcinak)+" RSD <br> "+ eval(novcaniUcinak/1000).toFixed(0) + " bodova";
										totalesNovca = totalesNovca + novcaniUcinak;
										tr.appendChild(td);

										var td = document.createElement("TD");
										//td.innerHTML = brojSaRazmacima(novcaniUcinak)+" RSD / "+ eval(novcaniUcinak*0.4/2000).toFixed(0) + " bodova";
										td.innerHTML = brojSaRazmacima(bodoviFromUcinak(novcaniUcinak)*500) + " RSD <br> "+ bodoviFromUcinak(novcaniUcinak).toFixed(0) +" bodova";
										tr.appendChild(td);

										var td = document.createElement("TD");
										//td.innerHTML = eval(kazne/bodPlate).toFixed(1);
										td.innerHTML = brojSaRazmacima(kazne) + " RSD <br> "+eval(kazne/500).toFixed()+ " bodova";
										totalesKazni = totalesKazni + kazne;
										tr.appendChild(td)

										var td = document.createElement("TD");
										//td.innerHTML = eval(nagrade/bodPlate).toFixed(1);
										td.innerHTML = brojSaRazmacima(nagrade);
										totalesNagrada = totalesNagrada + nagrade;
										tr.appendChild(td)


										for(var k=0;k<radovi.length;k++){
											var td = document.createElement("TD");
											var nalozi = 0;
											var novac2 = 0;
											var naloziForElem = [];
											for(var l=0;l<majstori[j].izvestaji.length;l++){
												for(var q = 0;q<majstori[j].izvestaji[l].nalozi.length;q++){
													if(majstori[j].izvestaji[l].nalozi[q].tipoviRada.indexOf(radovi[k])>=0){
														nalozi++;
														console.log(majstori[j].izvestaji[l].nalozi)
														var ucinakNaloga = isNaN(parseFloat(majstori[j].izvestaji[l].nalozi[q].ucinak.replace(/,/g, "."))) ?  0 : parseFloat(majstori[j].izvestaji[l].nalozi[q].ucinak.replace(/,/g, "."));
														novac2 = novac2 + ucinakNaloga;
														naloziForElem.push(majstori[j].izvestaji[l].nalozi[q]);
													}
												}
												
											}
											td.dataset.nalozi = JSON.stringify(naloziForElem);
											td.setAttribute("onmouseenter","showNalozi(this)");
											td.setAttribute("onmouseleave","hideNalozi(this)");
											td.innerHTML = nalozi +" naloga <br> "+brojSaRazmacima(novac2/nalozi)+" RSD/nalog";
											tr.appendChild(td);
										}

										var td = document.createElement("TD");
										td.innerHTML = ukupnoNaloga +" naloga";
										tr.appendChild(td)
									table.appendChild(tr);
								}
							}
							//ukupno
							var tr = document.createElement("TR");
								var td = document.createElement("TD");
								td.innerHTML = "УКУПНО";
								tr.appendChild(td);

								var td = document.createElement("TD");
								td.innerHTML = " "//Radni dani;
								tr.appendChild(td);

								var td = document.createElement("TD");
								/*var ukupnoNovca = 0;
								for(var j=0;j<ukupnoPoTipu.length;j++){
									ukupnoNovca = ukupnoNovca + parseFloat(ukupnoPoTipu[j].novac);
								}*/
								//td.innerHTML = eval(0.4*ukupnoNovca/bodNaloga).toFixed(1);
								td.innerHTML = brojSaRazmacima(totalesNovca)+" RSD <br> "+ eval(totalesNovca/1000).toFixed(0) + " bodova";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = " ";
								tr.appendChild(td);

								var td = document.createElement("TD");
								//td.innerHTML = eval(ukupnoKazni/bodPlate).toFixed(1);
								td.innerHTML = brojSaRazmacima(totalesKazni)+" RSD <br> "+ eval(totalesKazni/500).toFixed(0) + " bodova";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = brojSaRazmacima(totalesNagrada)+" RSD <br> "+ eval(totalesNagrada/500).toFixed(0) + " bodova";
								//td.innerHTML = eval(ukupnoNagrada/bodPlate).toFixed(1);
								tr.appendChild(td)

								for(var j=0;j<ukupnoPoTipu.length;j++){
									var td = document.createElement("TD");
									td.innerHTML = ukupnoPoTipu[j].nalozi + " naloga<br>" + 
									brojSaRazmacima(ukupnoPoTipu[j].novac/ukupnoPoTipu[j].nalozi) + " RSD/nalog";
									tr.appendChild(td);
								}

								var td = document.createElement("TD");
								var ukupnoNaloga = 0;
								var ukupnoNalogaNovac = 0;
								for(var j=0;j<ukupnoPoTipu.length;j++){
									ukupnoNaloga = ukupnoNaloga + ukupnoPoTipu[j].nalozi;
									ukupnoNalogaNovac = ukupnoNalogaNovac + ukupnoPoTipu[j].novac;
								}
								td.innerHTML = ukupnoNaloga + " naloga";
								tr.appendChild(td)

								

								
							table.appendChild(tr);
						tableWrap.appendChild(table);
					wrap.appendChild(tableWrap);



				document.getElementById("regioni").appendChild(wrap);
				

				
			}


			

			function exportElementAsImage(elem) {
			    const element = elem;
			    if (!element) return;

			    // Save original style
			    const originalHeight = element.style.height;
			    const originalOverflow = element.style.overflow;

			    // Expand to full content height
			    element.style.height = element.scrollHeight + "px";
			    element.style.overflow = "visible";

			    html2canvas(element, {
			        scale: 1,
			        useCORS: true
			    }).then(canvas => {
			        // Revert to original style
			        element.style.height = originalHeight;
			        element.style.overflow = originalOverflow;

			        // Trigger download
			        const link = document.createElement("a");
			        link.download = elem.getElementsByClassName("title")[0]?.innerHTML.replace(/\./g, '-') || "image";
			        link.href = canvas.toDataURL();
			        link.click();
			    });
			}


			// Singleton
const popover = document.getElementById('nalozi-popover');
let currentAnchor = null;
let hideTimeout = null;

function buildNaloziTable(nalozi){
  const rows = nalozi.map(n => `
    <tr>
      <td class="broj"><div class="value"><a href="" target="_blank">${n.broj ?? ''}</a></div></td>
      <td class="adresa"><div class="value">${n.adresa ?? ''}</div></td>
      <td class="opis"><div class="value">${n.opis ?? ''}</div></td>
      <td class="komentar"><div class="value">${n.komentarKontrole ?? ''}</div></td>
      <td class="iznos"><div class="value">${brojSaRazmacima(n.ucinak.replace(/,/g, ".")) ?? ''}</div></td>
    </tr>
  `).join('');
  return `<table class="table">${rows}</table>`;
}

function positionPopover(anchor, placement = 'below'){
  const r = anchor.getBoundingClientRect();
  if (placement === 'below') {
    popover.style.left = (r.left + r.width / 2) + 'px';
    popover.style.top  = (r.bottom) + 'px'; // a little gap below the cell
    popover.style.transform = 'translateX(-50%)';
  } else if (placement === 'middle') {
    popover.style.left = (r.left + r.width / 2) + 'px';
    popover.style.top  = (r.top + r.height / 2) + 'px';
    popover.style.transform = 'translate(-50%, -50%)';
  }
}

function showNalozi(anchorTd){
  clearTimeout(hideTimeout);
  const nalozi = JSON.parse(anchorTd.dataset.nalozi || '[]');
  if (!Array.isArray(nalozi) || nalozi.length === 0) return;
  popover.innerHTML = buildNaloziTable(nalozi);
  currentAnchor = anchorTd;
  popover.style.display = 'block';
  positionPopover(anchorTd, 'below'); // or 'middle'
}

function hideNalozi(){
  hideTimeout = setTimeout(() => {
    if (!popover.matches(':hover')) {
      popover.style.display = 'none';
      currentAnchor = null;
    }
  }, 150); // 150ms delay so mouse can travel into the popover
}

popover.addEventListener('mouseenter', () => clearTimeout(hideTimeout));
popover.addEventListener('mouseleave', () => hideNalozi());
window.addEventListener('scroll', () => { if (currentAnchor) positionPopover(currentAnchor); }, { passive:true });
window.addEventListener('resize', () => { if (currentAnchor) positionPopover(currentAnchor); });



		</script>
		<!--<div class="pojedinacno" id="pojedinacno">
		</div>
		<script>
			var danasnjiDan = new Date();
			var prviUmesecu = new Date(danasnjiDan.getFullYear(), danasnjiDan.getMonth(), 1);
			var mainWrap = document.getElementById("pojedinacno")
			for(var i=0;i<podelaOpstina.length;i++){
				var region = document.createElement("DIV");
				region.setAttribute("class","region");
					var mainTitle = document.createElement("DIV");
					mainTitle.setAttribute("class","mainTitle");
					mainTitle.innerHTML = podelaOpstina[i].naziv;
					region.appendChild(mainTitle);
					

					for(var j=0;j<majstori.length;j++){
						if(majstori[j].radneJedinice.indexOf(podelaOpstina[i].radneJedinice)>=0){
							var majstor = majstori[j];
							var majstorWrap = document.createElement("DIV");
							majstorWrap.setAttribute("class","majstorTitle");
								var majstorTitle = document.createElement("DIV");
								majstorTitle.setAttribute("class","majstorTitle");
								majstorTitle.innerHTML = majstori[i].ime;
								majstorWrap.appendChild(majstorTitle);

							region.appendChild(majstorWrap);
							var table = document.createElement("TABLE");
							table.setAttribute()
							var prviUMesecu = new Date(danasnjiDan.getFullYear(), danasnjiDan.getMonth(), 1);
							for(var k=0;k<16;k++){
								
							}
						}
					}
				mainWrap.appendChild(region);
			}
		</script>-->
	</div>
<%- include ("partials/footer") -%>