<%- include ("partials/header") -%>
<style>
	.pageWidth{
		width:100% !important;
		max-width:none !important;
	}
</style>
	<!-- Include html2canvas from CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

	<script>

		var majstori = <%-JSON.stringify(majstori)%>;
		var izvestaji = <%-JSON.stringify(izvestaji)%>;
		for(var i=0;i<majstori.length;i++){
			majstori[i].izvestaji = [];
			for(var j=0;j<izvestaji.length;j++){
				if(izvestaji[j].majstor==majstori[i].uniqueId){
					majstori[i].izvestaji.push(izvestaji[j]);
				}
			}
		}
		var podelaOpstina = <%-JSON.stringify(podelaOpstina)%>;
		var radovi = ["Замена","Попис","Одгушење","Констатација","Црпљење"];
		majstori.sort((a, b) => a.ime.localeCompare(b.ime));
	</script>
	<div class="pageWidth grupniIzvestaj">
		<select id="majstori"></select>
		<script>
			for(var i=0;i<majstori.length;i++){
				var option = document.createElement("OPTION");
				option.setAttribute("value",majstori[i].uniqueId)
				option.innerHTML = majstori[i].ime;
				document.getElementById("majstori").appendChild(option)
			}
		</script>
		<br>
		<input type="date" id="date" oninput="submitForm()">
		<script>
			function submitForm(){
				loadGif();
				window.location.href = "/izvestajMajstora/"+document.getElementById("majstori").value+"/"+document.getElementById("date").value;
			}
		</script>
		<div class="overviewForm">
			<div class="naloziWrap">
				<div class="title">Структура радних налога по мајсторима за дан <input type="date" id="datum-izvestaja" value="<%=date%>" oninput="window.location.href='/izvestajMajstoraPick/'+this.value"></div>
				<script>
					/*document.getElementById("dan").innerHTML = daniUNedelji[(yesterdayServer.getDay() + 6) % 7];
					document.getElementById("datum").innerHTML = getDateAsStringForDisplay(yesterdayServer);
					const danSpan = document.getElementById("dan");
					const datumSpan = document.getElementById("datum");

					// Replace the <span> with its text content
					danSpan.replaceWith(document.createTextNode(danSpan.textContent));
					datumSpan.replaceWith(document.createTextNode(datumSpan.textContent));*/
				</script>
				<div id="nalozi"></div>
				
			</div>
			<div class="buttonWrap"><button onclick="exportElementAsImage(document.getElementById('regioni'))">Stampaj</button></div>
			<div id="regioni" class="regioni">
				<div class="absoluteLogo"><img src="/favicon.png"></div>
			</div>
		</div>
		<script>
			var bodPlate = 500;
			var bodNaloga = 2000;
			for(var i=0;i<podelaOpstina.length;i++){
				var wrap = document.createElement("DIV");
				wrap.setAttribute("class","wrapper");
					var title = document.createElement("DIV");
					title.setAttribute("class","title");
					title.innerHTML = "PG "+podelaOpstina[i].naziv +" - "+reshuffleDate(document.getElementById("datum-izvestaja").value);
					wrap.appendChild(title);
				
					var tableWrap = document.createElement("DIV");
					tableWrap.setAttribute("class","tableWrap");
						var table = document.createElement("TABLE");
							var tr = document.createElement("TR");
								var td = document.createElement("TD");
								td.innerHTML = "Мајстор";
								tr.appendChild(td)

								for(var j=0;j<radovi.length;j++){
									var td = document.createElement("TD");
									td.innerHTML = radovi[j];
									tr.appendChild(td)
								}

								var td = document.createElement("TD");
								td.innerHTML = "Укупно";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = "Учинак";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = "Казне";
								tr.appendChild(td)

								var td = document.createElement("TD");
								td.innerHTML = "Награде";
								tr.appendChild(td)
							table.appendChild(tr);

							var ukupnoPoTipu = [];
							for(var j=0;j<radovi.length;j++){
								var json = {};
								json.naziv = radovi[j];
								json.nalozi = 0;
								json.novac = 0;
								ukupnoPoTipu.push(json);
							}
							var ukupnoKazni = 0;
							var ukupnoNagrada = 0;

							for(var j=0;j<majstori.length;j++){
								var kazna = 0;
								var nagrada = 0;
								if(majstori[j].izvestaji.length>0){
									kazna = !isNaN(parseFloat(majstori[j].izvestaji[0].kazna.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[0].kazna.replace(/,/g, ".")) : 0
									nagrada = !isNaN(parseFloat(majstori[j].izvestaji[0].nagrada.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[0].nagrada.replace(/,/g, ".")) : 0	
								}
								
								kazne = kazna;
								ukupnoKazni = ukupnoKazni + kazna;
								nagrade = nagrada
								ukupnoNagrada = ukupnoNagrada + nagrada;


								if(majstori[j].region==podelaOpstina[i].naziv){
									var tr = document.createElement("TR");
										var td = document.createElement("TD");
										td.innerHTML = majstori[j].ime;
										tr.appendChild(td);

										var ukupnoNaloga = 0;
										var novcaniUcinak = 0;
										var kazne = 0;
										var nagrade = 0;
										for(var k=0;k<radovi.length;k++){
											var td = document.createElement("TD");
											var nalozi = 0;
											for(var l=0;l<majstori[j].izvestaji.length;l++){
												var kazna = !isNaN(parseFloat(majstori[j].izvestaji[l].kazna.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[l].kazna.replace(/,/g, ".")) : 0
												var nagrada = !isNaN(parseFloat(majstori[j].izvestaji[l].nagrada.replace(/,/g, "."))) ? parseFloat(majstori[j].izvestaji[l].nagrada.replace(/,/g, ".")) : 0
												kazne = kazne + kazna;
												ukupnoKazni = ukupnoKazni + kazna;
												nagrade = nagrade + nagrada
												ukupnoNagrada = ukupnoNagrada + nagrada;

												for(var q = 0;q<majstori[j].izvestaji[l].nalozi.length;q++){
													if(majstori[j].izvestaji[l].nalozi[q].tipoviRada.indexOf(radovi[k])>=0){
														nalozi++;
														ukupnoNaloga++;
														novcaniUcinak = novcaniUcinak + parseFloat(majstori[j].izvestaji[l].nalozi[q].ucinak.replace(/,/g, "."));
														for(var w=0;w<ukupnoPoTipu.length;w++){
															if(ukupnoPoTipu[w].naziv==radovi[k]){
																ukupnoPoTipu[w].nalozi++;
																ukupnoPoTipu[w].novac = ukupnoPoTipu[w].novac+parseFloat(majstori[j].izvestaji[l].nalozi[q].ucinak.replace(/,/g, "."));
															}
														}
													}
												}
												
											}
											td.innerHTML = nalozi;
											tr.appendChild(td);
										}

										var td = document.createElement("TD");
										td.innerHTML = ukupnoNaloga;
										tr.appendChild(td)

										var td = document.createElement("TD");
										//td.innerHTML = eval(0.4*novcaniUcinak/bodNaloga).toFixed(1);
										tr.appendChild(td)

										var td = document.createElement("TD");
										//td.innerHTML = eval(kazne/bodPlate).toFixed(1);
										tr.appendChild(td)

										var td = document.createElement("TD");
										//td.innerHTML = eval(nagrade/bodPlate).toFixed(1);
										tr.appendChild(td)
									table.appendChild(tr);
								}
							}
							//ukupno
							var tr = document.createElement("TR");
								var td = document.createElement("TD");
								td.innerHTML = "УКУПНО";
								tr.appendChild(td);
								for(var j=0;j<ukupnoPoTipu.length;j++){
									var td = document.createElement("TD");
									td.innerHTML = ukupnoPoTipu[j].nalozi;
									tr.appendChild(td);
								}

								var td = document.createElement("TD");
								var ukupnoNaloga = 0;
								for(var j=0;j<ukupnoPoTipu.length;j++){
									ukupnoNaloga = ukupnoNaloga + ukupnoPoTipu[j].nalozi;
								}
								td.innerHTML = ukupnoNaloga;
								tr.appendChild(td)

								var td = document.createElement("TD");
								var ukupnoNovca = 0;
								for(var j=0;j<ukupnoPoTipu.length;j++){
									ukupnoNovca = ukupnoNovca + parseFloat(ukupnoPoTipu[j].novac);
								}
								//td.innerHTML = eval(0.4*ukupnoNovca/bodNaloga).toFixed(1);
								tr.appendChild(td)

								var td = document.createElement("TD");
								//td.innerHTML = eval(ukupnoKazni/bodPlate).toFixed(1);
								tr.appendChild(td)

								var td = document.createElement("TD");
								//td.innerHTML = eval(ukupnoNagrada/bodPlate).toFixed(1);
								tr.appendChild(td)
							table.appendChild(tr);
						tableWrap.appendChild(table);
					wrap.appendChild(tableWrap);



				document.getElementById("regioni").appendChild(wrap);
				

				
			}


			/*var table = document.createElement("TABLE");
				var tr = document.createElement("TR");
					var th = document.createElement("TH");
					th.innerHTML = "Мајстор";
					tr.appendChild(th);
					
					for(var i=0;i<radovi.length;i++){
						var th = document.createElement("TH");
						th.innerHTML = radovi[i];
						tr.appendChild(th);	
					}

					var th = document.createElement("TH");
					th.innerHTML = "Укупно";
					tr.appendChild(th);	

				table.appendChild(tr);

				for(var i=0;i<majstori.length;i++){
					var tr = document.createElement("TR");
						var td = document.createElement("TD");
						td.innerHTML = majstori[i].ime;
						tr.appendChild(td);

						var kategorijeRada = [];
						for(var j=0;j<radovi.length;j++){
							var json = {};
							json.kategorija = radovi[j];
							json.kolicina = 0;
							for(var k=0;k<izvestaji.length;k++){
								if(izvestaji[k].majstor==majstori[i].uniqueId){
									for(var l=0;l<izvestaji[k].nalozi.length;l++){
										if(izvestaji[k].nalozi[l].tipoviRada[0]==json.kategorija){
											json.kolicina++;
										}
									}
								}
							}
							kategorijeRada.push(json)
						}
						var ukupno = 0;
						for(var j=0;j<kategorijeRada.length;j++){
							ukupno = ukupno + kategorijeRada[j].kolicina;
						}

						if(ukupno!=0){
							for(var j=0;j<kategorijeRada.length;j++){
								var td = document.createElement("TD");
								td.setAttribute("style","font-weight:500;font-size:20px")
								td.innerHTML = kategorijeRada[j].kolicina;
								tr.appendChild(td);
							}

							var td = document.createElement("TD");
								td.setAttribute("style","font-weight:700;font-size:20px")
							td.innerHTML = ukupno;
							tr.appendChild(td);
						}else{
							var td = document.createElement("TD");
							var odsustvo = "НЕМА ИЗВЕШТАЈА"
							for(var k=0;k<izvestaji.length;k++){
								if(izvestaji[k].majstor==majstori[i].uniqueId){
									odsustvo = izvestaji[k].odsustvo ? izvestaji[k].odsustvo : "НЕДЕФИНИСАНО";
								}
							}
							td.setAttribute("colspan",radovi.length+1)
							td.setAttribute("style","text-align:left;font-weight:500")
							td.innerHTML = odsustvo;
							tr.appendChild(td);
						}

						

						
					table.appendChild(tr);
				}
				var tr = document.createElement("TR");
					var td = document.createElement("TD");
					td.innerHTML = "УКУПНО";
					tr.appendChild(td);

					var kategorijeRada = [];
					for(var j=0;j<radovi.length;j++){
						var json = {};
						json.kategorija = radovi[j];
						json.kolicina = 0;
						kategorijeRada.push(json)
					}

					for(var j=0;j<kategorijeRada.length;j++){
						var td = document.createElement("TD");
						for(var k=0;k<izvestaji.length;k++){
							//if(izvestaji[k].majstor==majstori[i].uniqueId){
								for(var l=0;l<izvestaji[k].nalozi.length;l++){
									if(izvestaji[k].nalozi[l].tipoviRada[0]==kategorijeRada[j].kategorija){
										kategorijeRada[j].kolicina++;
									}
								}
							//}
						}
						td.innerHTML = kategorijeRada[j].kolicina;
						tr.appendChild(td);
					}

					var td = document.createElement("TD");
					var ukupno = 0;
					for(var j=0;j<kategorijeRada.length;j++){
						ukupno = ukupno + kategorijeRada[j].kolicina;
					}
					td.innerHTML = ukupno;
					tr.appendChild(td);
				table.appendChild(tr);
			document.getElementById("nalozi").appendChild(table);*/

			function exportElementAsImage(elem) {
			    const element = elem;
			    if (!element) return;

			    // Save original style
			    const originalHeight = element.style.height;
			    const originalOverflow = element.style.overflow;

			    // Expand to full content height
			    element.style.height = element.scrollHeight + "px";
			    element.style.overflow = "visible";

			    html2canvas(element, {
			        scale: 1,
			        useCORS: true
			    }).then(canvas => {
			        // Revert to original style
			        element.style.height = originalHeight;
			        element.style.overflow = originalOverflow;

			        // Trigger download
			        const link = document.createElement("a");
			        link.download = elem.getElementsByClassName("title")[0]?.innerHTML.replace(/\./g, '-') || "image";
			        link.href = canvas.toDataURL();
			        link.click();
			    });
			}

		</script>
	</div>
<%- include ("partials/footer") -%>