<%- include ("partials/header") -%>
	<script>
		var majstori = <%-JSON.stringify(majstori)%>;
		var nalozi = <%-JSON.stringify(nalozi)%>;
		var dodele = <%-JSON.stringify(dodele)%>;
		var date = "<%=date%>";
	</script>
	<div class="pageWidth">
		<div class="specifikacijeMajstora">
			
		</div>
	</div>
<%- include ("partials/footer") -%>