<%- include ("partials/header") -%>
	<script>
		var nalozi = <%-JSON.stringify(nalozi)%>;
		var majstori = <%-JSON.stringify(majstori)%>;
	</script>
	<div class="pageWidth">
		<div class="otvoreniNalozi">
			<div class="boxesWrap">
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/sumIcon.png"></div>
					<div class="info">
						<div class="title">Укупно налога</div>
						<div class="text"><%=nalozi.length%></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nalogIcon.png"></div>
					<div class="info">
						<div class="title">Приказани налози</div>
						<div class="text" style="font-size:12px">Количина: <span id="ukupno-prikazanih-naloga"></span></div>
						<div class="text" style="font-size:12px">Износ: <span id="iznos-prikazanih-naloga"></span></div>
						<div class="text" style="font-size:12px">Без обрачуна: <span id="neobracunati-prikazanih-naloga"></span></div>
						<div class="text" style="font-size:12px">Са пријемницом: <span id="prijemnica-prikazanih-naloga"></span></div>
						<div class="text" style="font-size:12px">Износи са пријемница: <span id="prijemnica-iznos-prikazanih-naloga"></span></div>
						<div class="text" style="font-size:12px">Апроксимиран укупан износ: <span id="aproksimacija-prikazanih-naloga"></span></div>
					</div>
				</div>
			</div>
			<div class="lightBlueBox">
				<div class="filters">
					<div class="filter">
						<div class="label">Приказани подизвођачи:</div>
						<div class="checkboxes">
							<select id="majstor-naloga" oninput="generateTable()">
								<option value="Svi" default="default">Svi</option>
							</select>
							<script>
								majstori.sort((a, b) => a.ime.localeCompare(b.ime));
								for(var i=0;i<majstori.length;i++){
									var option = document.createElement("OPTION");
									option.setAttribute("value",majstori[i].uniqueId);
									option.innerHTML	=	majstori[i].ime;	
									document.getElementById("majstor-naloga").appendChild(option);
								}
							</script>
						</div>
					</div>
				</div>
				<div class="tableWrap">
					<div class="tableHeader">
						<table>
							<tr>
								<td><div class="value redniBroj">Редни број</div></td>
								<td><div class="value brojNaloga">Број налога</div></td>
								<td><div class="value ikonica">Пр.</div></td>
								<td><div class="value datumNaloga">Датум налога</div></td>
								<td><div class="value status">Статус</div></td>
								<td><div class="value majstor">Подизвоћач</div></td>
								<td><div class="value iznos">Износ</div></td>
							</tr>
						</table>
					</div>
					<div class="table" id="table"></div>
				</div>
			</div>
			<script>
				var naloziToShow = [];
				function generateTable(){
					naloziToShow = [];
					for(var i=0;i<nalozi.length;i++){
						//isfiltriraj ovde
						var filterMajstora = document.getElementById("majstor-naloga").value;

						var nalogToPush = {};
						nalogToPush.broj = nalozi[i].broj;
						nalogToPush.prijemnica = nalozi[i].prijemnica.broj;
						nalogToPush.datum = nalozi[i].datum.datum;
						nalogToPush.statusNaloga = nalozi[i].statusNaloga;
						nalogToPush.majstor = nalozi[i].majstor;
						nalogToPush.ukupanIznos = nalozi[i].ukupanIznos;
						
						if(filterMajstora!="Svi"){
							if(nalogToPush.majstor==filterMajstora){
								naloziToShow.push(nalogToPush);
							}
						}else{
							naloziToShow.push(nalogToPush);
						}
					}

					



					var prikazani		=	naloziToShow.length;
					var ukupanIznos		=	0;
					var naloziBezObracuna=	0;
					var naloziSaPrijemnicom	=	0;
					var iznosSaPrijemnicom	=	0;

					document.getElementById("table").innerHTML = "";
					var table = document.createElement("TABLE");
					for(var i=0;i<naloziToShow.length;i++){
						ukupanIznos = ukupanIznos + parseFloat(naloziToShow[i].ukupanIznos);
						if(parseFloat(naloziToShow[i].ukupanIznos)==0 || isNaN(parseFloat(naloziToShow[i].ukupanIznos))){
							naloziBezObracuna++;
						}
						var tr = document.createElement("TR");
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value redniBroj");
								div.innerHTML = eval(i+1)+".";
								td.appendChild(div);
							tr.appendChild(td);

							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojNaloga");
									var a = document.createElement("A");
									a.setAttribute("href","/nalog/"+naloziToShow[i].broj);
									a.setAttribute("target","_blank");
									a.setAttribute("onclick","this.parentElement.parentElement.parentElement.style='font-weight:500;background-color:rgb(180,180,180)';");
									a.innerHTML = naloziToShow[i].broj;
									div.appendChild(a);
								td.appendChild(div);
							tr.appendChild(td);
							
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value ikonica");
								if(naloziToShow[i].prijemnica!=""){
									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/validiranIcon.png'>";	
									naloziSaPrijemnicom++;
									iznosSaPrijemnicom = iznosSaPrijemnicom + parseFloat(naloziToShow[i].ukupanIznos);
								}
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value datumNaloga");
								div.innerHTML = naloziToShow[i].datum;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value status");
								div.innerHTML = naloziToShow[i].statusNaloga;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value majstor");
								div.innerHTML = getMajstorByCode(naloziToShow[i].majstor).ime ? getMajstorByCode(naloziToShow[i].majstor).ime : "Nijedan";
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value iznos");
								div.innerHTML = brojSaRazmacima(naloziToShow[i].ukupanIznos);
								td.appendChild(div);
							tr.appendChild(td);
							
							

						table.appendChild(tr);
					}
					document.getElementById("table").appendChild(table);

					document.getElementById("ukupno-prikazanih-naloga").innerHTML			=	naloziToShow.length;
					document.getElementById("iznos-prikazanih-naloga").innerHTML			=	brojSaRazmacima(ukupanIznos);
					document.getElementById("neobracunati-prikazanih-naloga").innerHTML		=	naloziBezObracuna;
					document.getElementById("prijemnica-prikazanih-naloga").innerHTML		=	naloziSaPrijemnicom;
					document.getElementById("prijemnica-iznos-prikazanih-naloga").innerHTML	=	brojSaRazmacima(iznosSaPrijemnicom);
					document.getElementById("aproksimacija-prikazanih-naloga").innerHTML	=	brojSaRazmacima(ukupanIznos+naloziBezObracuna*iznosSaPrijemnicom/naloziSaPrijemnicom);
				}

				generateTable();

				

			</script>
		</div>
	</div>
<%- include ("partials/footer") -%>
