<%- include ("partials/header") -%>
	<script>
		var izvestaji = <%-JSON.stringify(izvestaji)%>;
		console.log(izvestaji);
		console.log(user.ucinakNaloga);
		var datum = "<%=datum%>";
		var mesec = datum.split(".")[0];
		var godina = datum.split(".")[1];
	</script>
	<div class="majstorMesec">
		<div class="selectMesec">
			<select id="odabir-meseca" oninput="pickMesec()">
				<option value="06.2025">Јун 2025</option>
				<option value="07.2025">Јул 2025</option>
				<option value="08.2025">Август 2025</option>
			</select>
			<script>
				document.getElementById("odabir-meseca").value = datum;
				function pickMesec(){
					loadGif();
					window.location.href = "/majstor/mesec/"+document.getElementById("odabir-meseca").value;
				}
			</script>
		</div>
		<div class="pageWidth majstorMesec">
			<div class="slobodnaSubota">
				<div class="title">Преостало до слободне суботе!</div>
				<div class="fillWrap">
					<div class="fill" id="subota-fill"></div>
				</div>
				<div class="extra" id="subota-extra"></div>
				<script>
					for(var i=0;i<user.ucinakNaloga.length;i++){
						user.ucinakNaloga[i].odradjeno = 0;
					}
					var monday = getMonday(new Date());
					monday.setHours(0)
					monday.setMinutes(0)
					for(var i=0;i<izvestaji.length;i++){
						var datumIzvestaja = new Date(izvestaji[i].date);
						if(datumIzvestaja.getTime()>=monday.getTime()){
							for(var j=0;j<izvestaji[i].nalozi.length;j++){
								for(var k=0;k<user.ucinakNaloga.length;k++){
									if(izvestaji[i].nalozi[j].tipoviRada.indexOf(user.ucinakNaloga[k].tipNaloga)>=0){
										user.ucinakNaloga[k].odradjeno++;
									}
								}
							}
						}
					}

					function getTotalPercentage(arr) {
						const totalNaloga = arr.reduce((sum, item) => sum + item.brojNaloga, 0);
						const totalOdradjeno = arr.reduce((sum, item) => sum + item.odradjeno, 0);

						if (totalNaloga === 0) return 0;
						return (totalOdradjeno / totalNaloga) * 100;
					}
					document.getElementById("subota-fill").style.width = getTotalPercentage(user.ucinakNaloga)+"%";

					for(var i=0;i<user.ucinakNaloga.length;i++){
						var inlineWrap = document.createElement("DIV");
						inlineWrap.setAttribute("class","inlineWrap");
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline");
							inline.innerHTML = user.ucinakNaloga[i].tipNaloga+": ";
							inlineWrap.appendChild(inline);
							
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline");
							inline.innerHTML = user.ucinakNaloga[i].odradjeno+" / "+user.ucinakNaloga[i].brojNaloga;
							inlineWrap.appendChild(inline);
						document.getElementById("subota-extra").appendChild(inlineWrap);
						

						
					}


				</script>
			</div>
			<div class="plata">
				<div class="main">
					<div class="title">Очекивани учинак</div>
					<div class="value" id="ocekivan-ucinak">3 200 000,00 дин.</div>
					<div class="title">Остварени учинак</div>
					<div class="value" id="ostvaren-ucinak"></div>
					<div class="title">Очекивана плата</div>
					<div class="value" id="ocekivana-plata"></div>
					<div class="title">Остварени бодови</div>
					<div class="value" id="ostvareni-bodovi"></div>
					<div class="title">Тренутна плата</div>
					<div class="value" id="trenutna-plata"></div>
					<script>
						var bod = 500;//1 bod = 500 dinara;
						var ostvarenUcinak = 0;
						for(var i=0;i<izvestaji.length;i++){
							for(var j=0;j<izvestaji[i].nalozi.length;j++){
								ostvarenUcinak = ostvarenUcinak + parseFloat(izvestaji[i].nalozi[j].iznosNaloga);
							}
						}
						document.getElementById("ostvaren-ucinak").innerHTML = brojSaRazmacima(ostvarenUcinak)+" дин.";

						document.getElementById("ocekivana-plata").innerHTML = parseFloat(user.mesecnaPlata)/bod + " бода";

						var nagrade = 0;
						var kazne = 0;
						var radniDani = 0;
						var nalozi = 0;
						for(var i=0;i<izvestaji.length;i++){
							if(izvestaji[i].odsustvo=="Присутан"){
								radniDani++;
							}
							nalozi = nalozi + izvestaji[i].nalozi.length;
							if(!isNaN(parseFloat(izvestaji[i].nagrada))){
								nagrade = kazne + parseFloat(izvestaji[i].nagrada);
							}
							if(!isNaN(parseFloat(izvestaji[i].kazna))){
								kazne = kazne + parseFloat(izvestaji[i].kazna);
							}
						}

						document.getElementById("ostvareni-bodovi").innerHTML = (nagrade-kazne)/bod;

						document.getElementById("trenutna-plata").innerHTML = eval((ostvarenUcinak/3200000)*parseFloat(user.mesecnaPlata)/bod).toFixed(0) + " бода";
					</script>
				</div>
			</div>
			<div class="boxesWrap" style="background-color:rgb(240,240,240);padding:20px">
				<div class="box" style="display:none">
					<div class="title">Радни дани:</div>
					<div class="value" id="radni-dani"></div>
				</div>
				<div class="box" style="display:none">
					<div class="title">Налози:</div>
					<div class="value" id="nalozi"></div>
				</div>
				<div class="box">
					<div class="title">Стимулације:</div>
					<div class="value" id="nagrade"></div>
				</div>
				<div class="box">
					<div class="title">Дестимулације:</div>
					<div class="value" id="kazne"></div>
				</div>
			</div>
			<script>
				
				
				document.getElementById("radni-dani").innerHTML = radniDani;
				document.getElementById("nalozi").innerHTML = nalozi;
				document.getElementById("nagrade").innerHTML = eval(nagrade/bod).toFixed(0) + " boda";
				document.getElementById("kazne").innerHTML = eval(kazne/bod).toFixed(0) + " boda";
			</script>
			<div class="swipeable">
				<div class="arrow arrowLeft" onclick="moveDay(-1)"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/chevronLeft.svg"></div>
				<div class="daily" id="daily"></div>
				<div class="arrow arrowRight" onclick="moveDay(1)"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/chevronRight.svg"></div>
			</div>
			<script>
				var daysInMonth = new Date(godina, mesec, 0).getDate();
				for(var i=1;i<=daysInMonth;i++){
					var date = new Date(godina, mesec - 1, i);
					var day = document.createElement("DIV");
					day.setAttribute("class","day");
					day.setAttribute("data-date",date.getTime());
					day.setAttribute("data-day",date.getDate());
					if(i==1){
						day.setAttribute("style","margin-left:0%");
					}
						var datum = document.createElement("DIV");
						datum.setAttribute("class","datum");
						datum.innerHTML = getDateAsStringForDisplay(date);
						day.appendChild(datum);

						var vremeDolaska = 0;
						var vremeOdlaska = 0;
						var izvestaj = {};
						for(var j=0;j<izvestaji.length;j++){
							if(istiDatum(new Date(izvestaji[j].date),date)){
								izvestaj = izvestaji[j];
							}
						}

						if(izvestaj.odsustvo=="Присутан"){
							vremeDolaska = izvestaj.vremeDolaska;
							vremeOdlaska = izvestaj.vremeOdlaska;
						}
						
						var vremena = document.createElement("DIV");
						vremena.setAttribute("class","vremena boxesWrap");
						if(vremeDolaska!=0 && vremeOdlaska!=0){
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Долазак";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = vremeDolaska;
								inline.appendChild(vreme);
							vremena.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Одлазак";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = vremeOdlaska;
								inline.appendChild(vreme);
							vremena.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Излазак из магацина";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = izvestaj.izlazak;
								inline.appendChild(vreme);
							vremena.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Долазак на први налог";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = izvestaj.prviNalog;
								inline.appendChild(vreme);
							vremena.appendChild(inline);
						}else{
							var odsutanNalov = document.createElement("DIV");
							odsutanNalov.setAttribute("class","odsutanNaslov");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = izvestaj.odsustvo ? izvestaj.odsustvo : "Нема информација";
								odsutanNalov.appendChild(title);
							vremena.appendChild(odsutanNalov);
						}
						day.appendChild(vremena);

						
						var boxesWrap = document.createElement("DIV");
						boxesWrap.setAttribute("class","boxesWrap");
							if(izvestaj.nagrada){
								var box = document.createElement("DIV");
								box.setAttribute("class","box");
								box.setAttribute("style","background-color:#008000")
									var title = document.createElement("DIV");
									title.setAttribute("class","title");
									title.innerHTML = "Стимулација";
									box.appendChild(title);

									var value = document.createElement("DIV");
									value.setAttribute("class","value");
									var bodovi = eval(parseFloat(izvestaj.nagrada)/bod).toFixed(0)=="1" ? " бод" : " бода";
									value.innerHTML = izvestaj.nagrada ? eval(parseFloat(izvestaj.nagrada)/bod).toFixed(0)+bodovi : bodovi;
									box.appendChild(value);

									if(izvestaj.nagrada){
										var value = document.createElement("DIV");
										value.setAttribute("class","note");
										value.innerHTML = izvestaj.nagradaRazlog;
										box.appendChild(value);
									}
									
								boxesWrap.appendChild(box);
							}
							

							if(izvestaj.kazna){
								var box = document.createElement("DIV");
								box.setAttribute("class","box");
								box.setAttribute("style","background-color:rgb(180,0,0)")
									var title = document.createElement("DIV");
									title.setAttribute("class","title");
									title.innerHTML = "Дестимулација";
									box.appendChild(title);

									var value = document.createElement("DIV");
									value.setAttribute("class","value");
									var bodovi = eval(parseFloat(izvestaj.kazna)/bod).toFixed(0)=="1" ? " бод" : " бода";
									value.innerHTML = izvestaj.kazna ? eval(parseFloat(izvestaj.kazna)/bod).toFixed(0)+bodovi : bodovi;
									box.appendChild(value);

									
									var value = document.createElement("DIV");
									value.setAttribute("class","note");
									value.innerHTML = izvestaj.kaznaRazlog;
									box.appendChild(value);

								boxesWrap.appendChild(box);
							}
							
						day.appendChild(boxesWrap);

						

						var title = document.createElement("DIV");
						title.setAttribute("class","subTitle");
						title.innerHTML = "Ваши налози:";
						day.appendChild(title);

						var naloziElem = document.createElement("DIV");
						naloziElem.setAttribute("class","nalozi");
							var imaNaloga = false;
							var counter = 1;

							if(izvestaj.nalozi){
								for(var j=0;j<izvestaj.nalozi.length;j++){
									var nalogElem = document.createElement("DIV");
									nalogElem.setAttribute("class","nalog");
										counter++;
										imaNaloga = true;
										var brojNaloga = document.createElement("DIV");
										brojNaloga.setAttribute("class","brojNaloga");
										brojNaloga.innerHTML = izvestaj.nalozi[j].broj;
										nalogElem.appendChild(brojNaloga);

										var adresa = document.createElement("DIV");
										adresa.setAttribute("class","adresa");
										adresa.innerHTML = "<div class=\"radnaJedinica\">"+izvestaj.nalozi[j].radnaJedinica+"</div><div class=\"adresaNaloga\">"+izvestaj.nalozi[j].adresa+"</div>";
										nalogElem.appendChild(adresa);

										if(izvestaj.nalozi[j].tipoviRada){
											var tipNaloga = document.createElement("DIV");
											tipNaloga.setAttribute("class","tip");
											tipNaloga.innerHTML = "<b>Tip naloga:</b> ";
											for(var k=0;k<izvestaj.nalozi[j].tipoviRada.length;k++){
												tipNaloga.innerHTML += izvestaj.nalozi[j].tipoviRada[k]+",";
											}
											tipNaloga.innerHTML = tipNaloga.innerHTML.toString().slice(0, -1);
											nalogElem.appendChild(tipNaloga);	
										}

										if(izvestaj.nalozi[j].komentarKontrole){
											var tipNaloga = document.createElement("DIV");
											tipNaloga.setAttribute("class","komentar");
											tipNaloga.innerHTML = "<b>Komentar kontrole:</b> ";
											tipNaloga.innerHTML += izvestaj.nalozi[j].komentarKontrole;
											nalogElem.appendChild(tipNaloga);	
										}

										if(izvestaj.nalozi[j].iznosNaloga==0){
											var card = document.createElement("DIV");
											card.setAttribute("class","card");
											nalogElem.appendChild(card)
										}else{
											var card = document.createElement("DIV");
											card.setAttribute("class","cardOpened");
											card.innerHTML = brojSaRazmacima(izvestaj.nalozi[j].iznosNaloga)
											nalogElem.appendChild(card)
										}
										

									naloziElem.appendChild(nalogElem);
								}
							}

							if(!imaNaloga){
								naloziElem.innerHTML = "<div style=\"padding-left:10px;font-size:12px;\">Немате додељених налога за овај датум.</span>";
							}
						day.appendChild(naloziElem);

					document.getElementById("daily").appendChild(day);
				}

				var dayElements = document.getElementById("daily").getElementsByClassName("day");

				var swipeArea = document.getElementById("daily");
				detectSwipe(swipeArea, (direction) => {
				    if (direction === "left") {
				        // Handle left swipe
				        // na levo
				    	moveDay(1);
				    } else if (direction === "right") {
				        // Handle right swipe
				        // na desno (leva na desno)
				    	moveDay(-1);
				    }
				});

				function moveDay(direction){
					//get current active day
					var currentActive = document.getElementById("daily").getElementsByClassName("day")[0].style.marginLeft;
					currentActive = Math.abs(Number(currentActive.split("%")[0]))/100;
					var newActive = currentActive+direction;
					if(newActive<0){
						//first day
						//console.log("FIRST DAY")
					}else if(newActive>(dayElements.length-1)){
						//last day
						console.log("LAST DAY")
					}else{
						//-1 ide sa leva na desno, znaci skrola se unazad sa danima
						//1 ide sa desna na levo, znaci skrola se unapred sa danima
						//console.log(newActive)
						document.getElementById("daily").getElementsByClassName("day")[0].style.marginLeft = "-"+eval(newActive*100)+"%";
					}
				}

				function toDay(dayNumber){
					//0 is first
					document.getElementById("daily").getElementsByClassName("day")[0].style.marginLeft = "-"+eval(dayNumber*100)+"%";
				}

				if(mesec==Number(new Date().getMonth()+1)){
					toDay(new Date().getDate()-1)
				}else{
					toDay(0)
					console.log("Nije trenutni mesec");
				}
			</script>
			<div class="box danas">
				<div class="title">Дана</div>
			</div>
		</div>
	</div>
<%- include ("partials/appfooter") -%>
<%- include ("partials/footer") -%>