<%- include ("partials/header") -%>
	<script>
		var izvestaji = <%-JSON.stringify(izvestaji)%>;
		var checkIns = <%-JSON.stringify(checkIns)%>;
		var datum = "<%=datum%>";
		var danas = new Date("<%=today%>");
		var mesec = datum.split(".")[0];
		var godina = datum.split(".")[1];
	</script>
	<div class="majstorMesec">
		<div class="selectMesec">
			<select id="odabir-meseca" oninput="pickMesec()">
				<option value="09.2025">Септембар 2025</option>
				<option value="10.2025">Октобар 2025</option>
			</select>
			<script>
				document.getElementById("odabir-meseca").value = datum;
				function pickMesec(){
					loadGif();
					window.location.href = "/majstor/mesec/"+document.getElementById("odabir-meseca").value;
				}
			</script>
		</div>
		<div class="pageWidth majstorMesec">
			
			<div class="plata" style="margin-top:18px">
				<div class="plotWrap">
					<div class="ticksWrap" id="ticks"></div>
					<div class="plataFinal">
						<div class="tick" id="plata-tick">
							<div style="position:relative;width:100%;height:100%">
								<div class="value" id="plata-value"></div>
							</div>
						</div>
					</div>
					<div class="fill" id="plata-fill"></div>
				</div>

				<div class="plotWrap" style="margin-top:90px">
					<div class="ticksWrap" id="ticks2"></div>
					<div class="plataFinal">
						<div class="tick" id="plata-tick2">
							<div style="position:relative;width:100%;height:100%">
								<div class="value"  style="width:125px" id="plata-value2"></div>
							</div>
						</div>
					</div>
					<div class="fill" id="plata-fill2"></div>
				</div>
			</div>
			<script>
				var currentS1 = [1000, 2000, 3000, 4000];
				var currentS2 = [200, 320, 440, 560];
				//var currentS2 = [200, 300, 400, 500];

				function renderScales(){

					// Clear previous ticks
					var t1 = document.getElementById("ticks");
					var t2 = document.getElementById("ticks2");
					if (t1) t1.innerHTML = "";
					if (t2) t2.innerHTML = "";

					// SCALE 1 (Bod učinka)
					var steps = 4; // 0%,25%,50%,75%,100%
					var tickValues1 = [0, currentS1[0], currentS1[1], currentS1[2], currentS1[3]];

					for (var i = 0; i <= steps; i++) {
						var percent = i / steps; // 0..1
						var mainTick = document.createElement("DIV");
						mainTick.className = "mainTick";
						mainTick.style.left = percent * 100 + "%";
							var relative = document.createElement("DIV");
							relative.style.cssText = "position:relative;width:100%;height:100%";

								var number = document.createElement("DIV");
								number.className = "number";
								number.innerHTML = tickValues1[i].toFixed(0);
								relative.appendChild(number);
							mainTick.appendChild(relative);
						document.getElementById("ticks").appendChild(mainTick);

						if (i < steps) {
							var nextPercent = (i + 1) / steps;
							for (var j = 0; j < 3; j++) {
								var subPercent = percent + (j + 1) / 4 * (nextPercent - percent);
								var subTick = document.createElement("DIV");
								subTick.className = "subTick";
								subTick.style.left = subPercent * 100 + "%";
								document.getElementById("ticks").appendChild(subTick);
							}
						}
					}

					// SCALE 2 (Bod plate)
					var tickValues2 = [0, currentS2[0], currentS2[1], currentS2[2], currentS2[3]];

					for (var k = 0; k <= steps; k++) {
						var percent2 = k / steps; // aligned with scale 1
						var mainTick2 = document.createElement("DIV");
						mainTick2.className = "mainTick";
						mainTick2.style.left = percent2 * 100 + "%";
							var relative2 = document.createElement("DIV");
							relative2.style.cssText = "position:relative;width:100%;height:100%";

								var number2 = document.createElement("DIV");
								number2.className = "number";
								number2.innerHTML = tickValues2[k].toFixed(0);
								relative2.appendChild(number2);
							mainTick2.appendChild(relative2);
						document.getElementById("ticks2").appendChild(mainTick2);

						if (k < steps) {
							var nextPercent2 = (k + 1) / steps;
							for (var j2 = 0; j2 < 3; j2++) {
								var subPercent2 = percent2 + (j2 + 1) / 4 * (nextPercent2 - percent2);
								var subTick2 = document.createElement("DIV");
								subTick2.className = "subTick";
								subTick2.style.left = subPercent2 * 100 + "%";
								document.getElementById("ticks2").appendChild(subTick2);
							}
						}
					}
				}

				renderScales();

				function setScales(ucinak,kazne){//ucinak i kazne idu u dinarima u funkciju

					// Scale 1 value = din / 1000
					var value1 = ucinak / 1000;

					// Guard max from scale 1 (last tick)
					var max1 = currentS1[3];
					if (!max1 || max1 <= 0) max1 = 1;

					// Percent along scale 1 drives TOP bar
					var percentTop = value1 / max1;
					if (percentTop < 0) percentTop = 0;
					if (percentTop > 1) percentTop = 1;

					// Forward map TOP percent -> raw bottom value (piecewise on scale 2 ticks)
					var tickValues2 = [0, currentS2[0], currentS2[1], currentS2[2], currentS2[3]];
					var segments = 4;
					var seg = Math.floor(percentTop * segments);
					if (seg >= segments) seg = segments - 1;

					var startP = seg / segments;
					var endP = (seg + 1) / segments;
					var t = (percentTop - startP) / (endP - startP);
					var value2Raw = tickValues2[seg] + t * (tickValues2[seg + 1] - tickValues2[seg]);

					var penalty = kazne / 500;

					var value2Adjusted = value2Raw - penalty;
					if (value2Adjusted < 0) value2Adjusted = 0;
					if (value2Adjusted > tickValues2[4]) value2Adjusted = tickValues2[4];

					// Inverse map: bottom value -> percent along scale 2 (for BOTTOM bar)
					var percentBottom = 0;
					(function(){
						// find segment where adjusted value lies
						for (var s = 0; s < 4; s++){
							var a = tickValues2[s];
							var b = tickValues2[s+1];
							if (value2Adjusted <= b || s == 3) {
								var denom = (b - a);
								var tt = denom != 0 ? (value2Adjusted - a) / denom : 0;
								if (tt < 0) tt = 0;
								if (tt > 1) tt = 1;
								percentBottom = (s + tt) / 4;
								break;
							}
						}
					})();

					// Set fills (TOP uses percentTop, BOTTOM adapts to percentBottom)
					document.getElementById("plata-fill").style.width = (percentTop * 100).toFixed(2) + "%";
					document.getElementById("plata-fill2").style.width = (percentBottom * 100).toFixed(2) + "%";
					document.getElementById("plata-tick").style.left = (percentTop * 100).toFixed(2) + "%";
					document.getElementById("plata-tick2").style.left = (percentBottom * 100).toFixed(2) + "%";

					// Labels
					var v1El = document.getElementById("plata-value");
					if (v1El) v1El.innerHTML = value1.toFixed(0);

					var v2El = document.getElementById("plata-value2");
					if (v2El) v2El.innerHTML = value2Adjusted.toFixed(0) + " бодова <br> " + eval(value2Adjusted.toFixed(0)*500).toFixed(0) + " поена";

					return { value1: value1, value2: value2Adjusted, percentTop: percentTop, percentBottom: percentBottom };
				}
			</script>
			<script>
				var vrednostZamene = 4;
				var vrednostOdgusenja = 2;
				var vrednostKonstatacije = 1;
				var penalPoPoenu = 250;//1000 dinara = 1 zamena
				var potrebnaVrednost = 2*vrednostZamene + 2*vrednostOdgusenja + 2*vrednostKonstatacije;
				
				var ostvarenUcinak = 0;
				var penaliStrukture = 0;
				for(var i=0;i<izvestaji.length;i++){
					var zamene = 0;
					var odgusenja = 0;
					var konstatacije = 0;
					var izvestaj = izvestaji[i];
					for(var j=0;j<izvestaji[i].nalozi.length;j++){
						for(var k=0;k<izvestaj.nalozi[j].tipoviRada.length;k++){
							if(izvestaj.nalozi[j].tipoviRada[k]=="Замена"){
								zamene++;
							}else if(izvestaj.nalozi[j].tipoviRada[k]=="Одгушење"){
								odgusenja++;
							}else if(["Попис","Констатација"].indexOf(izvestaj.nalozi[j].tipoviRada[k])>=0){
								konstatacije++;
							}
						}
						var ucinakTemp = isNaN(parseFloat(izvestaji[i].nalozi[j].ucinak.replace(",", "."))) ? 0 : parseFloat(izvestaji[i].nalozi[j].ucinak.replace(",", "."));
						
						if((izvestaji[i].nalozi[j].tipoviRada.indexOf("Одгушење")>=0 || izvestaji[i].nalozi[j].tipoviRada.indexOf("Црпљење")>=0) && izvestaji[i].nalozi[j].tipoviRada.indexOf("Замена")<0){
							ucinakTemp = ucinakTemp*0.74;
						}
						ostvarenUcinak = ostvarenUcinak + ucinakTemp;
					}
					if(izvestaji[i].odsustvo=="Присутан"){
						var ostvarenaStruktura = zamene*vrednostZamene + odgusenja*vrednostOdgusenja + konstatacije*vrednostKonstatacije;
						penaliStrukture = penaliStrukture + Math.max(0,potrebnaVrednost - ostvarenaStruktura)*penalPoPoenu;	
					}
					
				}
				var nagrade = 0;
				var kazne = 0;
				var radniDani = 0;
				var nalozi = 0;
				for(var i=0;i<izvestaji.length;i++){
					if(izvestaji[i].odsustvo=="Присутан"){
						radniDani++;
					}
					nalozi = nalozi + izvestaji[i].nalozi.length;
					if(!isNaN(parseFloat(izvestaji[i].nagrada))){
						nagrade = nagrade + parseFloat(izvestaji[i].nagrada);
					}
					if(!isNaN(parseFloat(izvestaji[i].kazna))){
						kazne = kazne + parseFloat(izvestaji[i].kazna);

					}
				}
				setScales(ostvarenUcinak,kazne - nagrade+penaliStrukture)
				//setScales(1800000*0.74,nagrade - kazne)

			</script>
			<div class="boxesWrap" style="background-color:rgb(240,240,240);padding:20px">
				<div class="box" style="display:none">
					<div class="title">Радни дани:</div>
					<div class="value" id="radni-dani"></div>
				</div>
				<div class="box" style="display:none">
					<div class="title">Налози:</div>
					<div class="value" id="nalozi"></div>
				</div>
				<div class="box">
					<div class="title">Стимулације:</div>
					<div class="value" id="nagrade"></div>
				</div>
				<div class="box">
					<div class="title">Дестимулације:</div>
					<div class="value" id="kazne"></div>
				</div>
			</div>
			<script>
				document.getElementById("radni-dani").innerHTML = radniDani;
				document.getElementById("nalozi").innerHTML = nalozi;
				document.getElementById("nagrade").innerHTML = eval(nagrade/500).toFixed(0) + " boda";
				document.getElementById("kazne").innerHTML = eval(kazne/500).toFixed(0) + " boda";
			</script>
			<div class="swipeable">
				<div class="arrow arrowLeft" onclick="moveDay(-1)"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/chevronLeft.svg"></div>
				<div class="daily" id="daily"></div>
				<div class="arrow arrowRight" onclick="moveDay(1)"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/chevronRight.svg"></div>
			</div>
			<script>
				var daysInMonth = new Date(godina, mesec, 0).getDate();
				for(var i=1;i<=daysInMonth;i++){
					var date = new Date(godina, mesec - 1, i);
					var day = document.createElement("DIV");
					day.setAttribute("class","day");
					day.setAttribute("data-date",date.getTime());
					day.setAttribute("data-day",date.getDate());
					if(i==1){
						day.setAttribute("style","margin-left:0%");
					}
						var datum = document.createElement("DIV");
						datum.setAttribute("class","datum");
						datum.innerHTML = getDateAsStringForDisplay(date) + " - " + daniUNedelji[getWeekDay(date)];
						day.appendChild(datum);

						var vremeDolaska = 0;
						var vremeOdlaska = 0;
						var izvestaj = {};
						for(var j=0;j<izvestaji.length;j++){
							if(istiDatum(new Date(izvestaji[j].date),date)){
								izvestaj = izvestaji[j];
							}
						}

						if(istiDatum(danas,date)){
							if(checkIns[0]){
								vremeDolaska = checkIns[0].timestamp;	
							}else{
								vremeDolaska = "/";
							}
							vremeOdlaska = "/"
							if(checkIns[checkIns.length-1]){
								if(new Date(checkIns[checkIns.length-1].datetime).getHours()>13){
									vremeOdlaska = checkIns[checkIns.length-1].timestamp;
								}
							}
						}else{
							if(izvestaj.odsustvo=="Присутан"){
								vremeDolaska = izvestaj.vremeDolaska;
								vremeOdlaska = izvestaj.vremeOdlaska;
							}
						}
						
						
						var vremena = document.createElement("DIV");
						vremena.setAttribute("class","vremena boxesWrap");
						if(vremeDolaska!=0 && vremeOdlaska!=0){
							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Долазак";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = vremeDolaska;
								inline.appendChild(vreme);
							vremena.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Одлазак";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = vremeOdlaska;
								inline.appendChild(vreme);
							vremena.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Излазак из магацина";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = izvestaj.izlazak ? izvestaj.izlazak : "/";
								inline.appendChild(vreme);
							vremena.appendChild(inline);

							var inline = document.createElement("DIV");
							inline.setAttribute("class","inline box");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = "Долазак на први налог";
								inline.appendChild(title);

								var vreme = document.createElement("DIV");
								vreme.setAttribute("class","vreme value");
								vreme.innerHTML = izvestaj.prviNalog ? izvestaj.prviNalog : "/";
								inline.appendChild(vreme);
							vremena.appendChild(inline);
						}else{
							var odsutanNalov = document.createElement("DIV");
							odsutanNalov.setAttribute("class","odsutanNaslov");
								var title = document.createElement("DIV");
								title.setAttribute("class","title");
								title.innerHTML = izvestaj.odsustvo ? izvestaj.odsustvo : "Нема информација о присуству";
								odsutanNalov.appendChild(title);
							vremena.appendChild(odsutanNalov);
						}
						day.appendChild(vremena);

						
						var boxesWrap = document.createElement("DIV");
						boxesWrap.setAttribute("class","boxesWrap");
							if(izvestaj.nagrada){
								var box = document.createElement("DIV");
								box.setAttribute("class","box");
								box.setAttribute("style","background-color:#008000")
									var title = document.createElement("DIV");
									title.setAttribute("class","title");
									title.innerHTML = "Стимулација";
									box.appendChild(title);

									var value = document.createElement("DIV");
									value.setAttribute("class","value");
									var bodovi = eval(parseFloat(izvestaj.nagrada)/500).toFixed(0)=="1" ? " бод" : " бода";
									value.innerHTML = izvestaj.nagrada ? eval(parseFloat(izvestaj.nagrada)/500).toFixed(0)+bodovi : bodovi;
									box.appendChild(value);

									if(izvestaj.nagrada){
										var value = document.createElement("DIV");
										value.setAttribute("class","note");
										value.innerHTML = izvestaj.nagradaRazlog;
										box.appendChild(value);
									}
									
								boxesWrap.appendChild(box);
							}
							

							if(izvestaj.kazna){
								var box = document.createElement("DIV");
								box.setAttribute("class","box");
								box.setAttribute("style","background-color:rgb(180,0,0)")
									var title = document.createElement("DIV");
									title.setAttribute("class","title");
									title.innerHTML = "Дестимулација";
									box.appendChild(title);

									var value = document.createElement("DIV");
									value.setAttribute("class","value");
									var bodovi = eval(parseFloat(izvestaj.kazna)/500).toFixed(0)=="1" ? " бод" : " бода";
									value.innerHTML = izvestaj.kazna ? eval(parseFloat(izvestaj.kazna)/500).toFixed(1)+bodovi : bodovi;
									box.appendChild(value);

									
									var value = document.createElement("DIV");
									value.setAttribute("class","note");
									value.innerHTML = izvestaj.kaznaRazlog;
									box.appendChild(value);

								boxesWrap.appendChild(box);
							}
							
						day.appendChild(boxesWrap);

						var title = document.createElement("DIV");
						title.setAttribute("class","subTitle");
						title.innerHTML = "Захтевано:";
						day.appendChild(title);
						var skala = document.createElement("DIV");
						skala.setAttribute("class","skala");
							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem zamena");
							skalaItem.innerHTML = "Z";
							skala.appendChild(skalaItem);

							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem zamena");
							skalaItem.innerHTML = "Z";
							skala.appendChild(skalaItem);

							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem odgusenje");
							skalaItem.innerHTML = "O";
							skala.appendChild(skalaItem);

							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem odgusenje");
							skalaItem.innerHTML = "O";
							skala.appendChild(skalaItem);

							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem konstatacija");
							skalaItem.innerHTML = "K";
							skala.appendChild(skalaItem);

							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem konstatacija");
							skalaItem.innerHTML = "K";
							skala.appendChild(skalaItem);

						day.appendChild(skala);


						var title = document.createElement("DIV");
						title.setAttribute("class","subTitle");
						title.style.marginTop = "0px"
						title.innerHTML = "Одрађено:";
						day.appendChild(title);
						var skalaOdradjeno = document.createElement("DIV");
						skalaOdradjeno.setAttribute("class","skala skalaOdradjeno");
						day.appendChild(skalaOdradjeno);

						var title = document.createElement("DIV");
						title.setAttribute("class","subTitle");
						title.style.marginTop = "0px"
						title.innerHTML = "Пенал: ";
						day.appendChild(title)
						var penalStrukture = document.createElement("DIV");
						penalStrukture.setAttribute("class","subSubTitle");
						day.appendChild(penalStrukture);
						

						

						var title = document.createElement("DIV");
						title.setAttribute("class","subTitle");
						title.innerHTML = "Ваши налози:";
						day.appendChild(title);

						var zamene = 0;
						var odgusenja = 0;
						var konstatacije = 0;
						var naloziElem = document.createElement("DIV");
						naloziElem.setAttribute("class","nalozi");
							var imaNaloga = false;
							var counter = 1;

							if(izvestaj.nalozi){
								for(var j=0;j<izvestaj.nalozi.length;j++){
									var nalogElem = document.createElement("DIV");
									nalogElem.setAttribute("class","nalog");
										counter++;
										imaNaloga = true;
										var brojNaloga = document.createElement("DIV");
										brojNaloga.setAttribute("class","brojNaloga");
										brojNaloga.innerHTML = izvestaj.nalozi[j].broj;
										nalogElem.appendChild(brojNaloga);

										var adresa = document.createElement("DIV");
										adresa.setAttribute("class","adresa");
										adresa.innerHTML = "<div class=\"radnaJedinica\">"+izvestaj.nalozi[j].radnaJedinica+"</div><div class=\"adresaNaloga\">"+izvestaj.nalozi[j].adresa+"</div>";
										nalogElem.appendChild(adresa);

										if(izvestaj.nalozi[j].tipoviRada){
											var tipNaloga = document.createElement("DIV");
											tipNaloga.setAttribute("class","tip");
											tipNaloga.innerHTML = "<b>Tip naloga:</b> ";
											for(var k=0;k<izvestaj.nalozi[j].tipoviRada.length;k++){
												if(izvestaj.nalozi[j].tipoviRada[k]=="Замена"){
													zamene++;
												}else if(izvestaj.nalozi[j].tipoviRada[k]=="Одгушење"){
													odgusenja++;
												}else if(["Попис","Констатација"].indexOf(izvestaj.nalozi[j].tipoviRada[k])>=0){
													konstatacije++;
												}
												tipNaloga.innerHTML += izvestaj.nalozi[j].tipoviRada[k]+",";
											}
											tipNaloga.innerHTML = tipNaloga.innerHTML.toString().slice(0, -1);
											nalogElem.appendChild(tipNaloga);	
										}

										if(izvestaj.nalozi[j].komentarKontrole){
											var tipNaloga = document.createElement("DIV");
											tipNaloga.setAttribute("class","komentar");
											tipNaloga.innerHTML = "<b>Komentar kontrole:</b> ";
											tipNaloga.innerHTML += izvestaj.nalozi[j].komentarKontrole;
											nalogElem.appendChild(tipNaloga);	
										}


										if(!izvestaj.nalozi[j].ucinak){
											var card = document.createElement("DIV");
											card.setAttribute("class","card");
											nalogElem.appendChild(card)
										}else{
											var card = document.createElement("DIV");
											card.setAttribute("class","cardOpened");
											var value = parseFloat(izvestaj.nalozi[j].ucinak.replace(",", "."));
											if((izvestaj.nalozi[j].tipoviRada.indexOf("Одгушење")>=0 || izvestaj.nalozi[j].tipoviRada.indexOf("Црпљење")>=0) && izvestaj.nalozi[j].tipoviRada.indexOf("Замена")<0){
												value = value*0.74;
											}
											value = value /1000;

											card.innerHTML = value.toFixed(1)
											nalogElem.appendChild(card)
										}
										

									naloziElem.appendChild(nalogElem);
								}
							}

							if(!imaNaloga){
								naloziElem.innerHTML = "<div style=\"padding-left:10px;font-size:12px;\">Немате додељених налога за овај датум.</span>";
							}
						day.appendChild(naloziElem);
						


						if(izvestaj.nalozi){
							if(izvestaj.nalozi.length>0){
								
								var ostvarenaVrednost = zamene*vrednostZamene + odgusenja*vrednostOdgusenja + konstatacije*vrednostKonstatacije;
								penalStrukture.innerHTML = Math.max(potrebnaVrednost-ostvarenaVrednost,0)*penalPoPoenu + " поена";
							}
						}
						
						
						
						for(var j=0;j<zamene;j++){
							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem zamena");
							skalaItem.innerHTML = "Z";
							skalaOdradjeno.appendChild(skalaItem);
						}

						for(var j=0;j<odgusenja;j++){
							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem odgusenje");
							skalaItem.innerHTML = "O";
							skalaOdradjeno.appendChild(skalaItem);
						}

						for(var j=0;j<konstatacije;j++){
							var skalaItem = document.createElement("DIV");
							skalaItem.setAttribute("class","skalaItem konstatacija");
							skalaItem.innerHTML = "K";
							skalaOdradjeno.appendChild(skalaItem);
						}

					document.getElementById("daily").appendChild(day);
				}

				var dayElements = document.getElementById("daily").getElementsByClassName("day");

				var swipeArea = document.getElementById("daily");
				detectSwipe(swipeArea, (direction) => {
				    if (direction === "left") {
				        // Handle left swipe
				        // na levo
				    	moveDay(1);
				    } else if (direction === "right") {
				        // Handle right swipe
				        // na desno (leva na desno)
				    	moveDay(-1);
				    }
				});

				function moveDay(direction){
					//get current active day
					var currentActive = document.getElementById("daily").getElementsByClassName("day")[0].style.marginLeft;
					currentActive = Math.abs(Number(currentActive.split("%")[0]))/100;
					var newActive = currentActive+direction;
					if(newActive<0){
						//first day
						//console.log("FIRST DAY")
					}else if(newActive>(dayElements.length-1)){
						//last day
						console.log("LAST DAY")
					}else{
						//-1 ide sa leva na desno, znaci skrola se unazad sa danima
						//1 ide sa desna na levo, znaci skrola se unapred sa danima
						//console.log(newActive)
						document.getElementById("daily").getElementsByClassName("day")[0].style.marginLeft = "-"+eval(newActive*100)+"%";
					}
				}

				function toDay(dayNumber){
					//0 is first
					document.getElementById("daily").getElementsByClassName("day")[0].style.marginLeft = "-"+eval(dayNumber*100)+"%";
				}

				if(mesec==Number(new Date().getMonth()+1)){
					toDay(new Date().getDate()-1)
				}else{
					toDay(0)
					console.log("Nije trenutni mesec");
				}
			</script>
			<!--<div class="box danas">
				<div class="title">Дана</div>
			</div>-->
		</div>
	</div>
<%- include ("partials/appfooter") -%>
<%- include ("partials/footer") -%>